<!-- @Author: Sayaboc, Jonathan -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Update Member Role</title>
<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/app/font-awesome.min.css">

<link rel="stylesheet" type="text/css"
	href="/css/app/scheduling/scheduling.common.css">
<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
<script th:src="@{/js/app/popper.min.js}"></script>
<script th:src="@{/js/app/bootstrap.min.js}"></script>
</head>



<body>
	<div th:insert="fragments/general.html :: header"></div>
	<form id="roleForm" name="roleForm" action="#"
		th:action="@{/roletype/update/{roleId}(roleId=${updateRoleTypeForm.id})}"
		th:object="${updateRoleTypeForm}" method="post">
		<div class="container mt-5">
			<h3>
				<i class="fa fa-calendar-o"></i> Update Role
			</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<p>Please input your desired Role Name and Role Description</p>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Role Name*</label>
						<div class="col-lg-5">
							<input type="text" name="rolename" id="rolename"
								class="form-control" placeholder="Enter Role Type"
								th:value="*{rolename}" />
						</div>
						<span class="text-danger er" id="rolename_error"
							th:text="${roleNameError}"> </span>
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Role Description*</label>
						<div class="col-lg-5 d-inline">
							<textarea name="roledesc" id="roledesc" class="form-control"
								rows="10" cols="50" placeholder="Enter Description of Role Type"
								th:field="*{roledesc}"></textarea>
						</div>
						<span class="text-danger er" id="roledesc_error"
							th:text="${roleDescError}"> </span>

					</div>
					<div class="float-right">
						<input type="submit" class="btn btn-success" value="Submit" /> <a
							class="btn btn-danger" th:href="@{/roletype/load}">Cancel</a>

					</div>

				</div>
			</div>
		</div>
	</form>
	<!--Success Modal-->
	<div class="modal fade" id="successModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm text-center">
			<div class="modal-content">
				<div class="modal-header alert-success">
					<h5 class="modal-title text-white">Success!</h5>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label class="col-lg-12 col-form-label">You have
							successfully updated this role.</label>
					</div>
					<div class="modal-footer">
						<a th:href=@{/roletype/load}><button type="submit"
								name="submit" value="submit" class="btn btn-primary">OK</button></a>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Success Modal End-->

	<!--Invalid Modal-->
	<div class="modal fade" id="invalidModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm text-center">
			<div class="modal-content">
				<div class="modal-header alert-success">
					<h5 class="modal-title">Failed to create</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label class="col-lg-12 col-form-label" id="existingRoleType">
							The specified role type is already exists. Please change the Role
							Name.</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Invalid Modal End-->
	<!-- </form> -->
	<footer th:replace="fragments/general.html :: footer"></footer>

	<script th:inline="javascript">
	
		//
		var $form = $('#roleForm');
		$form.on('submit', function(e) {
			//prevent default thymeleaf action 
			e.preventDefault();
			$.ajax({
				url : $form.attr('action'),
				type : 'post',
				data : $form.serialize(),
				success : function(response) {
					if (response.includes("_error")) {
						var parser = new DOMParser();
						var responseHTML = parser.parseFromString(response, 'text/html');
						//set response roleForm html string value to formElement
						var formElement = responseHTML.getElementById('roleForm'); 
						
						//replace the form elements with formElement
						$('#roleForm').replaceWith(formElement) ;
						
					} else {
						var modal = $('#successModal');
						//add class to modal
						modal.addClass('show');
						//add css attribute to modal
						modal.css('display', 'block');
						modal.css('background', 'rgba(0.1,0,0,0.3)')
					}
				}
			});
		})

	</script>

</body>
</html>