<!-- @Author: Sayaboc, Jonathan -->
<!-- @Author: Sinda, Chaniza  -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Update Member Role</title>
<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/app/font-awesome.min.css">

<link rel="stylesheet" type="text/css"
	href="/css/app/scheduling/scheduling.common.css">
<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
<script th:src="@{/js/app/popper.min.js}"></script>
<script th:src="@{/js/app/bootstrap.min.js}"></script>
</head>

<body>
	<div th:insert="fragments/general.html :: header"></div>
	<form id="roleForm" name="roleForm" action="#"
		th:action="@{/roletype/update/{roleId}(roleId=${updateRoleTypeForm.id})}"
		th:object="${updateRoleTypeForm}" method="post">
		<div class="container mt-5">
			<h3>
				<i class="fa fa-calendar-o"></i> Update Role
			</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<p>Please input your desired Role Name and Role Description</p>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Role Name</label>
						<div class="col-lg-5">
							<input type="text" name="rolename" id="rolename"
								class="form-control" placeholder="Enter Role Type"
								th:value="*{rolename}" maxlength="40" autofocus />
						</div>
						<span class="text-danger er" id="rolename_error"> </span>
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Role Description</label>
						<div class="col-lg-5 d-inline">
							<textarea name="roledesc" id="roledesc" class="form-control"
								rows="10" cols="50" placeholder="Enter Description of Role Type"
								th:field="*{roledesc}" maxlength="120"></textarea>
						</div>
						<span class="text-danger er" id="roledesc_error"> </span>

					</div>
					<div class="float-right">
						<input id="submit_btn" type="button" class="btn btn-success"
							data-dismiss="modal" data-toggle="modal"
							data-target="#confirmUpdateModal"
							value="Submit" th:attr="onclick=|validateForm()|" disabled /> <a
							class="btn btn-danger" th:href="@{/roletype/load/1}">Cancel</a>

					</div>

				</div>
			</div>
		</div>
	</form>
	
	<!--Confirm Update Modal-->
	<div class="modal fade" id="confirmUpdateModal" tabindex="-1"
		data-backdrop="static" data-keyboard="false" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true"
		th:object="${updateRoleTypeForm}">
		<div class="modal-dialog modal-sm text-center">
			<div class="modal-content">
				<div class="modal-header alert-warning">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">×</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label class="col-lg-12 col-form-label">Are you sure you
							want to update the selected course category?</label>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" id="confirmUpdateBtn">Confirm
						Update</button>
					<input type="button" class="btn btn-primary" data-dismiss="modal"
						value="Back">
				</div>
			</div>
		</div>
	</div>
	<!--Confirm Update Modal End-->

	<!--Success Modal-->
	<div class="modal fade" id="successModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm text-center">
			<div class="modal-content">
				<div class="modal-header alert-success">
					<h5 class="modal-title">Update Success!</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label class="col-lg-12 col-form-label">You have
							successfully updated this role.</label>
					</div>
					<div class="modal-footer">
						<a th:href=@{/roletype/load/1}><button type="submit"
								name="submit_button" value="submit" class="btn btn-primary">OK</button></a>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Success Modal End-->

	<footer th:replace="fragments/general.html :: footer"></footer>

	<script th:inline="javascript">
		var roleNameErrorCount = 0;
		var roleDescErrorCount = 0;
		var specialChars = /[^a-zA-Z0-9 ]/g;
		
		/*<![CDATA[*/
		var roletypeList = /*[[${roletypeList}]]*/'default';
		var roleId = /*[[${roleId}]]*/'default';
		/*]]>*/
		
		/* ========================
		*  ROLE NAME VALIDATIONS
		*  ========================
		*/
		$("#rolename").on("input",function() {
			<!--removed all multi spaces and assign to a var-->
			var rName = this.value.replace(/ +(?= )/g,'');
			
			<!--duplicate rolename check-->
			if (roleNameExist(rName.trim(), roleId)) {
				$("#rolename_error").text("Role Name already exists in the table");
				roleNameErrorCount++;
			}

			<!--invalid rolename check-->
			else if(this.value.match(specialChars)){
				$("#rolename_error").text("Role Name is invalid, please omit special characters");
				roleNameErrorCount++;
			}

			<!--rolename length check-->
			else if (this.value.length == 40) {
				$("#rolename_error").text("Role Name is too long");
				roleNameErrorCount++;
			}

			<!--rolename empty check-->
			else if(this.value.trim() == ""){
				$("#rolename_error").text("Please enter a Role Name");
				roleNameErrorCount++;
			}else{
				$("#rolename_error").text("");
				roleNameErrorCount = 0;
			} 
			
			<!--enable/disable submit button-->
			if(roleNameErrorCount == 0 && roleDescErrorCount == 0){
				$('#submit_btn').removeAttr('disabled');
			}else{
				$('#submit_btn').removeAttr('disabled');
				$('#submit_btn').attr('disabled', true);
			}
		});
		
		
		/* ============================
		*  ROLE DESCRIPTION VALIDATIONS
		*  ============================
		*/
		$("#roledesc").on("input",function() {
			
			<!--roledesc length check-->
			if (this.value.length == 120) {
				$("#roledesc_error").text("Role Description is too long");
				roleDescErrorCount++;
			}

			<!--roledesc empty check-->
			else if(this.value.trim() == ""){
				$("#roledesc_error").text("Please enter a Role Description");
				roleDescErrorCount++;
			}else{
				$("#roledesc_error").text("");
				roleDescErrorCount = 0;
			} 
			
			<!--enable/disable submit button-->
			if(roleNameErrorCount == 0 && roleDescErrorCount == 0){
				$('#submit_btn').removeAttr('disabled');
			}else{
				$('#submit_btn').removeAttr('disabled');
				$('#submit_btn').attr('disabled', true);
			}
		});
	
		
		function validateForm(){		
			$('#confirmUpdateModal').modal('show');
			$('#confirmUpdateBtn').click(function() {
				if (roleDescErrorCount <= 0 && roleNameErrorCount <= 0) {
						$('#confirmUpdateModal').modal('hide');
		    			$('#successModal').modal('show');
		    			$("#roleForm").submit();
		    	}
			});
		}
		
		<!--function for duplicate checking-->
		function roleNameExist(rolename, id) {
		  return roletypeList.some(function(role) {
		    return role.rolename.toLowerCase() === rolename.toLowerCase() && role.id != id;
		  }); 
		}
		
		<!--autofocus, place cursor at the end of the input text-->
		$(function() {
			$("[autofocus]").on("focus", function() {
			    if (this.setSelectionRange) {
			      var len = this.value.length * 2;
			      this.setSelectionRange(len, len);
			    } else {
			      this.value = this.value;
			    }
			    this.scrollTop = 999999;
			}).focus();
		});
	</script>
</body>
</html>