
<!-- @Author:Rondina, Cherry Ann-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Create Member Role</title>
<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/app/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/app/scheduling/scheduling.common.css">
<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
<script th:src="@{/js/app/popper.min.js}"></script>
<script th:src="@{/js/app/bootstrap.min.js}"></script>
</head>



<body>
	<div th:insert="fragments/general.html :: header"></div>
	<form id="roleForm" name="roleForm" action="#" th:action="@{/roletype/create}"
		th:object="${create}" method="post">
		<div class="container mt-5">
			<h3>
				<i class="fa fa-calendar-o"></i> Create Role
			</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<p>Please input your desired Role Name and Role Description</p>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Role Name*</label>
						<div class="col-lg-5">
							<input type="text" id="rolename" name="rolename"
								class="form-control" placeholder="Enter Role Type"
								maxlength="40">
						</div>
						<span class="text-danger er" id="rolename_error"> </span>
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Role Description*</label>
						<div class="col-lg-5">
							<textarea name="roledesc" id="roledesc" class="form-control"
								rows="10" cols="50" placeholder="Enter Description of Role Type"
								maxlength="120"></textarea>
						</div>
						<span class="text-danger er" id="roledesc_error"> </span>
					</div>
					<div class="form-group float-right">
						<input type=button class="btn btn-success" value="Submit" th:attr="onclick=|validateForm()|"> <a
							class="btn btn-danger" th:href="@{/dashboard}">Cancel</a>

					</div>

				</div>
			</div>
		</div>

		<!--Success Modal-->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title text-white">Success!</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">You have
								successfully created this role.</label>
						</div>
						<div class="modal-footer">
							<a th:href=@{/roletype/create}><button type="submit"
									name="submit_button" class="btn btn-primary">OK</button></a>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Success Modal End-->
	</form>
	<footer th:replace="fragments/general.html :: footer"></footer>


	<script th:inline="javascript">
	
		var roleNameErrorCount = 0;
		var roleDescErrorCount = 0;
		var specialChars = /[^a-zA-Z0-9 ]/g;
		
		/*<![CDATA[*/
		var roletypeList = /*[[${roletypeList}]]*/'default';
		var roleId = /*[[${roleId}]]*/'default';
		/*]]>*/
		
		
		//returns true if rolename exists in the object
		function roleNameExist(rolename) {
		  return roletypeList.some(function(role) {
		    return role.rolename.toLowerCase() === rolename.toLowerCase();
		  }); 
		}
		
		/* ========================
		*  On input Validation 
		*  ========================
		*/
		
		//rolename validation
		$("#rolename").on("input",function() {
			if (roleNameExist(this.value)) {
				$("#rolename_error").text("Role Name already exists in the table");
				roleNameErrorCount++;
			}else if(this.value.match(specialChars)){
				$("#rolename_error").text("Role Name is invalid, please omit special characters");
				roleNameErrorCount++;
			}else if (this.value.length == 40) {
				$("#rolename_error").text("Role Name is too long");
				roleNameErrorCount++;
			}else{
				$("#rolename_error").text("");
			}
			
		});

		//roledesc validation
		$("#roledesc").on("input",function() {
			var erMessage = "Role Description is too long";
			//length check
			if (this.value.length == 120) {
				$("#roledesc_error").text(erMessage);
				roleDescErrorCount++;
			}else{
				$("#roledesc_error").text("");
			}
		});

		function validateForm(){
	    	var rolename = $('#rolename').val();
	    	var roledesc = $('#roledesc').val();
	    	
	    	if(rolename == ""||roleNameExist(rolename) || rolename.match(specialChars) || 
	    			rolename.length == 40 || roledesc.length == 120 || roledesc == ""){
	    		
	    		//Empty rolename validation
	    		if (rolename == "") {
		    		roleNameErrorCount++;
		            $("#rolename_error").text("Please enter a Role Name");
		    	}
	    		//Empty roledesc validation
	    		if (roledesc == "") {
		    		roleDescErrorCount++;
		    		roleDescError = "Please enter a Role Description"; 
		    		$("#roledesc_error").text(roleDescError);
		    	}
	    		
	    	}else{
	    		roleNameErrorCount = 0;
	    		roleDescErrorCount = 0;
	    	}
			
	    	if (roleDescErrorCount <= 0 && roleNameErrorCount <= 0) {
				//clear error
	    		$("#roledesc_error").text("");
	    		$("#rolename_error").text("");
	    		
				//show modal
	    		$('#successModal').modal('show');
	    		//put 2 seconds delay
	    		setTimeout(function(){
	    			$("#roleForm").submit();
	     		}, 2000);
	    		
	    	}
		}
	</script>
</body>
</html>
