<!-- @Author: Naval, Rosalyn-->
<!-- @Author: Cui, Patricia-->
<!-- @Author: Labador, Sweet Ophaline-->
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Manage Member Role</title>
<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/app/scheduling/scheduling.common.css">
<link rel="stylesheet" type="text/css" href="/css/app/roletype/roletype.common.css">
<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
<script th:src="@{/js/app/popper.min.js}"></script>
<script th:src="@{/js/app/bootstrap.min.js}"></script>
<script th:src="@{/js/viewRoleType.js}"></script>
</head>
<body>
	<!--Confirm Modal-->
	<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true"
		th:object="${deleteRoleTypeForm}">
		<div class="modal-dialog modal-sm text-center">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-group row">
						<input type="hidden" id="roleId" name="roleId"></input>
						<p th:text="${param.roleId}" hidden=true></p>
						<label class="col-lg-12 col-form-label">Are you sure you
							want to delete this Role Type?</label>
					</div>
				</div>
				<div class="modal-footer">
					<form class="form-horizontal"
						th:action="@{/roletype/__${param.roleId}__/delete}" method="post">
						<button type="submit" class="btn btn-danger">Confirm
							Deletion</button>
					</form>
					<input type="button" class="btn btn-primary" data-dismiss="modal"
						value="Back">
				</div>
			</div>
		</div>
	</div>
	<!--Confirm Modal End-->
	<!-- Info modal -->
	<div class="modal fade" id="infoModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<form id="infoModalFormId"
			th:action="@{/roletype/__${roleIdInput}__/delete}" method="get">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Role Type Information</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<input type="hidden" id="roleIdInput" name="roleIdInput"></input>
							<label class="col-lg-3 col-form-label">Role Type:</label>
							<div class="col-lg-9">
								<label class="col-lg-3 col-form-label" id="roleName"
									name="roleName"></label>
							</div>
							<label class="col-lg-3 col-form-label">Role Description:</label>
							<div class="col-lg-9">
								<label class="col-lg-3 col-form-label" id="roleDesc"
									name="roleDesc"></label>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-danger" href="#confirmModal">Delete</button>
						<input type="button" class="btn btn-primary" data-dismiss="modal"
							value="Back">
					</div>
				</div>
			</div>
		</form>
	</div>
	<!-- Info modal End-->
	<!--Success Modal-->
	<div class="modal fade" id="successModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm text-center">
			<div class="modal-content">
				<div class="modal-body">
					<div class="form-group row">
						<input type="hidden" id="roleId" name="roleId"></input>
						<p th:text="${param.roleId}" hidden=true></p>
						<label class="col-lg-12 col-form-label"
							th:text="${deleteSuccessMessage}"></label>
					</div>
				</div>
				<div class="modal-footer"></div>
			</div>
		</div>
	</div>
	<!--Success Modal End-->
	<div th:insert="fragments/general.html :: header"></div>
	<div class="container mt-5">
		<form class="form-horizontal" action="#"
			th:action="@{/roletype/search/1}" method="get">
			<h3>
				<i class="fa fa-calendar-o"></i> Search Role Types
			</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Search:</label>
						<div class="col-lg-3">
							<input type="Text" class="form-control" th:name="searchRole"
								id="searchRole">
						</div>
						<a class="fa fa-refresh fa-lg col-sm-1 mt-2"
							style="text-decoration: none; color: black"
							th:href="@{/roletype/load/1}"></a>
					</div>
					<div class="float-right">
						<input type="submit" class="btn btn-success" value="Submit">
					</div>
				</div>
			</div>
		</form>
		<div class="card mb-5">
			<div class="card-header">
				<h3>
					<i class="fa fa-cogs"></i> Manage Role Types
				</h3>
			</div>
			<div class="card-body">
				<div style="overflow-x: auto; display: block; white-space: nowrap;">
					<a class="btn btn-info pull-right" th:href="@{/roletype/create}">Add
						New Role</a><br> <br>
					<table class="table table-bordered text-center">
						<thead>
							<th style="width: 20%;">Role Type</th>
							<th>Role Description</th>
							<th style="width: 20%;">Action</th>
						</thead>
						<tbody th:each="role : *{roletypeList}">
							<tr>
								<td th:text="${role.rolename}"></td>
								<td th:text="${role.roledesc}"></td>
								<td><a id="updateButton" type="submit"
									class="btn btn-success"
									th:href="@{/roletype/update/{roleId}(roleId=${role.id})}">Update</a>
									<input type="submit" value="Delete" class="btn btn-danger"
									th:attr="onclick=|deleteButton('${role.id}','${role.rolename}','${role.roledesc}')|"></input>
								</td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(roletypeList)}">
						<div class="alert alert-dismissible alert-danger text-center">
							<strong>No Role Types Available</strong>
						</div>
					</div>
				</div>
				<div th:if="${totalPage &gt; 1}">
					<div class="pcenter">
						<div class="pagination">
							<a th:href="@{'/roletype/load/' + ${currentPage-1}}" th:if="${currentPage &gt; 1}">&laquo;</a>
							<th:block th:each="i: ${#numbers.sequence(1, totalPage)}">
								<a th:href="@{'/roletype/load/' + ${i}}" th:text="${i}" th:class="${i==currentPage} ? active"></a>
							</th:block>
							<a th:href="@{'/roletype/load/' + ${currentPage+1}}" th:if="${currentPage &lt; totalPage}">&raquo;</a>
						</div>
					</div>
				</div>
				<div th:if="${searchtotalPage &gt; 1}">
					<div class="pcenter">
						<div class="pagination">
							<a th:href="@{'/roletype/load/' + ${searchcurrentPage-1}}" th:if="${searchcurrentPage &gt; 1}">&laquo;</a>
							<th:block th:each="i: ${#numbers.sequence(1, searchtotalPage)}">
								<a th:href="@{'/roletype/search/' + ${i}(searchRole=${SEARCH_ROLE})}" th:text="${i}" 
								th:class="${i==searchcurrentPage} ? active"></a>
							</th:block>
							<a th:href="@{'/roletype/load/' + ${searchcurrentPage+1}}" th:if="${searchcurrentPage &lt; searchtotalPage}">&raquo;</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>