<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Create Course Category</title>
<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
    href="/css/app/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
    href="/css/app/scheduling/scheduling.common.css">
<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
<script th:src="@{/js/app/popper.min.js}"></script>
<script th:src="@{/js/app/bootstrap.min.js}"></script>
</head>
<body>
    <div th:insert="fragments/general.html :: header"></div>
    <!--Success Message-->
    <div class="modal fade" th:text="${successMessage}"
        id="successMessage1" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
    <!--Success Message End-->
    <div class="container mt-5">
            <h3>
                <i class="fa fa-calendar-o"></i> Create Course Category
            </h3>
            <hr>
            <div class="card">
                <div class="card-body">
                    <form action="#" th:action="@{/courseCategory/create}" th:object="${create}" method="post">
                        <span  style="margin-left:185px; color:red; visibility:hidden;" id="required">*Required field</span>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Course Category
                                Name</label>
                            <div class="col-lg-5">
                                <input type="Text" placeholder="Enter Course Category Name"
                                    class="form-control" id="category" name="category" onkeyup=enableSubmitButton()>
                            </div>
                        </div>
                        <span style="margin-left:185px; color:red; visibility:hidden;" id="required2">*Required field</span>
                        <div class="form-group row">
                            <label class="col-lg-2 col-form-label">Course Category Details</label>
                            <div class="col-lg-5">
                                <textarea rows="10" cols="50" placeholder="Enter Course Category Details"
                                    class="form-control" id="detail" name="detail"
                                    onkeyup=enableSubmitButton()></textarea>
                            </div>
                        </div>
                        <div class="float-right">
                            <button type="submit" id="submit"
                                class="btn btn-success" disabled>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
    </div>

    <!--Success Modal-->
    <form action="#" th:action="@{/courseCategory/create}" th:object="${create}" method="get">
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm text-center">
                <div class="modal-content">
                    <div class="modal-header alert-success">
                        <h5 class="modal-title text-white">Success!</h5>
                        <button type="submit" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-lg-12 col-form-label">You have
                                successfully created this course category.</label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary"> OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--Success Modal End-->

    <!--Invalid Modal-->
    <form action="#" th:action="@{/courseCategory/create}" th:object="${create}" method="get">
        <div class="modal fade" id="invalidModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm text-center">
                <div class="modal-content">
                    <div class="modal-header alert-danger">
                        <h5 class="modal-title">Failed to create</h5>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-lg-12 col-form-label" id="existingCourse">Please input something else other 
                            than a blank space</label>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary"> OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--Invalid Modal End-->

    <script th:inline="javascript">
        //confirmation
        /*<![CDATA[*/
        var successMessage = /*[[${successMessage}]]*/ 'default';
        if(successMessage == "Registration Complete."){
            $('#successModal').modal('show');
        }
        /*]]>*/
        /*<![CDATA[*/
        var invalid = /*[[${invalid}]]*/ 'default';
        if (invalid == "The specified course category is already existing. Please change the Course Category Name."){
            document.getElementById("existingCourse").innerHTML = invalid;
            $('#invalidModal').modal('show');
        }
        /*]]>*/
        //disabling and enabling of submit button
        var category = document.getElementById("category");
        var detail = document.getElementById("detail");
        function enableSubmitButton(){
            var cat = myTrim(category.value);
            var det = myTrim(detail.value);
            if(cat.length > 0 && det.length > 0) {
                document.getElementById('submit').disabled = false;
            } else {
                document.getElementById('submit').disabled = true;
            }
            if (cat.length == 0){
                document.getElementById('required').style.visibility = 'visible';
            } else{
                document.getElementById('required').style.visibility = 'hidden';
                
            }
            if (det.length == 0){
                document.getElementById('required2').style.visibility = 'visible';
            } else{
                document.getElementById('required2').style.visibility = 'hidden';
            }
        }
        function myTrim(stringToTrim){
            return stringToTrim.replace(/^\s+|\s+$/gm,'');
        }
    </script>
</body>
<footer th:replace="fragments/general.html :: footer"></footer>
</html>