<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Change Schedule Status</title>
	<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/scheduling/scheduling.common.css">
	<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
	<script th:src="@{/js/app/popper.min.js}"></script>
	<script th:src="@{/js/app/bootstrap.min.js}"></script>
</head>
<body onload="load()">
	<div th:insert="fragments/general.html :: header" > </div>
	
	<div class="container mt-5 div_minheight">
		<form class="form-horizontal" th:object="${changeStatus}" 
			th:action="@{/schedules/courseSchedule/{courseId}/changeStatus(courseId = *{id})}" method="post">
			<h3><i class="fa fa-pencil-square-o"></i> Change Schedule Status</h3>
			<hr>
			<div class="card mb-3">
				<div class="card-body">
					<div class="form-group row justify-content-center">
						<label class="col-lg-2 col-form-label">Select Course</label>
						<div class="col-lg-5" >
							<select class="form-control courseSelect" id="courses" 
								onchange="validateDropDown(this)" data-live-search="true">
								<option value=""></option>
								<option th:each="courses : *{courses}" 
									th:attr="data-token=|${courses.name}|"
									th:value="${courses.id}"
									th:text="${courses.name}"
									th:selected="${courses.id eq lastSelected}"></option>
							</select>
						</div>
						<div class="float-right">
							<div
								th:if="${#httpServletRequest.requestURI == '/schedules/courseSchedule/0/changeStatus'}">
								<input type="button" onclick="changeUrl()"
									class="btn btn-large btn-success disabled" value="Search"
									name="button" id="button"></input>
							</div>
							<div
								th:if="${#httpServletRequest.requestURI != '/schedules/courseSchedule/0/changeStatus'}">
								<input type="button" onclick="changeUrl()"
									class="btn btn-large btn-success" value="Search" 
									name="button"
									id="button"></input>
							</div>
						</div>
					</div>
				</div>
			</div>

		<div class="nw_block"
				th:if="${#httpServletRequest.requestURI != '/schedules/courseSchedule/0/changeStatus'}">
			<table id="data" class="table table-bordered table-responsive text-center sticky-table width_max">
				<colgroup >
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:7.5%"/>
					<col style="width:22.5%"/>
				</colgroup>
				<thead >
					<tr>
						<th>Instructor</th>
						<th>Venue</th>
						<th>Start Date/Time</th>
						<th>End Date/Time</th>
						<th>Duration</th>
						<th>Change Status</th>
					</tr>
				</thead>
				<tbody th:each="courseSchedules, stat : *{courseSchedules}">
                	<tr th:each="courseScheduleDetails, detStat: *{courseSchedules[__${stat.index}__].courseScheduleDetails}">
                        <td>
                        	<input type="hidden" class="form-control bg-white border-0 shadow-0" 
                        		   th:field="*{courseSchedules[__${stat.index}__].instructorName}"/>
                        	<p th:text="${courseSchedules.instructorName}">></p>
                        </td>
                        <td >
                        	<input type="hidden" class="form-control bg-white border-0 shadow-0" 
                        		   th:field="*{courseSchedules[__${stat.index}__].venueName}"/>
                        	<p th:text="${courseSchedules.venueName}"></p>
                        </td>
                        <td >
                        	<input type="hidden" class="form-control bg-white border-0 shadow-0" 
                        		   th:field="*{courseSchedules[__${stat.index}__]
                        		   				.courseScheduleDetails[__${detStat.index}__].scheduledStartDateTime}"/>
                        	<p th:text=
                        		"${#temporals.format(courseScheduleDetails.scheduledStartDateTime, 'MM/dd/yyyy hh:mm a')}"></p>		
                        </td>
                        <td >
	                        <input type="hidden" class="form-control bg-white border-0 shadow-0" 
	                        	   th:field="*{courseSchedules[__${stat.index}__]
	                        	   				.courseScheduleDetails[__${detStat.index}__].scheduledEndDateTime}"/>	
	                        <p th:text=
	                        	"${#temporals.format(courseScheduleDetails.scheduledEndDateTime, 'MM/dd/yyyy hh:mm a')}"></p>
                        </td>
                        <td >
	                        <input type="hidden" class="form-control bg-white border-0 shadow-0" 
	                        	   th:field="*{courseSchedules[__${stat.index}__]
	                        	   				.courseScheduleDetails[__${detStat.index}__].duration}"/>
	                        <p th:text="${courseScheduleDetails.duration}"></p>
                       	</td>
						<td>
							<input type="hidden" 
								th:field="*{courseSchedules[__${stat.index}__].courseScheduleDetails[__${detStat.index}__].id}"/>
							<input type="hidden" 
								th:field="*{courseSchedules[__${stat.index}__].id}"/>
							<input type="hidden" 
								th:field="*{courseSchedules[__${stat.index}__].courseId}"/>
								<input type="hidden" 
								th:field="*{courseSchedules[__${stat.index}__].courseName}"/>
							<select class="form-control" th:id="${'status' + stat.index}" 
									th:attr="onchange=|statusSelect(${stat.index})|">
								<option value="Active"
										th:field="*{courseSchedules[__${stat.index}__].status}">Active</option>
								<option value="Ongoing"
										th:field="*{courseSchedules[__${stat.index}__].status}">Ongoing</option>
								<option value="Done"
										th:field="*{courseSchedules[__${stat.index}__].status}">Done</option>
								<option value="Close"
										th:field="*{courseSchedules[__${stat.index}__].status}">Close</option>
							</select>
							<input type="hidden" th:field="*{courseSchedules[__${stat.index}__].status}"/>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="float-right mt-2">
				<button type="submit" th:if="*{not #lists.isEmpty(courseSchedules)}" 
						 id="changeStatus" name="changeStatus" class="btn btn-success">Submit</button>
			</div>	
		</div> 
	</form>   	
		<!--Success Modal-->
		<div th:if="${changeStatusSuccess}" class="modal fade" id="successModal" tabindex="-1" role="dialog" 
						aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title text-white">Success</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<p class="text-center" th:if="${changeStatusSuccess}" th:text="${changeStatusSuccess}" 
									id="updatedStats"></p>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Success Modal End-->
	
		<footer class="footer_bottom_fix" th:replace="fragments/general.html :: footer"></footer>
	</div>
	
	<script th:src="@{/js/lib/scheduling/scheduling-common.js}"></script>
	<script th:src="@{/js/lib/scheduling/changeScheduleStatus.js}"></script>
	
	<!-- For CDATA -->
	<script th:inline="javascript">
		function load(){
			//Success Modal Validation
			if($("#successModal").length > 0){
				/*<![CDATA[*/
			    var successMessage = /*[[${changeStatusSuccess}]]*/ 'default';
			    var updated = document.getElementById("updatedStats").innerHTML;
	
			    console.log(successMessage);
			    console.log(updated);
	
			    if (successMessage == updated) {
	
			        $('#successModal').modal('show');
			    }
			    /*]]>*/
			}
		}
		
		
	</script>
</body>

</html>