<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Create Sched</title>
	<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<style type="text/css">
		[list]::-webkit-calendar-picker-indicator {
    		opacity: 0;
  		}
  		
  		input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    		-webkit-appearance : none;
    		margin: 0;
  		}
  		
  		div.text-danger{
  			font-size: 12px;
  		}
	</style>
</head>

<body>
	<div th:insert="fragments/general.html :: header"> </div>
	<div class="container mt-5">
		<form class="form-horizontal" action="#" th:action="@{/schedules/new}" th:object="${scheduleNew}" method="post">
		<!--Success Message-->
		<div class="modal fade" th:if="${message}" th:text="${message}" id="successMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
		<!--Success Message End-->
			<h3><i class="fa fa-clock-o"></i> Create Schedule</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Course Name</label>
						<div class="col-lg-5" style="">
							<!-- <input type="text" class="form-control" id="*{courseId}" > -->
							<input type="text" list="courses" id="courseName" placeholder="Enter Course Name" class="form-control"><div class="text-danger" id="courseName_error"> </div>
							<datalist id="courses">
								<option value=""></option>
							 	<option th:each="courses : *{courses}"
							 			th:attr="data-value = ${courses.id}"
							 			th:value="${courses.name}"></option>
							</datalist>
							<input type="hidden" th:id="*{courseId}" th:field="*{courseId}"/>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Instructor</label>
						<div class="col-lg-5">
							<select class="form-control" th:field="*{instructorId}" id="instructorId">
								<option value="" selected>Select Instructor</option>
								<option th:each="instructors : *{instructors}" 
										th:value="${instructors.id}"
										th:text="${instructors.name}"
										th:selected="${instructors.id} eq *{instructorId}"></option>
							</select> 
								<div class="text-danger" id="instructorId_error">
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Venue</label>
						<div class="col-lg-5">
							<select class="form-control" th:field="*{venueId}" id="venueId">
								<option value="" selected>Select Venue</option>
								<option th:each="venues : *{venues}" 
										th:value="${venues.id}"
										th:text="${venues.name}"
										th:selected="${venues.id} eq *{venueId}"></option>
							</select>
								<div class="text-danger" id="venueId_error">
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Participants</label>
						<div class="col-lg-2">
							<input type="text" oninput="numOnly(this.id);" maxlength="5" 
									class="form-control" placeholder="Minimum Required" 
									th:field="*{minRequired}"id="minRequired" > 
								<div class="text-danger" id="minRequired_error"> 
							</div>
						</div>
						<div class="col-lg-1 text-center">—</div>
						<div class="col-lg-2">
							<input type="text" oninput="numOnly(this.id);" maxlength="5" 
									class="form-control" placeholder="Maximum Allowed" 
									th:field="*{maxAllowed}" id="maxAllowed" >
								<div class="text-danger" id="maxAllowed_error"> 
							</div>
						</div>
					</div>
					<div class="col-lg-12" style="overflow-x:auto;display: block; white-space: nowrap" id="dateTime">
						<table class="table table-responsive table-borderless text-center" >
							<colgroup >
								<col style="width:55%"/>
								<col style="width:55%"/>
							</colgroup>	   		
							<thead>
								<tr>
									<td>
										<label class="col-lg-6 col-form-label">Start/End Date</label>
									</td>
									<td>
										<label class="col-lg-6 col-form-label">Start/End Time</label>
									</td>
								</tr>
							</thead>	
							<tbody th:id="courseScheduleDetails">
								<tr th:each = "courseScheduleDetailsAsList, stat : *{courseScheduleDetailsAsList}">
									<td>
										<div class="form-group row">
											<div class="col-lg-6">
												<input type="date" class="form-control" th:id="${'startDate' + (stat.index + 1)}">
													<div class="text-danger" id="startDateId_error">
												</div>
											</div>
											<div class="col-lg-6">
												<input type="date" class="form-control" th:id="${'endDate' + (stat.index + 1)}" >
													<div class="text-danger" id="endDateId_error">
												</div>
											</div>
										</div>
									</td>
									<td>
										<div class="form-group row">
											<div class="col-lg-2"></div>
											<div class="col-lg-4">
												<input type="text" class="form-control" 
														th:id="${'startTime' + (stat.index + 1)}" 
														oninput="timeOnly(this.id);" 
														maxlength="5">
											</div>
											<div class="col-lg-4">
												<input type="text" class="form-control" 
														th:id="${'endTime' + (stat.index + 1)}"
														oninput="timeOnly(this.id);" 
														maxlength="5" >
											</div>
										</div>
									</td>
									<td style="display:none;">
										<div>
											<input type="hidden" name="startDateTime" 
												 th:id="${'startDateTime' + (stat.index + 1)}"
												 th:field="*{courseScheduleDetailsAsList[__${stat.index}__].scheduledStartDateTime}">
											<input type="hidden" name="endDateTime" 
												 th:id="${'endDateTime' + (stat.index + 1)}"
												 th:field="*{courseScheduleDetailsAsList[__${stat.index}__].scheduledEndDateTime}">
											<input type="hidden" th:id="${'index' + (stat.index + 1)}"
											     th:value="${stat.index}">
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div>
							<button type="button" value="" name="addRow" onclick="addNewRow()" class="btn btn-success"> 
								Add
							</button>
							<button type="button" value="" name="removeRow" onclick="removeNewRow()" class="btn btn-danger"> 
								Remove
							</button>
						</div>
					</div>
					<div class="float-right">
						<input type="button" class="btn btn-success" th:attr="onclick=|validations()|" value="Create">
						<a class="btn btn-danger" th:href="@{/dashboard}" >Cancel</a>
					</div>
				</div>
			</div>
		<!--Confirmation Modal-->
		<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-warning">
						<h5 class="modal-title">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to submit this form?
								<strong id="courseName"></strong>
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"> No</button>
								<input type="hidden" name="id" id="id" />
								<button type="submit" name="submit" value="submit" class="btn btn-primary"> Yes</button>
						</div>
					</div>
				</div>
			</div>
		</div> 
		<!--Confirmation Modal End-->
		</form>
		<input type="hidden" th:id="row" value="">
		
		<!-- <form th:action="@{/schedules/new/addDate/{row} (row = row)}" method="post">
			<button type="submit" value="" name="addRow" onclick="addNewRow()" class="btn btn-success"> 
				Add
			</button>
		</form>
		<form action="@{/schedules/new/removeDate/{row} (row = row)}" method="post">
			<button type="submit" value="" name="removeRow" onclick="removeNewRow()" class="btn btn-danger"> 
				Remove
			</button>
		</form> -->
		
		
		<!--Success Modal-->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title">Success</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Schedule has been created</label>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Success Modal End-->
		<!--Error Modal-->
		<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title">Error</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label"></label>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Error Modal End-->	
	</div>
	<footer th:replace="fragments/general.html :: footer"></footer>
	
<script th:inline="javascript">
//Add New Rows
function addNewRow() {
	var courseScheduleDetails = document.getElementById("courseScheduleDetails");
	var length = courseScheduleDetails.rows.length;
	var Url = '/schedules/new/addDate/'+length;
	document.location.href = Url;
	
	/* var row = document.getElementById("row");
	row.value = length; */
	
}

function removeNewRow() {
	var courseScheduleDetails = document.getElementById("courseScheduleDetails");
	var length = courseScheduleDetails.rows.length;
	var Url = '/schedules/new/removeDate/'+length;
	document.location.href = Url;
	
	/* var row = document.getElementById("row");
	row.value = length; */
}

//Set Course ID
$("#courseName").blur(function (){
	var courseName = $("#courseName").val();
	var courseId = $('#courses [value="'+ courseName +'"]').data('value');
	
	document.getElementById("courseId").value = courseId;
});

//Format Date Inputs
Date.prototype.toISO = function() {
	 return this.getUTCFullYear() +
        '-' + String(this.getUTCMonth() + 1).padStart(2, "0") +
        '-' + String(this.getUTCDate()).padStart(2, "0") +
        'T' + String(this.getUTCHours()).padStart(2, "0") +
        ':' + String(this.getUTCMinutes()).padStart(2, "0") +
        ':' + String(this.getUTCSeconds()).padStart(2, "0") +
        '.' + (this.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) +
        'Z';
};

//Checks if Date is Today
function isLessThanToday(date){
	var dateEntry = new Date(date);
	var today = new Date((new Date).setHours(0, 0, 0, 0));
	return dateEntry < today;
}  

function validations() {
	var courseName = $('#courseName').val();
	var instructor = $('#instructorId').val();
	var venue = $('#venueId').val();
	var minRequired = parseInt($('#minRequired').val().replace("", "0"));
	var maxAllowed = parseInt($('#maxAllowed').val().replace("", "0"));
	
	
	//Empty Fields Validations
	if (courseName == "") {
		courseNameError = "Please fill up Course Name"; 
        document.getElementById("courseName_error").innerHTML = courseNameError;
	}
	if (instructor == "") {
		instructorError = "Please fill up Instructor";
        document.getElementById("instructorId_error").innerHTML = instructorError;
	}
	if (venue == "") {
		venueError = "Please fill up Venue";
        document.getElementById("venueId_error").innerHTML = venueError;
	}
	if (minRequired <= 0) {
	  	minRequiredError = "Please fill up Minimum no. of Participants";
	  	 document.getElementById("minRequired_error").innerHTML = minRequiredError;
	}
	if (maxAllowed <=0) {
	  	maxAllowedError = "Please fill up Maximum no. of Participants";
	  	 document.getElementById("maxAllowed_error").innerHTML = maxAllowedError;
	}
	if (minRequired !==0) {
		if (maxAllowed <= minRequired) {
	  	minRequiredError = "Minimum can't be greater or equal to Maximum Participants";
	  	 document.getElementById("minRequired_error").innerHTML = minRequiredError;
		}
	}
	
	function removeWarning() {
		
		var fieldId = this.id;
		var data = document.getElementById(fieldId).value;
		
		
		if (data !== "") {
			document.getElementById(fieldId + "_error").innerHTML = "";
		}
	}
	
	document.getElementById("courseName").onkeyup = removeWarning;
	document.getElementById("instructorId").onmouseleave = removeWarning;
	document.getElementById("venueId").onmouseleave = removeWarning;
	document.getElementById("minRequired").onkeyup = removeWarning;
	document.getElementById("maxAllowed").onkeyup = removeWarning;

	//Empty Fields Validation for Start and End date
	var startDateTimeCount = 0;
	var endDateTimeCount = 0;
	var courseScheduleDetails = document.getElementById("courseScheduleDetails");
	var length = courseScheduleDetails.rows.length;

	for (var i = 1; i <= length; i++) {

	    var startDate = $("#startDate" + i).val();
	    var startTime = $("#startTime" + i).val();
	    var endDate = $("#endDate" + i).val();
	    var endTime = $("#endTime" + i).val();

	    if ((startDate !== "") && (startTime !== "")) {
	        startDateTimeCount++;
	    }

	    if ((endDate !== "") && (endTime !== "")) {
	        endDateTimeCount++;
	    }
 
	}

	if (startDateTimeCount == 0) {
		minRequiredError = "Please fill up Start Date and Time";
	  	//document.getElementById("startDateId_error").innerHTML = minRequiredError;
	}

	if (endDateTimeCount == 0) {
		minRequiredError = "Please fill up End Date and Time";
	  	//document.getElementById("endDateId_error").innerHTML = minRequiredError;
	}
	
	
	//Scheduled Start Date Time and Scheduled End Date Time Part
    for(i = 1; i<= length; i++){
    	var startDate = document.getElementById("startDate"+i).value;
        var endDate =  document.getElementById("endDate"+i).value;
        var startTime =  document.getElementById("startTime"+i).value;
        var endTime =  document.getElementById("endTime"+i).value;
        
        /* var rowStartDateTime = new Date(startDate+"T"+startTime+":00Z");
	    var rowEndDateTime = new Date(endDate+"T"+startTime+":00Z"); */
        
        var rowStartDateTime = new Date(startDate);
	    var rowEndDateTime = new Date(endDate);
	    
	    rowStartDateTime.setHours(startTime.substring(0, startTime.indexOf(":")));
	    rowStartDateTime.setMinutes(startTime.substring(startTime.indexOf(":") + 1));
	    rowEndDateTime.setHours(endTime.substring(0, endTime.indexOf(":")));
	    rowEndDateTime.setMinutes(endTime.substring(endTime.indexOf(":") + 1)); 
       	
	    if((startDateTimeCount !==0) && (endDateTimeCount !==0)) {
	    	//Start and End Time Validation
        	if (startDate > endDate)  {
        		errorMsg.push("End Date can't be greater than Start Date");
            }
        	
        	//Start and End Date Validation
        	if (startTime > endTime) {
        		errorMsg.push("End Time can't be greater than Start Time");
            }
        	
        	//If Date is Less Than Today
        	if (isLessThanToday(startDate) || isLessThanToday(endDate)) {
        		errorMsg.push("Start Date and End Date should not be less than today");
        	}
	    }
	    
	    if((startDate == "") && (endDate == "") && (startTime == "") && (endTime == "")) {
	    	var endDateTime = null;
	    	var startDateTime = null;
	    } else {
	    	var startDateTime = rowStartDateTime.toISO().toString();
	        /* console.log(rowStartDateTime);
	        console.log(startDateTime); */
	    	var endDateTime = rowEndDateTime.toISO().toString();
		    /* console.log(rowEndDateTime);
		    console.log(endDateTime); */
	    }
	    
	    document.getElementById("startDateTime"+i).value = startDateTime;
		document.getElementById("endDateTime"+i).value = endDateTime;
		
		//Confirmation Modal Validation
		if ((courseName !== "") && (instructor !== "") && (venue !== "")
				&& (minRequired !== "") && (maxAllowed !== "") && ((minRequired !== 0) || (maxAllowed !== 0)) 
				&& (minRequired <= maxAllowed) && (startDateTimeCount !=0 ) && (endDateTimeCount !=0 )
				&& !((isLessThanToday(startDate) || isLessThanToday(endDate)))
				&& (startDate <= endDate) && (startTime < endTime)) {
			
			$('#confirmModal').modal('show');
		}
    }		
 }
 
//Formats the text to only accept numbers on keypress
function numOnly(id)
{
	 var number = document.getElementById(id);
	 var regex = /[^0-9]/gi;
	 
	 number.value = number.value.replace(regex, "");
}

//Formats the time to only accept numbers add Semicolon at 3rd index 
function timeOnly(id)
{
	var time = document.getElementById(id);
	var regexWithColon = /[^0-9:]/gi;
	var regexWithoutColon = /[^0-9]/gi;
	
	if (time.value.length == 2 && !(time.value.includes(":"))){
		
		time.value = time.value.replace(regexWithColon, "") + ":";
		
	} 
	
	if(time.value.includes(":")) {
		
		var hour = time.value.substring(0, time.value.indexOf(':')).replace(regexWithoutColon, "");
		var minute = time.value.substring(time.value.indexOf(':') + 1).replace(regexWithoutColon, "");
		var intHour = parseInt(hour);
		var intMinute = parseInt(minute);
		
		time.value = hour + ":" + minute;
		
		if (hour.length == 1 && (time.value.length == 4 || time.value.length == 3)){
			time.value = hour.padStart(2, "0") + ":" + minute.padEnd(2,"0");
			
			if (intMinute > 5) {	
				time.value = hour.padStart(2, "0") + ":00";	
			}
		}
		
		if (intHour > 24) {
			time.value = "00:" + minute;
		}
		
		if (intMinute > 59 || intHour == 24) {	
			time.value = hour.padStart(2, "0") + ":00";	
		}
		
	}
	
}
	   
//Success Modal Validation

/*<![CDATA[*/
var successMessage = /*[[${message}]]*/ 'default';
var element = document.getElementById('successMessage').innerHTML;

console.log(successMessage);
console.log(element);

if (successMessage == element) {

    $('#successModal').modal('show');
}
/*]]>*/
</script>
</body>

</html>