<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Instructor Course Schedule List</title>
    <link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/scheduling/scheduling.common.css">
	<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
	<script th:src="@{/js/app/popper.min.js}"></script>
	<script th:src="@{/js/app/bootstrap.min.js}"></script>
</head>

<body onload="load()">
	<div th:insert="fragments/general.html :: header" > </div>
    
    <div class="container mt-5 div_minheight">
        <form class="form-horizontal" action="#" th:action="@{/schedules/view}" th:object="${scheduleView}" method="get">
            <h3><i class="fa fa-calendar-o"></i> Select Training Period</h3>
            <hr>
            <div class="card">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-lg-2 col-form-label">From Date</label>
                        <div class="col-lg-3">
                           <input class="form-control" type="datetime-local" id="fromDate" name="fromDate"/>
                           <!-- This is used to compile the converted date and pass it to the controller -->
                           <input type="hidden" th:field="*{fromDateTime}" />
                        </div>
                        <label class="col-lg-2 col-form-label">To Date</label>
                        <div class="col-lg-3">
                            <input class="form-control" type="datetime-local" id="toDate" name="toDate"/>
                            <!-- This is used to compile the converted date and pass it to the controller -->
                            <input type="hidden" th:field="*{toDateTime}" />
                        </div>
                    </div>
                    <div class="float-right">
                        <input type="submit" class="btn btn-success" value="Submit">
                    </div>
                </div>
            </div>
            <div class="row h-100 mt-5">
			<div class="card mb-2 col-lg-4 bg-danger text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have</h4>
						<h2 th:text="*{totalTrainings}"> </h2>
						<h4>training/s to attend today</h4>
					</div>
				</div>
			</div>
			</div>
            <div class="mt-5 nw_block">
            <p><h3 class="d_inline_all"><i class="fa fa-list"></i> My Courses</h3>
            <div class="float-right mt-3">
            	<a href="" name="topLearners" data-toggle="modal" data-target="#viewTopeLearnersModal"><i class="fa fa-search"></i> View Top Learners...</a>
            </div></p>
            
            <table id="data" class="table table-bordered text-center width_max" >
                <colgroup >
                    <col style="width:20%"/>
                    <col style="width:20%"/>
                    <col style="width:20%"/>
                    <col style="width:20%"/>
                    <col style="width:20%"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>Course Name</th>
                        <th>Instructor</th>
                        <th>Start Date/Time</th>
                        <th>End Date/Time</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <tbody th:each="courseSchedules : *{courseSchedules}">
                	<tr th:each="courseScheduleDetails : ${courseSchedules.courseScheduleDetails}">
                        <td th:text="${courseSchedules.courseName}"></td>
                        <td th:text="${courseSchedules.instructorName}"></td>
                        <td th:text="${#temporals.format(courseScheduleDetails.scheduledStartDateTime, 'MM/dd/yyyy hh:mm a')}"></td>
                        <td th:text="${#temporals.format(courseScheduleDetails.scheduledEndDateTime, 'MM/dd/yyyy hh:mm a')}"></td>
                        <td th:text="${courseScheduleDetails.duration}"></td>
                    </tr>
                </tbody>
            </table>
        </div> 
         <!--View Top Learners Modal-->
        <div class="modal fade" id="viewTopLearnersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg text-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Top Learners</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                        	<div class="col-lg-6 nw_block">
                        		<h5><b>Quarter (Current Quarter)</b></h5>
                            	<table class="table table-bordered">
                            		<thead>
                            			<tr>
                            				<th>#</th>
                            				<th>Employee</th>
                            			</tr>
                            		</thead>
                            		<tbody th:each="quarterlyTopLearners : *{quarterlyTopLearners}">
                            			<tr>
                            				<td th:text="${quarterlyTopLearners.place}"></td>
                            				<td th:text="${quarterlyTopLearners.participantName}"></td>
                            			</tr>
                            		</tbody>
                            	</table>
                            </div>
                            <div class="col-lg-6 nw_block" >
                        		<h5><b>Month (Current Month)</b></h5>
                            	<table class="table table-bordered">
                            		<thead>
                            			<tr>
                            				<th>#</th>
                            				<th>Employee</th>
                            			</tr>
                            		</thead>
                            		<tbody th:each="monthlyTopLearners : *{monthlyTopLearners}">
                            			<tr>
                            				<td th:text="${monthlyTopLearners.place}"></td>
                            				<td th:text="${monthlyTopLearners.participantName}"></td>
                            			</tr>
                            		</tbody>
                            	</table>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div> 
    <!--View Top Learners Modal end-->
        
        </form>
        <!--Error Modal-->
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm text-center">
                <div class="modal-content">
                    <div class="modal-header alert-danger">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-lg-12 col-form-label">To Date can't be less than From Date.</label>
                        </div>  
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <!--Error Modal end-->
   
    <footer th:replace="fragments/general.html :: footer"></footer>
    
    <script th:src="@{/js/lib/scheduling/scheduling-common.js}"></script>
    <script th:src="@{/js/lib/scheduling/instructorCourseScheduleList.js}"></script>
    
    <!-- FOR CDATA -->
	<script th:inline="javascript">
		/*<![CDATA[*/
			var errorMessage = /*[[${error}]]*/ 'default';
			if(errorMessage == "To Date should be greater than or equal to From Date"){
				$('#errorModal').modal('show');
			}
		/*<![CDATA[*/
	</script>
</body>
</html>
