<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>View Schedule</title>
	<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/scheduling/scheduling.common.css">
	<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
	<script th:src="@{/js/app/popper.min.js}"></script>
	<script th:src="@{/js/app/bootstrap.min.js}"></script>
</head>

<body onload="load()">
	<div th:insert="fragments/general.html :: header"> </div>

	<div class="container mt-5 div_minheight">
		<form class="form-horizontal" action="#" th:action="@{/schedules/courseSchedules/view}"
			th:object="${changeSchedule}" method="get">
			<h3><i class="fa fa-calendar-o"></i> Select Training Period</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">From Date :</label>
						<div class="col-lg-3">
							<input class="form-control" type="datetime-local" id="fromDate" name="fromDate" />
							<!-- This is used to compile the converted date and pass it to the controller -->
							<input type="hidden" th:field="*{fromDateTime}" />
						</div>
						<label class="col-lg-2 col-form-label">To Date :</label>
						<div class="col-lg-3">
							<input class="form-control" type="datetime-local" id="toDate" name="toDate" />
							<!-- This is used to compile the converted date and pass it to the controller -->
							<div class="text-danger" id="toDateTime_error"></div>
							<input type="hidden" th:field="*{toDateTime}" />
						</div>
					
					<div class="float-right">
						<input type="submit" class="btn btn-success" value="Search">
					</div></div>
				</div>
			</div>
			<div class="mt-5 nw_block">
				<h3><i class="fa fa-list"></i> List of Available Training(s)</h3>
				<table id="data" class="table table-bordered table-responsive text-center width_max" th:object="${changeSchedule}">
					<colgroup>
						<col style="width:20%" />
						<col style="width:20%" />
						<col style="width:30%" />
						<col style="width:30%" />
						<col style="width:10%" />
					</colgroup>
					<thead>
						<tr>
							<th class="align-middle">Action</th>
                            <th class="align-middle">Course Name</th>
                            <th class="align-middle">Instructor</th>
                            <th>Start Date & Time <hr> End Date & Time</th>
                            <th class="align-middle">Duration</th>
						</tr>
					</thead>
					<tbody th:each="courseSchedules, stat : *{courseSchedules}">
						<tr th:each="courseScheduleDetails : ${courseSchedules.courseScheduleDetails}">
							<td class="align-middle">
								<a th:value="${courseSchedules.id}" th:id="${'update' + (stat.index + 1)}" th:href="@{/schedules/courseSchedule/{courseScheduleId}/update
												(courseScheduleId=${courseSchedules.id})}" class="btn btn-success">Update
								</a>
								<a th:value="${courseSchedules.id}" th:id="${'delete' + (stat.index + 1)}" th:href="@{/schedules/courseSchedule/{courseScheduleId}/delete
												(courseScheduleId=${courseSchedules.id})}" class="btn btn-danger">Delete 
								</a>
							</td>
							<td class="align-middle" th:text="${courseSchedules.courseName}"></td>
							<td class="align-middle" th:text="${courseSchedules.instructorName}"></td>
                            <td class="align-middle" th:utext="${#temporals.format(courseScheduleDetails.scheduledStartDateTime, 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(courseScheduleDetails.scheduledEndDateTime, 'MMM dd, yyyy (E) - hh:mm a')}"></td>
	                        <td class="align-middle" th:text="${courseScheduleDetails.duration}"></td>
					</tr>
				</tbody>
			</table>
			<div th:if="${#lists.isEmpty(changeSchedule.courseSchedules)}">
				<div class="alert alert-dismissible alert-danger text-center">
					<strong>No Course Schedule Found</strong> 
				</div>
			</div>
		</div> 
		</form> 	
		<!--Update Modal-->
		<form class="form-horizontal" 
			  id="updateView" 
			  th:object="${updateView}" 
			  th:action="@{/schedules/courseSchedule/{courseScheduleId}/update(courseScheduleId = *{id})}" 
			  th:if="${#strings.contains(#httpServletRequest.requestURI, 'update')}"
			  method="post">
			<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"  data-backdrop="static"  >
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Course Information</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<div class="col-lg-7">
									<input type="hidden" th:field="*{id}" id="updateCourseScheduleId">
									
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course Name :</label>
								<input type="hidden" th:field="*{courseId}">
								<div class="col-lg-7">
									<input type="text" class="form-control border-0 bg-white shadow-none dark-grey" 
													   th:field="*{courseName}" 
													   readonly>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Instructor :</label>
								<div class="col-lg-7">
									<input type="text" list="instructors" id="instructorName" 
									    th:attr="value = ${currentInstructor}"
										class="form-control custom-select custom-select-md"
										onmousedown="instructorNameOnDown(this.id)"
										onchange="instructorNameOnChange()">
							<div class="text-danger er" id="instructorId_error"></div>
							<datalist id="instructors" >
								<option value=""></option>
								<option th:each="instructors : *{instructors}" 
								        th:attr="data-value = ${instructors.id}"
										th:value="${instructors.name}"
										th:selected="${instructors.id} eq *{instructorId}"></option>
							</datalist> 
							<input type="hidden" th:id="instructorId" th:field="*{instructorId}"/>
									<div class="text-danger er" id="instructorId_error"></div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Venue :</label>
								<div class="col-lg-7">
									<input type="text" list="venues" id="venueName" 
									    th:attr="value = ${currentVenue}"
										class="form-control custom-select custom-select-md"
										onmousedown="venueNameOnDown(this.id)"
										onchange="venueNameOnChange()">
							<div class="text-danger er" id="venueId_error"></div>
							<datalist id="venues" >
								<option value=""></option>
								<option th:each="venues : *{venues}" 
								        th:attr="data-value = ${venues.id}"
										th:value="${venues.name}"
										th:selected="${venues.id} eq *{venueId}"></option>
							</datalist> 
							<input type="hidden" th:id="venueId" th:field="*{venueId}"/>
									<div class="text-danger er" id="venueId_error"></div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Participant(s) :</label>
								<div class="col-lg-3">
									<input type="text" onchange="numOnly(this.id)" maxlength="5" class="form-control" th:field="*{minRequired}" id="minRequired" placeholder="Min">
									<div class="text-danger er" id="minRequired_error"></div>
								</div>
								<div class="col-lg-1 text-center">—</div>
								<div class="col-lg-3">
									<input type="text" onchange="numOnly(this.id)" maxlength="5" class="form-control" th:field="*{maxAllowed}" id="maxAllowed" placeholder="Max">
									<div class="text-danger er" id="maxAllowed_error"></div>
								</div>
							</div>	
							<div class="form-group row">
								<div class="col-lg-12 nw_block_xhidden">
									<table class="table table-responsive table-borderless text-center overflow-hidden"  >
										<colgroup >
											<col style="width:48%"/>
											<col style="width:4%"/>
											<col style="width:48%"/>
										</colgroup>
										<thead>
										<tr>
											<td>
												<label class="col-lg-8 col-form-label">Start Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;| &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Start Time</label>
											</td>
											<td></td>
											<td>
												<label class="col-lg-8 col-form-label">End Date &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; End Time</label>
											</td>
										</tr>
										</thead>
										<tbody id='updateCourseScheduleDetails'>
										<tr th:each = "courseScheduleDetailsAsList, stat : *{courseScheduleDetailList}">
											<td>
												<div class="form-group row">
													<div class="col-lg-7">
														<input type="date" class="form-control" 
															   th:id="${'startDate' + (stat.index + 1)}">
														<div class="text-danger er" th:id="${'startDate' + (stat.index + 1) + '_error'}">
														</div>
													</div>
													<div class="col-lg-5">
														<input type="time" class="form-control" 
																th:id="${'startTime' + (stat.index + 1)}">
														<div class="text-danger er" th:id="${'startTime' + (stat.index + 1) + '_error'}">
														</div>
													</div>
												</div>
											</td>
											<td class="d-print-none">
												<input type="hidden" name="startDateTime" 
												 th:id="${'startDateTime' + (stat.index + 1)}"
												 th:field="*{courseScheduleDetailList[__${stat.index}__].scheduledStartDateTime}">
												<input type="hidden" name="endDateTime" 
												 th:id="${'endDateTime' + (stat.index + 1)}"
												 th:field="*{courseScheduleDetailList[__${stat.index}__].scheduledEndDateTime}">
												<input type="hidden" th:id="${'index' + (stat.index + 1)}"
												 th:value="${stat.index}">
												<input type="hidden" name="courseScheduleDetailId" 
												 th:field="*{courseScheduleDetailList[__${stat.index}__].id}"/>
											</td>
											<td>
												<div class="form-group row">
													<div class="col-lg-7">
														<input type="date" class="form-control" 
															   th:id="${'endDate' + (stat.index + 1)}" >
														<div class="text-danger er" th:id="${'endDate' + (stat.index + 1) + '_error'}"></div>
														
													</div>
													<div class="col-lg-5">
														<input type="time" class="form-control" 
																th:id="${'endTime' + (stat.index + 1)}">
														<div class="text-danger er" th:id="${'endTime' + (stat.index + 1) + '_error'}"></div>
													</div>
												</div>
											</td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>	
						</div>
						<div class="modal-footer">
							<input type="button" name="update" class="btn btn-success" value="Update Schedule" th:attr="onclick=|validations()|">
							<input type="button" class="btn btn-primary" data-dismiss="modal" name="backButton" value="Back">
						</div>
					</div>
				</div>
			</div>
			<!--Update Confirmation Modal-->
			<div class="modal fade" id="updateConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header alert-warning">
							<h4 class="modal-title"><i class="fa fa-warning"></i></h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body text-center">
							Are you sure you want to update this schedule?
						</div>
						<div class="modal-footer">
							<button type="submit" id="update" 
									name="update" value="submit" 
									class="btn btn-success">Yes, update it.</button>
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="No, leave as is.">
						</div>
					</div>
				</div>
			</div>
			<!--Update Confirmation Modal End-->
		</form>
		<!--Update Modal End-->		
		
		<!--Update Confirmation Success Modal-->
		<div class="modal fade" th:if="${updateSuccess}" id="updateSuccessModal" 
				tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title"><i class="fa fa-check-square-o"></i></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label" th:if="${updateSuccess}" th:text="${updateSuccess}" id="updated"></label>
							
						</div>		
						<div align="center">					
						<input type="button" name="updateSuccess" class="btn btn-primary" data-dismiss="modal" value="OK">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Update Confirmation Success Modal End-->		
		
		<!--Delete Modal-->
		<form class="form-horizontal"
			  id="deleteView"
			  th:object="${deleteView}" 
			  th:method="delete"
			  th:action="@{/schedules/courseSchedule/{courseScheduleId}/deleted(courseScheduleId = *{id})}" 
			  th:if="${#strings.contains(#httpServletRequest.requestURI, 'delete')}">
			<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Course Information</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<input type="hidden" class="form-control" th:field="*{id}" id="deleteCourseScheduleId">
								<label class="col-lg-3 col-form-label">Course ID :</label>
								<div class="col-lg-9 mb-3">
									<input type="text" class="form-control border-0 bg-white shadow-none black ml-n3" 
										th:field="*{courseId}" readonly>
								</div>
								<label class="col-lg-3 col-form-label">Course Name :</label>
								<div class="col-lg-9 mb-3">
									<input type="text" class="form-control border-0 bg-white shadow-none black ml-n3" 
										th:field="*{courseName}" readonly>
								</div>
								<label class="col-lg-3 col-form-label">Instructor :</label>
								<div class="col-lg-9 mb-3">
									<input type="text" class="form-control border-0 bg-white shadow-none black ml-n3" 
										th:field="*{instructorName}" readonly>
								</div>
								<label class="col-lg-3 col-form-label">Course Date & Time :</label>
								<div class="col-lg-9">
								<table class="ml-n1 mb-3">
									<tbody th:each = "courseScheduleDetailsAsList, stat : *{courseScheduleDetailList}"> 
										<tr>
											<th><label class="col-form-label">Start Date: </label></th>
											<th><label class="col-form-label">End Date: </label></th>
										</tr>	
										<tr>
											<td><input type="text" class="form-control border-0 bg-white shadow-none black ml-n65" 
													th:id="${'startDate' + (stat.index + 1)}" readonly></td>
											<td><input type="text" class="form-control border-0 bg-white shadow-none black ml-n65" 
													th:id="${'endDate' + (stat.index + 1)}" readonly> </td>
										</tr>
										<tr>
											<th class="pt-3"><label class="col-form-label">Start Time: </label></th>
											<th class="pt-3"><label class="col-form-label">End Time: </label></th>
										</tr>
										<tr>
											<td>
												<input type="text" class="form-control border-0 bg-white shadow-none black ml-n65" 
													th:id="${'startTime' + (stat.index + 1)}" readonly> 
											</td>
											<td><input type="text" class="form-control border-0 bg-white shadow-none black ml-n65" 
													th:id="${'endTime' + (stat.index + 1)}" readonly> </td>
										</tr>
										<tr>
											<td>
												<input type="hidden" name="startDateTime" 
													th:id="${'startDateTime' + (stat.index + 1)}"
											  		th:field=
											  			"*{courseScheduleDetailList[__${stat.index}__].scheduledStartDateTime}">
											 	<input type="hidden" name="endDateTime" 
											 		th:id="${'endDateTime' + (stat.index + 1)}"
											 		th:field=
											 			"*{courseScheduleDetailList[__${stat.index}__].scheduledEndDateTime}">
												<input type="hidden" th:id="${'index' + (stat.index + 1)}" 
														th:value="${stat.index}">
											</td>
										</tr>
										</tbody> 
									</table>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Venue :</label>
								<div class="col-lg-9">
									<input type="text" class="form-control border-0 bg-white shadow-none black ml-n3" 
										th:field="*{venueName}" readonly>
								</div>
							</div>	
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course Detail :</label>
								<div class="col-lg-9">
									<input type="text" class="form-control border-0 bg-white shadow-none black ml-n3" 
										th:field="*{courseDetails}" readonly>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" name="delete" class="btn btn-success" value="Delete Schedule">
							<input type="button" class="btn btn-primary" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
			<!--Delete Confirmation Modal-->
			<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="modal-header alert-warning">
						<h4 class="modal-title"><i class="fa fa-warning"></i></h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							Are you sure you want to delete this schedule? In doing so, the action cannot be undone.
						</div>
						<div class="modal-footer">
							<button type="submit" id="deleteBtn" 
										name="deleteConfirmation" 
										class="btn btn-success" 
										th:value="*{id}">Yes, delete it.</button>
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="No, keep it.">
						</div>
					</div>
				</div>
			</div>
		<!--Delete Confirmation Modal End-->
		</form>
		<!--Delete Modal End-->
		
		<!--Delete Confirmation Success Modal-->
		<div class="modal fade" th:if="${deleteSuccess}" id="deleteSuccessModal" tabindex="-1" 
					role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm">
				<div class="modal-content">
					<div class="modal-header alert-success">
					<i class="fa fa-check-square-o"></i>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label" th:if="${deleteSuccess}" th:text="${deleteSuccess}" id="deleted"></label>
						</div>		
						<div align="center">					
						<input type="submit" name="deleteSuccess" class="btn btn-primary" data-dismiss="modal" value="OK">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Delete Confirmation Success Modal End-->
		
		<!--Error Modal-->
		<div class="modal fade" id="errorModal" th:if="${error}" tabindex="-1" role="dialog" 
				aria-labelledby="exampleModalLabel" aria-hidden="true" 
				data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 id="errorTitle" class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<input type="hidden" th:value="${error}" id="hasError"/>
							<label class="col-lg-12 col-form-label" th:if="${error}" th:text="${error}"></label>
						</div>	
					</div>
					<div class="modal-footer">
						<button type="button" name="goToModal" 
								id="goToModal" class="btn btn-secondary" data-dismiss="modal">Okay</button>
					</div>
				</div>
			</div>
		</div>
		
		<!--Notice Modal-->
		<div class="modal fade" id="noticeModal" th:if="${notice}" tabindex="-1" role="dialog" 
				aria-labelledby="exampleModalLabel" aria-hidden="true" 
				data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog text-center">
				<div class="modal-content">
					<div class="modal-header btn-info">
						<h5 id="noticeTitle" class="modal-title"><i class="fa fa-info-circle"></i>  </h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<input type="hidden" th:value="${notice}"/>
							<label class="col-lg-12 col-form-label" th:if="${notice}" th:text="${notice}"></label>
						</div>	
					</div>
					<div align="center">
						<button type="button" name="goToModal2" 
								id="goToModal2" class="btn btn-secondary" data-dismiss="modal">OK</button>
					</div>
				</div>
			</div>
		</div>
		<!--Notice Modal End-->	
		
	</div>
	
	<footer th:replace="fragments/general.html :: footer"></footer>
	
	<script th:src="@{/js/lib/scheduling/scheduling-common.js}"></script>
	<script th:src="@{/js/lib/scheduling/viewUpdateDeleteSched.js}"></script>
	
	<!-- For CDATA -->
	<script th:inline="javascript">
	$("form").keypress(function(e) {
	  //Enter key
	  if (e.which == 13) {
	    return false;
	  }
	});

	/*<![CDATA[*/
	
	//FromDateTime is HIGHER with ToDateTime
	/*<![CDATA[*/
	var errorMessage = /*[[${error}]]*/'default';
	if (errorMessage == "Invalid Date") {
		document.getElementById("toDateTime_error").innerHTML = "Please pick a date that's greater than the value of 'From Date' field.";
	}
	/*]]>*/
	
	//FromDateTime is EQUAL with ToDateTime
	/*<![CDATA[*/
	var errorMessage = /*[[${error}]]*/'default';
	if (errorMessage == "Equal Date") {
		document.getElementById("toDateTime_error").innerHTML = "Please pick a date where 'From Date' & 'To Date' field values should not be equal.";
	}
	/*]]>*/

	$("#goToModal").click(function () {
		$('#updateModal').modal('show');
	});

	function load() {
		var fromDateTime = $("#fromDateTime").val();
		var toDateTime = $("#toDateTime").val();
		var fromNewDate = fromDateTime.toString().slice(0, 16);
		var toNewDate = toDateTime.toString().slice(0, 16);

		document.getElementById("fromDate").value = fromNewDate;
		document.getElementById("toDate").value = toNewDate;

		if ($("#updateView").length > 0) {
			var updateCourseScheduleId = $("#updateCourseScheduleId").val();
			if (updateCourseScheduleId !== "" && $("#errorModal").length == 0) {
				if ($('#noticeModal').length != 0) {
					$('#noticeModal').modal('show');
					$("#goToModal2").click(function () {
						$('#updateModal').modal('show');
					});
				} else {
					$('#updateModal').modal('show');
				}
			}

			var startDateTime = document.getElementById("startDateTime1").value;
			var endDateTime = document.getElementById("endDateTime1").value;

			var rowStartDate = startDateTime.substring(0, startDateTime.indexOf("T"));
			var rowEndDate = endDateTime.substring(0, endDateTime.indexOf("T"));

			var rowStartTime = startDateTime.substring(startDateTime.indexOf("T") + 1, startDateTime.indexOf("T") + 6);
			var rowEndTime = endDateTime.substring(endDateTime.indexOf("T") + 1, endDateTime.indexOf("T") + 6);

			document.getElementById("startDate1").value = rowStartDate;
			document.getElementById("endDate1").value = rowEndDate;

			document.getElementById("startTime1").value = rowStartTime;
			document.getElementById("endTime1").value = rowEndTime;
		}

		if ($("#deleteView").length > 0) {
			var deleteCourseScheduleId = $("#deleteCourseScheduleId").val();
			if (deleteCourseScheduleId !== "") {
				$('#deleteModal').modal('show');
			}

			var startDateTime = document.getElementById("startDateTime1").value;
			var endDateTime = document.getElementById("endDateTime1").value;

			var startDate = startDateTime.substring(0, startDateTime.indexOf("T")).replace(/[-]/gi, "/");
			var endDate = endDateTime.substring(0, endDateTime.indexOf("T")).replace(/[-]/gi, "/");

			document.getElementById("startDate1").value = startDate;
			document.getElementById("endDate1").value = endDate;

			var rowStartTime = startDateTime.substring(startDateTime.indexOf("T") + 1, startDateTime.indexOf("T") + 6);
			var rowEndTime = endDateTime.substring(endDateTime.indexOf("T") + 1, endDateTime.indexOf("T") + 6);

			var startHours = parseInt(rowStartTime.substring(0, startDateTime.indexOf(":")));
			var startMinutes = rowStartTime.substring(3, 5);

			if (startHours > 12) {
				var startTime = String(startHours - 12).padStart(2, "0") + ":" + startMinutes + " PM";
				document.getElementById("startTime1").value = startTime;
			} else if (startHours == 12) {
				document.getElementById("startTime1").value = rowStartTime + " PM";
			} else {
				document.getElementById("startTime1").value = rowStartTime + " AM";
			}

			var endHours = parseInt(rowEndTime.substring(0, endDateTime.indexOf(":")));
			var endMinutes = rowEndTime.substring(3, 5);

			if (endHours > 12) {
				var endTime = String(endHours - 12).padStart(2, "0") + ":" + endMinutes + " PM";
				document.getElementById("endTime1").value = endTime;
			} else if (endHours == 12) {
				document.getElementById("endTime1").value = rowEndTime + " PM";
			} else {
				document.getElementById("endTime1").value = rowEndTime + " AM";
			}

		}

		if ($("#updateSuccessModal").length > 0) {
			/*<![CDATA[*/
			var updateSuccess = /*[[${updateSuccess}]]*/ 'default';

			var updated = document.getElementById("updated").innerHTML;

			if (updateSuccess == updated) {
				$('#updateSuccessModal').modal('show');
			}
			/*]]>*/
		}

		if ($("#deleteSuccessModal").length > 0) {
			/*<![CDATA[*/
			var deleteSuccess = /*[[${updateSuccess}]]*/ 'default';

			var deleted = document.getElementById("deleted").innerHTML;

			if (deleteSuccess == updated) {
				$('#deleteSuccessModal').modal('show');
			}
			/*]]>*/
		}

		//Conflict Modal Validation
		if ($("#errorModal").length > 0) {
			/*<![CDATA[*/
			var errorMessage = /*[[${error}]]*/ 'default';
			var element = document.getElementById('hasError').value;

			if (element.includes('conflict')) {
				document.getElementById('errorTitle').innerHTML = "Conflict!";
			}

			console.log(element);

			if (errorMessage == element) {

				$('#errorModal').modal('show');

			}
			/*]]>*/
		}
	}

     //Change placeholder for Max Allowed if current value is 99999
     if ($("#maxAllowed").val() == 99999){
	    $('#maxAllowed').val("");
	    document.getElementById('maxAllowed').placeholder = "None";
     }
	</script>
</body>

</html>