<!--@Author Thomas Oviedo  -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Course Update</title>
	<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/scheduling/scheduling.common.css">
	<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
	<script th:src="@{/js/app/popper.min.js}"></script>
	<script th:src="@{/js/app/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container">
		<H1>Course Update</H1>
		<form action="#" th:action="@{/courses/update}" th:object="${course}"
			method="post">

			<div>
				<ul>
					<li th:each="e : ${#fields.detailedErrors()}"
						th:class="${e.global}? globalerr : fielderr"><span
						th:text="${e.global}? '*' : ${e.fieldName}">The field name</span>
						| <span th:text="${e.message}">The error message</span></li>
				</ul>
			</div>
			<hr>
			<br>
			<div class="main-content" style="align: center">

				<label>Course ID:</label> <input type="text" name="name"
					th:value="*{id}" /> <label>Course Name:</label> <input type="text"
					name="name" th:value="*{name}" /> <a href=""><button
						class="btn btn-primary" style="margin-left: 20px">Update</button></a><br>

				<br>


			</div>
		</form>
		<br> <br>
	</div>
	<footer></footer>
</body>
</html>