<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Course List</title>
	<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/scheduling/scheduling.common.css">
	<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
	<script th:src="@{/js/app/popper.min.js}"></script>
	<script th:src="@{/js/app/bootstrap.min.js}"></script>
</head>
<body>
<div class="container">
	<h1>Courses</h1>
	<form action="#" th:action="@{/course}" th:object="${CourseList}" method="post">
	<div>
	  <ul>
	    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
	        <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
	        <span th:text="${e.message}">The error message</span>
	    </li>
	  </ul>
  </div> 
	
	<table class="table table-bordered">
		<tr>
			<thead>
				<tr>
					<th>ID</th>
					<th style="width:50%">Course Name</th>
				</tr>
			</thead>
			<tr th:each="cn : *{Cns}">
				<td >
				  <label th:for="${cn.id}" th:text="${cn.id}"></label>
				</td>
				<td>
				  <label th:for="${cn.name}" th:text="${cn.name}"></label>
				</td>
			</tr>
		</tr>
	</table>
	
	<h5>Search Course</h5>
		<div class="input-group float-left col-lg-3">
		  		<input class="form-control" type="text" placeholder="Search" name="Search" th:value="*{Search}">
		   <div class="input-group-append">
			<button type="submit" class="input-group-text" name="submit" value="Submit"><i class="fa fa-search"></i>
					</button>
					</div>
		</div>
	</form>  
</div>
</body>
</html>