<!-- ================================================================================================== -->
<!-- Project Name : Training Sign Up -->
<!-- System Name  : Course Management -->
<!-- Name         : courseCreate.html -->

<!-- <<Modification History>> -->
<!-- Version | Date       | Updated By            | Content -->
<!-- --------+------------+-----------------------+--------------------------------------------------- -->
<!-- 0.01    | 2021/04/19 | WS) st.diaz           | Updated -->
<!-- 0.02    | 2021/04/19 | WS) c.macatangay      | Updated -->
<!-- 0.03    | 2021/04/20 | WS) i.fajardo         | Updated -->
<!-- 0.04    | 2021/05/10 | WS) R.Naval           | Updated -->
<!-- 0.05    | 2021/05/10 | WS) mi.aguinaldo      | Updated -->
<!-- ================================================================================================== -->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Create Course</title>
<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/app/font-awesome.min.css">
<link rel="stylesheet" type="text/css"
	href="/css/app/scheduling/scheduling.common.css">
<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
<script th:src="@{/js/app/popper.min.js}"></script>
<script th:src="@{/js/app/bootstrap.min.js}"></script>
</head>


<body>
	<div th:insert="fragments/general.html :: header"></div>
	<!--Success Message-->
	<div class="modal fade" th:text="${successMessage}" id="successMessage1" tabindex="-1" role="dialog"
		 aria-labelledby="exampleModalLabel" aria-hidden="true"></div>
	<!--Success Message End-->
	
	<form action="#" th:action="@{/courses/create}" th:object="${create}" th:id = "createCourse" method="post">
		<div class="container mt-5">
			<h3>
				<i class="fa fa-calendar-o"></i> Create Course
			</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<p>Please input your desired course name and detail</p>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Course Category</label>
						<div class="col-lg-5">
							<input type="text" list="courseCategory" id="courseCategorydetail"
										placeholder="Enter Course Category" 
										class="form-control custom-select custom-select-md"
										onmousedown="courseNameOnDown(this.id)"
										onchange="courseNameOnChange()">
							<div class="text-danger er" id="courseCategory_error"> </div>
							<datalist id="courseCategory" >
								<option value=""></option>
							 	<option th:each="courseCategory : ${courseCategory}"
							 			th:attr="data-value = ${courseCategory.id}"
							 			th:value="${courseCategory.category}"
							 			th:selected="${courseCategory.id}"></option>
							</datalist>
							<input type="hidden" th:id="courseCategoryId" name="courseCategoryId"  />
						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Course Name</label>
						<div class="col-lg-5">
							<input type="text" placeholder="Enter Course Name" class="form-control"
								id="name" name="name">
								<div class="text-danger er" id="coursename_error"> </div>
						</div>
						
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Course Details</label>
						<div class="col-lg-5">
							<textarea rows="10" cols="50" placeholder="Enter Course Details" 
								class="form-control" id="detail" name="detail"></textarea>
								<div class="text-danger er" id="detail_error"></div>
						</div>
						
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">Mandatory</label>
						<div class="col-lg-1">
							<input type="checkbox" value="Yes" name="isMandatory" 
								id="isMandatory" onclick="showDeadline()"
								onchange="enableSubmitButton(this)" style="margin-top: 6px;">
						</div>
					</div>
					<div class="form-group row" id="deadline" style="display: none">
						<label class="col-lg-2 col-form-label">Deadline</label>
						<div class="col-lg-5">
							<select class="form-control form-select" aria-label="Default select example" 
								id="deadlineSel" name= "deadline" onclick="enableSubmitButton(this)">
								<option selected>-</option>
								<option th:value="Immediate" th:text="Immediate"></option>
								<option th:value="Monthly" th:text="Monthly"></option>
								<option th:value="Quarterly" th:text="Quarterly"></option>
								<option th:value="Annually" th:text="Annually"></option>
							</select>
						</div>
					</div>
					<div class="float-right">
						<input id="submit_btn" type=button class="btn btn-success"
							value="Submit" th:attr="onclick=|validateForm()|" disabled>
					</div>

				</div>
			</div>
		</div>
		</form>
	
		<!--Success Modal-->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title text-white">Success!</h5>
						<button type="submit" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">You have
								successfully created this course.</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Success Modal End-->
		
			<!--Error Modal-->
		<div class="modal fade" id="ErrorModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title text-white">Error!</h5>
						<button type="submit" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label" th:text="${errorMsg}"></label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Error Modal End-->
	<footer th:replace="fragments/general.html :: footer"></footer>

	<script th:inline="javascript">
		
		var courseNameErrorCount = 1;
		var courseDetailErrorCount = 1;
		var courseCategoryErrorCount = 1;
		var mandatoryErrorCount = 0;
		var deadlineSel = document.getElementById("deadlineSel");
		var mandatory = document.getElementById("isMandatory");
		/*<![CDATA[*/
		var ErrorModal = /*[[${ErrorModal}]]*/'default';
			/*]]>*/
		/*<![CDATA[*/
		var courseList = /*[[${courseList}]]*/'default';
		/*]]>*/
		
		if (ErrorModal == 1){
			
			$('#ErrorModal').modal('show');
		}else if(ErrorModal==2){
			$('#successModal').modal('show');
		}

		// course category validation
		$("#courseCategorydetail").on("input", function(){
			
			<!--empty check-->
			if (this.value.trim() == "") {
				$("#courseCategory_error").text("Please choose a Course Category");
				courseCategoryErrorCount++;
			} else {
				$("#courseCategory_error").text("");
				courseCategoryErrorCount = 0;
			}
			
			
			checkForm();
		});
		
		// course name validation
		$("#name").on("input", function(){
			var courseName = this.value.trim();
			var noSpecialCharaterAtStartAndEndRegex = new RegExp('^[a-zA-Z0-9](?!.*?[^\na-za-zA-Z0-9]{2}).*?[a-z0-9]$');
			<!--empty check-->
			if ( courseName == "") {
				$("#coursename_error").text("Please Enter A Course Name");
				courseNameErrorCount++;
			} else if(!noSpecialCharaterAtStartAndEndRegex.test(courseName)){
			 	$("#coursename_error").text("Special Character On Start And End Are Not Allowed.");
				courseNameErrorCount++;
			}else {
				$("#coursename_error").text("");
				courseNameErrorCount = 0;
			}
			
			checkForm();
		});
			
		// course detail validation
		$("#detail").on("input", function(){
			<!--empty check-->
			if (this.value.trim() == "") {
				$("#detail_error").text("Please enter a Course Detail");
				courseDetailErrorCount++;
			} else {
				$("#detail_error").text("");
				courseDetailErrorCount = 0;
			}
			
			checkForm();
		});
			
		// confirmation
		function validateForm(){
			if (courseDetailErrorCount <= 0 && 
				courseNameErrorCount <= 0 && 
				courseCategoryErrorCount <= 0) {
				<!--clear error-->
				$("#detail_error").text("");
				$("#coursename_error").text("");
				$("#courseCategory_error").text("");
				$("#createCourse").submit();
			}		
		}
			
		// disabling and enabling of submit button
		 function enableSubmitButton(){
			var mandatory = document.getElementById("isMandatory");
			var deadlineSel = document.getElementById("deadlineSel");
			
			if(mandatory.checked === true && deadlineSel.value === "-"){
				mandatoryErrorCount++;
			} else {
				mandatoryErrorCount = 0;
			}
			
			checkForm();
		}
		
		// show deadline if course is mandatory
		 function showDeadline(){
			var mandatory = document.getElementById("isMandatory");
			var deadline = document.getElementById("deadline");
			if(mandatory.checked == true){
				deadline.style.display = "flex";
			} else {
				document.getElementById("deadlineSel").value = "-";
				deadline.style.display = "none";
			}
		}
			
		// enable/disable submit button
		function checkForm(){
			if (courseNameErrorCount == 0 && courseDetailErrorCount == 0 && mandatoryErrorCount == 0 && courseCategoryErrorCount == 0) {
				$('#submit_btn').removeAttr('disabled');
			} else {
	
				$('#submit_btn').removeAttr('disabled');
				$('#submit_btn').attr('disabled', true);
			}
		}	
		function courseNameOnDown(id){
			var holder = document.getElementById(id).value;
			var faceVal = document.getElementById(id).placeholder;
			
			if(holder == "" && faceVal !== ""){
				document.getElementById(id).placeholder = faceVal;
				document.getElementById(id).value = '';
				
				var courseId = $('#courseCategory [value="'+ holder +'"]').data('value');
				
				document.getElementById("courseCategoryId").value = courseId;

			} else {
				document.getElementById(id).placeholder = holder;
				document.getElementById(id).value = '';
				
				var courseId = $('#courseCategory [value="'+ holder +'"]').data('value');
				
				document.getElementById("courseCategoryId").value = courseId;
			}
			
			var courseCategoryId = document.getElementById("courseCategoryId").value;
			
		}

		function courseNameOnChange(){
			
			var courseName = $("#courseCategorydetail").val();
			var holder = document.getElementById("courseCategorydetail").placeholder;
			
			if(courseName == "" && (holder !== "Enter Course Category" || holder !== "")){
				document.getElementById("courseCategorydetail").value = holder;
				
				var courseId = $('#courseCategory [value="'+ holder +'"]').data('value');
				
				document.getElementById("courseCategoryId").value = courseId;
				
			} else {
				var courseId = $('#courseCategory [value="'+ courseName +'"]').data('value');
	
				document.getElementById("courseCategoryId").value = courseId;
			}
			// check if it is not in the datalist
			var courseCatId = document.getElementById("courseCategoryId").value;
			if(courseCatId === "undefined") {
				var courseCategory = document.getElementById("courseCategorydetail").value; 
				$("#courseCategory_error").text('No course category found with the name, "'+courseCategory+'".  Please select one from the list.');
				courseCategoryErrorCount++;
			}else {
				$("#courseCategory_error").text("");
				courseCategoryErrorCount = 0;
			}
			checkForm();
		}	
	</script>
</body>
</html>