<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
	
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Generate Reports</title>
<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">

<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
<script th:src="@{/js/app/popper.min.js}"></script>
<script th:src="@{/js/app/bootstrap.min.js}"></script>
<script th:src="@{/js/lib/summaryCourses.js}"></script>
</head>
<body onload="load()">
	<div th:insert="fragments/general.html :: header" > </div>
	<div class="container mt-5 div_minheight" >
 		<form class="form-horizontal" action="#" th:action="@{/report/course(courseName=${courseName})}"  th:object="${coursesConductedForm}"  method="GET">
			<h3><i class="fa fa-file-text"></i> Generate Reports</h3>		
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row align-items-center justify-content-center">
						<label class="col-lg-2 col-form-label">Report Type</label>
							<select id="selectReportType" class="form-control" required
								onchange="validateDropDown(this)" th:onchange="load()" style="width:500px">
								<option value="0"></option>
								<option value="1">Summary of Course Conducted</option>
							</select>
						</div>
					</div>
					<div class="form-group row align-items-center justify-content-center">
                    <label class="col-lg-3 col-form-label">Date Range</label>
                        <label>From</label>
                        <div class="col-lg-2">
                           <input class="form-control" type="datetime-local" id="startDate" name="startDate" onchange="submit()" required/>
                           <input type="hidden" th:field="*{scheduledStartDateTime}" />
                        </div>
                        <label>To</label>
                        <div class="col-lg-2">
                            <input class="form-control" type="datetime-local" id="endDate" name="endDate" onchange="submit()" required/>
                           <input type="hidden" th:field="*{scheduledEndDateTime}"/>
                        </div>
                    </div>
 					<div class="form-group row align-items-center justify-content-center">
 						<label class="col-lg-2 col-form-label">Course</label>
 						<div>
 							<select class="form-control styled-select slate"
 								 data-live-search="true" onchange='filterText()' style="width:500px; display:inline-block" th:field="*{courseName}" id="selectCourse" name="selectCourse" >
 								<option value=""></option>
 								<option th:each="courseSelect : *{coursesConductedSet}" 
 								th:attr="data-token=|${courseSelect.courseName}|"
 								th:text="${courseSelect.courseName}" 
 								th:value="${courseSelect.courseName}" 
 								th:selected="${courseSelect.courseName eq lastSelected}">
 								</option>	
 							</select>
 						</div>
					</div>
					<div class="form-group row align-items-center justify-content-center">
						<!-- <input type="button" class="btn btn-success" value="View" data-toggle="modal" data-target="#viewSummaryCourses" href=" " style="width:100px"> -->
						<input type="button" class="btn btn-success" value="View" onclick="viewButtonClick()" style="width:100px">
						<div class="col-lg-1"></div>
						<input type="button" onclick="exportTableToCSV('Summary of Course Conducted.csv')" class="btn btn-success" value="Export" style="width:100px">
					</div>
			</form>
			<label>Report Display</label>
					<div id="reportTable" style="border-style:groove;width:100%;height:400px;display:block;">
					</div>
				<!-- Display Selected Course on Summary Courses Conducted -->
					<table id="summaryCoursesTable" class="table table-bordered table-responsive text-center sticky-table width_max" style="overflow-y:scroll;display:none; width:100%; height:400px;">
						<thead>
							<tr>
								<th>No.</th>
								<th style="width:35%">Course Name</th>
								<th style="width:35%">Planned Date</th>
								<th style="width:35%">Actual Date</th>
							</tr>
						</thead>
						
 						<tbody th:each="showSummaryCourses, rowStat : ${coursesConducted}">
							<tr class="content">
								<td th:text="${rowStat.count}"></td>
								<td th:text="${coursesConducted[__${rowStat.index}__].courseName}"></td>
								<td th:text="${#temporals.format(coursesConducted[__${rowStat.index}__].scheduledStartDateTime,
								'MMM dd, yyyy (E)- HH:mm a')}"/></td>
								<td th:text="${#temporals.format(coursesConducted[__${rowStat.index}__].scheduledEndDateTime, 
								'MMM dd, yyyy (E)- HH:mm a')}"/></td>
						       </tr>
						</tbody>
					</table>
				<!-- End of Display Selected Course on Summary Courses Conducted -->
					
		<!--  View Modal -->
		<div class="modal fade" id="viewSummaryCourses" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg text-center">
	          <div class="modal-content">
	           	<div class="modal-header">
	             <h5 class="modal-title">Summary Courses Conducted</h5>
	             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                 <span aria-hidden="true">&times;</span>
	             </button>
	             </div>
	             <!--  Modal Body -->
	             <div class="modal-body">
	                <div class="form-group row">
	                	<table id="modalSummaryCoursesTable" class="table table-bordered table-responsive text-center sticky-table width_max" style="overflow-y:scroll; height:600px; white-space: nowrap">
							<thead>
								<tr>
									<th>No.</th>
									<th style="width:35%">Course Name</th>
									<th style="width:35%">Planned Date</th>
									<th style="width:35%">Actual Date</th>
								</tr>
							</thead>
	 						<tbody th:each="showModalSummaryCourses, rowStat : ${coursesConducted}">
								<tr class="content">
									<td th:text="${rowStat.count}"></td>
									<td th:text="${coursesConducted[__${rowStat.index}__].courseName}"></td>
									<td th:text="${#temporals.format(coursesConducted[__${rowStat.index}__].scheduledStartDateTime,
									'MMM dd, yyyy (E)- HH:mm a')}"/></td>
									<td th:text="${#temporals.format(coursesConducted[__${rowStat.index}__].scheduledEndDateTime, 
									'MMM dd, yyyy (E)- HH:mm a')}"/></td>
							       </tr>
							</tbody>
						</table>
	             	</div>
	             </div>
	             <!-- End Modal Body -->
	           </div>
	        </div>
	        </div>
		</div>
	</div>
		<!-- End of View Modal -->
	<footer th:replace="fragments/general.html :: footer"></footer>
	
	<script th:inline ="javascript">
		var fromDateTime = $("#scheduledStartDateTime").val();
		var toDateTime = $("#scheduledEndDateTime").val();
		
		function load() {

			var fromNewDate = fromDateTime.toString().slice(0, 16);
			var toNewDate = toDateTime.toString().slice(0, 16);
			
			document.getElementById("startDate").value = fromNewDate;
			document.getElementById("endDate").value = toNewDate;
			
			document.getElementById('selectCourse').options[0].selected = 'selected';
			
			var selectReportType = document.getElementById("selectReportType").value;
			var showSummaryCourses = document.getElementById("summaryCoursesTable");
			var reportDisplayTable = document.getElementById("reportTable");
			
			if(selectReportType == "1"){
				showSummaryCourses.style.display = "block";
				reportDisplayTable.style.display = "none";
			}
			else{
				showSummaryCourses.style.display = "none";
				reportDisplayTable.style.display = "block";
			}
		}
		
		/**
		For HTML with FromDateTime and ToDateTime
		*/
		$("#startDate").blur(function () {
			var formDate = document.getElementById("startDate").value;
			var newDate = new Date(formDate);
			var dateConcat = newDate.toISO().toString();
			if (formDate == "") {
				$("#scheduledStartDateTime").prop('value', null);
			} else {
				$("#scheduledStartDateTime").prop('value', dateConcat);
			}
		}); 

		$("#endDate").blur(function () {
			var formDate = document.getElementById("endDate").value;
			var newDate = new Date(formDate);
			var dateConcat = newDate.toISO().toString(); 
			if (formDate == "") {
				$("#scheduledEndDateTime").prop('value', null);
			} else {
				$("#scheduledEndDateTime").prop('value', dateConcat);
			}
		});
		
		/**
		Formate Date Inputs
		*/
		Date.prototype.toISO = function() {
			return this.getUTCFullYear() +
			'-' + String(this.getUTCMonth() + 1).padStart(2, "0") +
			'-' + String(this.getUTCDate()).padStart(2, "0") +
			'T' + String(this.getUTCHours()).padStart(2, "0") +
			':' + String(this.getUTCMinutes()).padStart(2, "0") +
			':' + String(this.getUTCSeconds()).padStart(2, "0") +
			'.' + (this.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) +
			'Z';
		};
		
		/**
		Filter Duplicate Courses
		*/
		var optionValues =[];
		$('#selectCourse option').each(function(){
			  if($.inArray(this.value, optionValues) >-1){
			     $(this).remove()
			  }else{
			     optionValues.push(this.value);
			  }
		});
			
		/**
		For Filtering Courses Table
		*/
		var selectedItem = sessionStorage.getItem("SelectedItem");  
		$('#selectReportType').val(selectedItem);
		$('#selectReportType').change(function() { 
				var dropVal = $(this).val();
				sessionStorage.setItem("SelectedItem", dropVal);
		});
		function filterText(){  
			var rex = new RegExp($('#selectCourse').val());
			
			if(rex =="/all/"){clearFilter()}else{
				$('.content').hide();
				$('.content').filter(function() {
				return rex.test($(this).text());
				}).show();
			}
		}
		function clearFilter(){
			$('.selectCourse').val('');
			$('.content').show();
		}
		
		/**
		Display Modal
		*/
		function viewButtonClick(){
			
			if(fromDateTime > toDateTime){
				alert("Invalid Date. Please select correct date.");
			}
			else if($('#selectReportType').val() == 0){
				alert("Please select report type.");
			}
			else if(fromDateTime == null){
				alert("Please select start date.");
			}
			else if(toDateTime == null){
				alert("Please select end date.");
			}
			else{
				$('#viewSummaryCourses').modal();
			}
		}
		
		/**
		Exporting to CSV File
		*/
		function downloadCSV(csv, filename) {
			if(fromDateTime > toDateTime){
				alert("Invalid Date. Please select correct date.");
			}
			else if($('#selectReportType').val() == 0){
				alert("Please select report type.");
			}
			else if(fromDateTime == null){
				alert("Please select start date.");
			}
			else if(toDateTime == null){
				alert("Please select end date.");
			}
			else{
				var csvFile;
				var downloadLink;
				alert("Report exported successfully");
				csvFile = new Blob([csv], {type: "text/csv;charset=utf-8"});
				downloadLink = document.createElement("a");
				downloadLink.download = filename;
				downloadLink.href = window.URL.createObjectURL(csvFile);
				downloadLink.style.display = "none";
				downloadLink.click();
			}
		}
		function exportTableToCSV(filename) {
			var csv = [];
			var rows = document.querySelectorAll("#summaryCoursesTable tr");
			
			for (var i = 0; i < rows.length; i++) {
				var row = [], cols = rows[i].querySelectorAll("td, th");
				
				for (var j = 0; j < cols.length; j++) 
					row.push(cols[j].innerText);
        			csv.push(row.join(","));        
   			}
   			downloadCSV(csv.join("\n"), filename);
		}
		
	</script>
</body>
</html>