<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Enroll</title>
	<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
	<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
	<script th:src="@{/js/app/popper.min.js}"></script>
	<script th:src="@{/js/app/bootstrap.min.js}"></script>
	<script th:src="@{/js/enrollment.js}"></script>
</head>

<body>
	<div th:insert="fragments/general.html :: header"> </div>
	
	<div class="container mt-5" action="#" th:action="@{/viewCourseEnroll}" th:object="${courseScheduleListForm}" method="get">
		<form class="form-horizontal" >
			<h3><i class="fa fa-pencil-square-o"></i> Enroll for a training!</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row">
						<label class="col-lg-10 col-form-label">Please enter in yyyy-mm-dd format (E.g. 2020-01-31)</label>
					</div>
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">From Date</label>
						<div class="col-lg-3">
							<input type="date" class="form-control" id="" >
						</div>
						<label class="col-lg-2 col-form-label">To Date</label>
						<div class="col-lg-3">
							<input type="date" class="form-control" id="" >
						</div>
					</div>
					<div class="float-right">
						<input type="submit" class="btn btn-success" value="Search">
					</div>
				</div>
			</div>
		</form>
		<!--Success Modal-->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title text-white">Success!</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">You have enrolled to this course!</label>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Success Modal End-->
		<!--Fail Modal-->
		<div class="modal fade" id="failModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title text-white">Failed to register</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Maximum participants for this course has been reached.</label>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Fail Modal End-->
		<!--Warning Modal-->
		<div class="modal fade" id="warningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-warning">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">No available course on this date.</label>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Warning Modal End-->
		<!--Buttons for messages (delete these)-->
			<input type="button" name="success" class="btn btn-success" value="Success">
			<input type="button" name="fail" class="btn btn-danger" value="Fail">
			<input type="button" name="warning" class="btn btn-warning" value="Warning">
		<!--Buttons for messages (delete these) End-->
		<div style="overflow-x:auto;display: block; white-space: nowrap" class="mt-5">
			<table id="data" class="table table-bordered table-responsive text-center">
				<thead>
					<tr>
						<th>Course ID</th>
						<th>Course Name</th>
						<th>Instructor</th>
						<th>Course Date</th>
						<th>Timeslot</th>
						<th>Venue</th>
						<th>Minimum Number of Participants</th>
						<th>Maximum Number of Participants</th>
						<th>Total Number of Participants Enrolled</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="CourseScheduleListForm: ${courseScheduleListForm}" >
						<td th:text="${courseScheduleListForm.getCourseName}" />
						<td th:text="${courseScheduleListForm.getInstructorName}" />
						<td th:text="${courseScheduleListForm.scheduledStartDateTime}"/>
						<td th:text="${courseScheduleListForm.scheduledStartDateTime + ' - ' + CourseScheduleListForm.scheduledEndDateTime}"/>
						<td th:text="${courseScheduleListForm.getVenue}" />
						<td th:text="${courseScheduleListForm.getMinRequried}" />
						<td th:text="${courseScheduleListForm.getMaxAllowed}" />
						<td th:text="${courseScheduleListForm.getTotalParticipants}" />
					</tr>
					<!--  	
					<tr>
						<td>ABC-123</td>
						<td>SpringBoot Training</td>
						<td>Jane Doe</td>
						<td>Jun 01</td>
						<td>08:00-17:30</td>
						<td>WebEx Meeting</td>
						<td>10</td>
						<td>20</td>
						<td>5</td>
					</tr> 
					-->
				</tbody>
			</table>
		</div>               
		<!--Register Modal-->
		<form class="form-horizontal" action="#" th:action="@{/schedules/{courseourseScheduleId}/enroll}" th:object="${courseEnrollmentForm}" method="get">
			<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Course Details</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course ID:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="" th:value="${courseEnrollmentForm.getCourseScheduleId}">
								</div>
								<label class="col-lg-3 col-form-label">Course Name:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="" th:value="${courseEnrollmentForm.getCourseName}">
								</div>
								<label class="col-lg-3 col-form-label">Instructor:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="" th:value="${courseEnrollmentForm.getInstructorName}">
								</div>
								<label class="col-lg-3 col-form-label">Course Date(s):</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="" value="June 1, 2020">
								</div>
								<label class="col-lg-3 col-form-label">Time slot:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="" value="8:00 AM to 17:30 PM PHT">
								</div>
							</div>	
							<div class="alert alert-danger text-center">
								<h5>This is a REQUIRED training</h5>
							</div>	
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course Description:</label>
								<div class="col-lg-9">
									<label class="col-form-label">Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World</label>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="submit" name="register" class="btn btn-success" data-dismiss="modal" value="Register">
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--Register Modal End-->
		<!--Confirm Modal-->
		<form class="form-horizontal">
			<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm text-center">
					<div class="modal-content">
						
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-lg-12 col-form-label">Are you sure you would like to register to this training?</label>
							</div>	
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-success" value="Yes" name="confirm" data-dismiss="modal">
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="No">
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--Confirm Modal End-->
		<!--Information Modal-->
		<form class="form-horizontal">
			<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Course Details</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course ID:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="" th:value="${courseEnrollmentForm.getCourseScheduleId}">
								</div>
								<label class="col-lg-3 col-form-label">Course Name:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="" th:value="${courseEnrollmentForm.getCourseName}">
								</div>
								<label class="col-lg-3 col-form-label">Instructor:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="" th:value="${courseEnrollmentForm.getInstructorName}">
								</div>
								<label class="col-lg-3 col-form-label">Course Date(s):</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="" value="June 1, 2020">
								</div>
								<label class="col-lg-3 col-form-label">Time slot:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="" value="8:00 AM to 17:30 PM PHT">
								</div>
							</div>	
							<div class="alert alert-danger text-center">
								<h5>This is a REQUIRED training</h5>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course Description:</label>
								<div class="col-lg-9">
									<label class="col-form-label">Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World</label>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" name="message" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--Information Modal End-->
		
	</div>
	
	<footer th:replace="fragments/general.html :: footer"></footer>
	
<script>
	$('tbody').on('dblclick', function() {
		$('#registerModal').modal('show');
	});
	$('input[name="confirm"]').on('click', function() {
		$('#infoModal').modal('show');
	});
	$('input[name="register"]').on('click', function() {
		$('#confirmModal').modal('show');
	});
// 	<!--Message alert-->
	//add if statement for the success/fail messages
	$('input[name="success"]').on('click', function() {
		$('#successModal').modal('show');
	});
	$('input[name="fail"]').on('click', function() {
		$('#failModal').modal('show');
	});
	$('input[name="warning"]').on('click', function() {
		$('#warningModal').modal('show');
	});
// 	<!--Message alert End-->
</script>
</body>

</html>