<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>My Course Schedules</title>
	<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
	<script th:src="@{/js/myCourseSched.js}"></script>
	<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
	<script th:src="@{/js/app/popper.min.js}"></script>
	<script th:src="@{/js/app/bootstrap.min.js}"></script>
	<script th:src="@{/js/app/moment.min.js}"></script>
	<style>
		.sticky {
			position: -webkit-sticky;
			position: sticky;
			right: 0;
			background-color: white;
		}

		.hide {
			display: none;
		}

		.example1 {
			text-align: center;
		}

		.confirmDecline {
			width: 450px;
			overflow: hidden;
			border: none;
		}

		textarea {
			resize: none
		}
		
	</style>

</head>

<body>
	<div th:insert="fragments/general.html :: header"></div>

	<div class="container mt-5">
		<form class="form-horizontal" action="#" th:action="@{/enrollment/mySchedules}" th:object="${myCourseSched}"
			method="get">
			<h3>
				<i class="fa fa-calendar-o"></i> Select Training Period
			</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row">

						<label class="col-lg-2 col-form-label" style="margin-left: 5%">From
							Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" id="fromDateTime" required> <input
								type="hidden" class="form-control" name="fromDateTime" id="inputFromDateTime">
						</div>

						<label class="col-lg-2 col-form-label">To Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" id="toDateTime" required>
							<div class="text-danger" id="toDateTime_error"></div>
							<input type="hidden" class="form-control" name="toDateTime" id="inputToDateTime">
						</div>

						<div class="float-right">
							<input type="submit" class="btn btn-success" value="Submit" onclick="submitDateTime()">
						</div>
					</div>
				</div>
			</div>
		</form>

		<!--Table Data -->
		<div style="overflow-x: auto; display: block; white-space: nowrap" class="mt-5">
			<h3>
				<i class="fa fa-list"></i> List of Enrolled Training
			</h3>
			<table id="data" class="table table-bordered table-responsive text-center" style="width: 100%"
				th:object="${myCourseSched}">
				<colgroup>
					<col style="width: 20%" />
					<col style="width: 20%" />
					<col style="width: 30%" />
					<col style="width: 30%" />
					<col style="width: 10%" />
					<col style="width: 15%" />
				</colgroup>
				<thead>
					<tr>

						<th class="align-middle">Course Name</th>
						<th class="align-middle">Instructor</th>
						<th class="align-middle">Venue Name</th>
						<th class="align-middle">Start Date/Time <br />
							<hr> End Date/Time
						</th>
						<th class="hide">Start Date/Time</th>
						<th class="hide">End Date/Time</th>
						<th class="align-middle">Duration</th>
						<th class="hide">Course Schedule ID</th>
						<th class="hide">Participant ID</th>
						<th class="hide">Registration Date</th>
						<th class="hide">Course Participant ID</th>
						<th class="align-middle">Actions</th>
					</tr>
				</thead>
				<tbody id="scheds">
					<th:block th:each="courseSchedules : *{courseSchedules}">
						<tr th:each="courseEnrollmentForm : ${courseSchedules.courseScheduleDetails}">

							<td class="align-middle" th:if= "${#lists.contains(mandatoryCourseList,courseSchedules.courseName)}"
							th:attr="onclick=|certificateDownload('${courseSchedules.courseName}','${#calendars.format(courseEnrollmentForm.scheduledEndDateTime, 'MMM dd, yyyy (E) - HH:mm a')}','${courseSchedules.courseId}')|"
							th:text="${courseSchedules.courseName}"></td>
							<td class="align-middle" th:unless= "${#lists.contains(mandatoryCourseList,courseSchedules.courseName)}"
							th:text="${courseSchedules.courseName}"></td>
							<td class="align-middle" th:text="${courseSchedules.instructorName}"></td>
							<td class="align-middle" th:text="${courseSchedules.venueName}"></td>

							<td class="align-middle" th:utext="${#calendars.format(courseEnrollmentForm.scheduledStartDateTime, 'MMM dd, yyyy (E) - HH:mm a')} + '&lt;br /&gt; <hr>' + 
						${#calendars.format(courseEnrollmentForm.scheduledEndDateTime, 'MMM dd, yyyy (E) - HH:mm a')}" />



							<td class="hide"
								th:text="${#calendars.format(courseEnrollmentForm.scheduledStartDateTime, 'MMM dd, yyyy (E) - HH:mm a')}">
							</td>
							<td class="hide"
								th:text="${#calendars.format(courseEnrollmentForm.scheduledEndDateTime, 'MMM dd, yyyy (E) - HH:mm a')}">
							</td>
							<td class="align-middle" th:text="|${courseEnrollmentForm.duration} hour/s|"></td>
							<td class="hide" th:text="${courseSchedules.courseScheduleId}"></td>
							<td class="hide" th:text="${courseSchedules.participantId}"></td>
							<td class="hide" th:text="${courseSchedules.registrationDate}"></td>
							<td class="hide" th:text="${courseSchedules.id}"></td>

							<td class="sticky align-middle" th:attr="data-container='body', 
									 data-toggle='tooltip', 
									 data-placement='top',
									 title = ${courseEnrollmentForm.scheduledStartDateTime.toLocalDateTime() 
									 			ge #temporals.createNow()
									 			&& courseEnrollmentForm.scheduledEndDateTime.toLocalDateTime() 
									 		   		le #temporals.createNow()} 
									 			? 'The Course is already ongoing.' : 
									 		 (${courseEnrollmentForm.scheduledEndDateTime.toLocalDateTime() 
									 		   		le #temporals.createNow()} ? 'The Course has already ended.' : '') ">
								<button th:if="${courseSchedules.attendanceStatus == 'A' } " title="Decline" th:attr="onclick=|declinedCourseSchedule('${courseSchedules.id}',
 									'${courseSchedules.courseName}',
 									'${courseSchedules.courseScheduleId}',
 									'${courseSchedules.registrationDate}',
 									'${courseSchedules.instructorName}',
 									'${courseSchedules.venueName}',
 									'${#calendars.format(courseEnrollmentForm.scheduledStartDateTime, 'MMM dd, yyyy (E) - HH:mm a')}',
 									'${#calendars.format(courseEnrollmentForm.scheduledEndDateTime, 'MMM dd, yyyy (E) - HH:mm a')}',
 									'${courseEnrollmentForm.duration}',
 									'${courseSchedules.courseId}',
 									'${courseSchedules.courseDetails}')|" class="btn btn-danger">
									<i class="fa fa-trash-o fa-lg"></i>
								</button>

								<button th:if="${courseSchedules.attendanceStatus == 'A'}" title="Change Schedule"
									th:attr="onclick=|declineUpdate('${courseSchedules.courseId}','${courseSchedules.courseName}','${courseSchedules.courseScheduleId}')|"
									class="btn btn-primary">
									<i class="fa fa-edit"></i>
								</button>
								<!-- Upload Certificate Modal -->
								<button th:if= "${#lists.contains(mandatoryCourseList,courseSchedules.courseName)}" 
								Type="button" class="btn btn-info" aria-label="Settings" data-toggle="modal"
									data-target="#uploadModal"
									th:attr="onclick=|getCourseId('${courseSchedules.courseId}')|"title="Upload Certificate" >
									<i class="fa fa-upload"></i>
									</button>

								<p th:if="${courseSchedules.attendanceStatus == 'P'}">Already Attended</p>
							</td>
						</tr>
					</th:block>

				</tbody>
			</table>
			<div th:if="${#lists.isEmpty(myCourseSched.courseSchedules)}">
				<div class="alert alert-dismissible alert-danger text-center">
					<strong th:text="${errorMessage}"></strong>
				</div>
			</div>
			<!-- Table Data End -->

			<!-- Upload Certificate Start -->
			<div id="uploadModal" class="modal fade" role="dialog">
				<div class="modal-dialog modal-dialog-centered ">

					<div class="modal-content">
						<div class="modal-header text-left">
							<i class="fa fa-upload fa-2x upload"></i>&nbsp;
							<h4 class="modal-title w-100">Upload Certificate</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
								<span aria-hidden="true">&times;</span>
						</div>
						<div class="modal-body">
							<form class="form-horizontal" id ="certificateUpload">
								<input type="hidden" name="courseId1" id="courseId1"></input>
								<div class="modal-body" style="text-align: center" aria-hidden="true">
									<input type="file" id="certificateFile" name="certificateFile" accept=".pdf"
										class="form-control-file border"></input>
								</div>
								<button type="button" class="btn btn-danger float-right" data-dismiss="modal"
									style="margin: 5px;">Cancel</button>
								<button type="submit" id="btn_upload" class="btn btn-info float-right"
									data-target="#successCertificateModal" style="margin: 5px;"
									disabled> Upload</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- Upload Certificate End -->
			
			<!--  Successful modal upload -->
			<div class="modal fade" id="successCertificateModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<h5 class="col-lg-20 col-form-label" align="center"
							id="successMessage">You have successfully uploaded a certificate.</h5>
						<div class="modal-body" align="center">
							<button id = "okay_btn" type="button" class="btn btn-primary btn-success"data-dismiss="modal">Okay</button>
						</div>
					</div>
				</div>
			</div>
			<!--  Successful modal upload end -->
			
			<!-- Certificate Details -->
			<div id="certificateDownload" class="modal fade" role="dialog">
				<div class="modal-dialog modal-dialog-centered modal-lg">
					<div class="modal-content">
						<div class="modal-header text-left">
							<h5 class="modal-title"><i class="far fa-file-pdf"></i> Certificate Details
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
								<span aria-hidden="true">&times;</span>
						</div>
						<div class="modal-body">
						<form id= "downloadCertificateForm" action="#" th:action = "@{/enrollment/{courseIdHidden}/downloadFile}" method="get">
							<h6 style="font-weight: bold;">Course Detail</h6>
							<div class="form-group row">
								<input type="hidden" name="courseIdHidden" id="courseIdHidden">
								<input type="hidden" name="id" id="courseParticipantIdHidden">
								<label class="col-lg-3 col-form-label">Course Name:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control border-0 bg-white shadow-none"
										name="courseName" id="courseName" readonly>
								</div>
								<label class="col-lg-3 col-form-label">Date Taken:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control border-0 bg-white shadow-none" name="" id="dateTaken"
										readonly>
								</div>
							</div>
									<div class = "downloadFile" id = "downloadFileContainer">
										<button id = "download_btn" type="submit" class="btn btn-primary btn-success">Download Certificate</button>
							</div>
						</form>	
							</div>					
						</div>
					</div>
				</div>
			</div>
			
			
			<!-- Error Modal -->
			<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true">
				<div class="modal-dialog modal-sm text-center">
					<div class="modal-content">
						<div class="modal-header alert-danger">
							<h5 class="modal-title"></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-lg-12 col-form-label" id="message"></label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Error Modal End-->

		<!-- Change Course Schedule Modal -->
		<div class="modal fade" id="changeCourseSchedModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							Change Course Schedule (<span id="changeCourseSchedule"></span> )
						</h5>
						<input type="hidden" id="courseScheduleId_replace">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<table class="table table-bordered table-responsive" style="width: 100%" id="updateTable">
							<colgroup>
								<col style="width: 20%" />
								<col style="width: 20%" />
								<col style="width: 20%" />
								<col style="width: 20%" />
								<col style="width: 20%" />
							</colgroup>
							<thead class="text-center">
								<tr>
									<th>Instructor</th>
									<th>Venue</th>
									<th>Start Date/Time</th>
									<th>End Date/Time</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody class="text-center" id="change-course-schedule-body">
							</tbody>
						</table>
						<div class="text-center">
							<strong>******* END *******</strong>
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-secondary" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Change Course Schedule Modal End-->

		<!--Change Course Schedule Confirmation Modal-->
		<div class="modal fade" id="confirmChangeScheduleModal_id" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label ">Are you sure you want to change course
								schedule?
							</label>
						</div>
						<div class="modal-footer">
							<form th:action="@{/enrollment/updateSchedule}" method="post"
								th:object="${courseEnrollmentForm}">
								<input type="hidden" name="id" id="confirmId">
								<input type="hidden" name="courseScheduleId" id="confirmCourseScheduleId">
								<button type="submit" name="submit" value="submit" class="btn btn-primary">Yes</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Change Course Schedule Confirmation Modal End -->

		<!--Cancel Registration Modal -->
		<form class="form-horizontal" id="declineView" th:object="${courseDecline}" th:method="delete"
			th:action="@{/enrollment/mySchedules/decline}">
			<div class="modal fade" id="declineMemberModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title"><i class="fa fa-info-circle"></i> Course Information</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<input type="hidden" name="courseId" id="courseIdHidden">
								<input type="hidden" name="id" id="courseParticipantIdHidden">
								<input type="hidden" name="courseScheduleId" id="courseScheduleIdHidden">
								<label class="col-lg-3 col-form-label">Course Name:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control border-0 bg-white shadow-none"
										name="courseName" id="courseName" readonly>
								</div>
								<label class="col-lg-3 col-form-label">Instructor Name:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control border-0 bg-white shadow-none"
										name="instructorName" id="courseSchedInstructor" readonly>
								</div>
								<label class="col-lg-3 col-form-label">Course Date:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control border-0 bg-white shadow-none"
										id="courseSchedDate" readonly>
								</div>

								<label class="col-lg-3 col-form-label">Time slot:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control border-0 bg-white shadow-none"
										id="courseSchedTime" readonly>
								</div>
								<label class="col-lg-3 col-form-label">Venue Name:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control border-0 bg-white shadow-none"
										id="courseSchedVenue" name="venueName" readonly>
								</div>
								<label class="col-lg-3 col-form-label">Course Details:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control border-0 bg-white shadow-none"
										id="courseDescription" name="courseDescription" readonly>
								</div>
								<label class="col-lg-3 col-form-label hide">Participant Name:</label>
								<div class="col-lg-9 hide">
									<input type="text" class="form-control border-0 bg-white shadow-none hide"
										id="participantName" name="participantName" readonly>
								</div>
								<label class="col-lg-3 col-form-label hide">Registration Date:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control border-0 bg-white shadow-none hide"
										id="registrationDate" name="registrationDate" readonly>
								</div>
							</div>
						</div>
						<div class="alert alert-danger text-center">
							<h5>This is a REQUIRED training</h5>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" onclick="confirmDecline()">
								<i class="fa fa-trash-o fa-lg"></i> Decline
							</button>
							<input type="button" class="btn btn-secondary" data-dismiss="modal" value="Back">
						</div>
					</div>

				</div>
			</div>
			<!--Decline Modal End-->

			<!-- Confirm Decline Modal -->

			<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">

				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title"><i class="fa fa-question-circle"></i> Are you sure you want to
								decline the course registration for
								<input class="modal-title confirmDecline" id="mainConfirmCourseName" disabled>
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">


							<div class="form-group">
								<h4 class="col-lg-12 col-form-label">Please write the reason
									for your course decline.</h4>
								<h4 class="text-danger col-lg-12 col-form-label">*This is a required field.</h4>
								<div class="col-lg-12">
									<textarea name="reason" cols="3" rows="3" class="form-control"
										maxlength="150"></textarea>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="submit" class="btn btn-primary" name="decline" id="declineBtn" value="Confirm">
							<button type="button" class="btn btn-secondary" onclick="backModal()"
								data-dismiss="modal">Back</button>
						</div>
					</div>
				</div>
			</div>
		</form>


		<!-- Confirm Decline Modal End-->

		<!-- Success Modal -->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<h5 class="col-lg-20 col-form-label" align="center" id="successMessage">Success</h5>

					<div class="modal-body" align="center">
						<button type="button" class="btn btn-primary btn-success" data-dismiss="modal">Okay</button>
					</div>
				</div>
			</div>
		</div>
		<!--Success Modal End -->

	</div>
	<footer th:replace="fragments/general.html :: footer"></footer>
	<script th:inline="javascript">
		$(function () {
			$('[data-toggle="tooltip"]').tooltip()
		})

		//FromDateTime is Higher that ToDateTime
		/*<![CDATA[*/
		var errorMessage = /*[[${error}]]*/'default';
		if (errorMessage == "To Date should be greater than or equal to From Date") {
			document.getElementById("toDateTime_error").innerHTML = errorMessage;
		}
		/*]]>*/

		/*]]>*/

		//Confirm Decline Modal 
		/*<![CDATA[*/
		function confirmModal() {
			$('#confirmationModal').modal('show');
		}
		/*]]>*/


		//Success Modal 
		/*<![CDATA[*/
		function successfullModal() {
			$('#successModal').modal('show');
		}
		/*]]>*/

		//SHOW ZONEDDATETIME IN TIMEDATE-LOCAL
		/*<![CDATA[*/
		function submitDateTime() {
			var toAppend = ":00.000+08:00[Asia/Singapore]";
			var from = document.getElementById('fromDateTime').value;
			var to = document.getElementById('toDateTime').value;
			var fromInput = document.getElementById('inputFromDateTime');
			var toInput = document.getElementById('inputToDateTime');
			fromInput.value = from + toAppend;
			toInput.value = to + toAppend;
		}
		/*]]>*/

		//SHOW ZONEDDATETIME IN TIMEDATE-LOCAL
		/*<![CDATA[*/
		var myCourseSched = /*[[${myCourseSched}]]*/'default';
		var finalFromDateTime = myCourseSched.fromDateTime.slice(0, 16);
		var finalToDateTime = myCourseSched.toDateTime.slice(0, 16);
		var inputFromDateTime = document.getElementById('fromDateTime');
		var inputToDateTime = document.getElementById('toDateTime');

		inputFromDateTime.value = finalFromDateTime;
		inputToDateTime.value = finalToDateTime;
		/*]]>*/

		/**
	 ** Error, Employee already enrolled
	 **/
		/*<![CDATA[*/
		var error = /*[[${error}]]*/'default';
		if (error == "You are already enrolled to this course.") {
			document.getElementById("message").innerHTML = error;
			$('#errorModal').modal('show');
		}
		/*]]>*/


		//Successfuly canceled a Course Schedule
		/*<![CDATA[*/
		var successMessageChangeSchedule = /*[[${successMessageChangeSchedule}]]*/'default';
		if (successMessageChangeSchedule == "Successfully change schedule") {
			document.getElementById("successMessage").innerHTML = successMessageChangeSchedule;
			$('#successModal').modal('show');
		}
		/*]]>*/

		//Successfuly canceled a Course Schedule
		/*<![CDATA[*/
		var courseDeclineSuccess = /*[[${courseDeclineSuccess}]]*/'default';
		if (courseDeclineSuccess == "You have declined the course successfully!") {
			document.getElementById("successMessage").innerHTML = courseDeclineSuccess;
			$('#successModal').modal('show');
		}
		/*]]>*/

		/* 
		 *Error, Employee already enrolled
		 */
		/*<![CDATA[*/
		var errorDeclineMessage = /*[[${errorDeclineMessage}]]*/'default';
		if (errorDeclineMessage == "Reason must not be Empty") {
			document.getElementById("message").innerHTML = errorDeclineMessage;
			$('#errorModal').modal('show');
		}
		/*]]>*/
		
		/*<![CDATA[*/
		var successUploadMessage = /*[[${successUploadMessage}]]*/'default';
		if (successUploadMessage == 1) {
			$('#successCertificateModal').modal('show');
		}
		/*]]>*/
		
		function getCourseId(courseId) {
			document.getElementById('courseId1').value = courseId;
			$('#uploadmodal').modal('show');
		}
		$("#certificateFile").change(function () {
			var val = $(this).val();
			if (val != 0) {
				$("#btn_upload").removeAttr("disabled");
			}
		});
		function certificateDownload(courseName, dateTaken,courseId) {
			document.getElementById('courseName').value = courseName;
			document.getElementById('dateTaken').value = dateTaken;
			document.getElementById('courseIdHidden').value = courseId;
			$('#certificateDownload').modal('show');
		}
		var certificateUpload = document.querySelector('#certificateUpload');
		var certificateFile = document.querySelector('#certificateFile');

		function uploadCertificate(certificateFile){
			var courseId = document.getElementById('courseId1').value;
			var formData = new FormData();
		    formData.append("file", certificateFile);
		    formData.append("courseId1", courseId);
		    
		   	var xhr = new XMLHttpRequest();
		    xhr.open("POST", "/enrollment/{courseId1}/upload");
		    xhr.onload = function() {
		        if(xhr.status == 200) {		        	
		        	$('#uploadModal').modal('hide');
		        	$('#successCertificateModal').modal('show');		        
		        }
		    }
		    
		    xhr.send(formData);
		}    
		certificateUpload.addEventListener('submit', function(event){
		    var files = certificateFile.files;
		    uploadCertificate(files[0]);
		    event.preventDefault();
		}, true);
		
		$( "#okay_btn" ).click(function() {
			 window.location.href = "/enrollment/mySchedules";
			});
	</script>
</body>

</html>