<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>My Course Sched</title>
<link rel="stylesheet" type="text/css"
	href="/css/app/bootstrap.min.css">
<link rel="stylesheet" type="text/css"
	href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" -->
<!-- 	integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" -->
<!-- 	crossorigin="anonymous"></script> -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script th:src="@{/js/myCourseSched.js}"></script>
<!-- <script th:src="@{/js/viewMemberCourse.js}"></script> -->
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
	integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
	crossorigin="anonymous"></script>

<style>
.sticky {
  position: -webkit-sticky;
  position: sticky;
  right: 0;
  background-color: white;
}
.hide {
  display:none;
}
.example1 {
  text-align: center;
}
.confirmDecline{
 width: 300px; 
 overflow: hidden;
 border: none;
}
</style>

</head>

<body onload="load()">
	<div th:insert="fragments/general.html :: header"></div>

	<div class="container mt-5">
		<form class="form-horizontal" action="#"
			th:action="@{/enrollment/mySchedules}" th:object="${myCourseSched}"
			method="get">
			<h3>
				<i class="fa fa-calendar-o"></i> Select Training Period
			</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row">

						<label class="col-lg-2 col-form-label" style="margin-left: 5%">From
							Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control"
								id="fromDateTime" required> <input type="hidden"
								class="form-control" name="fromDateTime" id="inputFromDateTime">
						</div>

						<label class="col-lg-2 col-form-label">To Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" id="toDateTime"
								required>
							<div class="text-danger" id="toDateTime_error"></div>
							<input type="hidden" class="form-control" name="toDateTime"
								id="inputToDateTime">
						</div>

						<div class="float-right">
							<input type="submit" class="btn btn-success" value="Submit"
								onclick="submitDateTime()">
						</div>
					</div>
				</div>
			</div>
		</form>	
		
		<!--Table Data -->
		<div style="overflow-x: auto; display: block; white-space: nowrap"
			class="mt-5">
			<h3>
				<i class="fa fa-list"></i> List of Enrolled Training
			</h3>
			<table id="data"
				class="table table-bordered table-responsive text-center"
				style="width: 100%" th:object="${myCourseSched}">
				<colgroup>
					<col style="width: 20%" />
					<col style="width: 20%" />
					<col style="width: 30%" />
					<col style="width: 30%" />
					<col style="width: 10%" />
					<col style="width: 15%" />
				</colgroup>
				<thead>
					<tr>
						
						<th>Course Name</th>
						<th>Instructor</th>
						<th>Venue Name</th>
						<th>Start Date/Time</th>
						<th>End Date/Time</th>
						<th>Duration</th>
						<th>Course Schedule ID</th>
						<th>Participant ID</th>
						<th>Registration Date</th>
						<th>Course Participant ID</th>
						<th class="sticky"></th>
					</tr>
				</thead>
				<tbody th:each="courseSchedules : *{courseSchedules}">
					<tr
						th:each="courseEnrollmentForm : ${courseSchedules.courseScheduleDetails}">
						
						<td th:text="${courseSchedules.courseName}"></td>
						<td th:text="${courseSchedules.instructorName}"></td>
						<td th:text="${courseSchedules.venueName}"></td>					
						<td th:text="${#calendars.format(courseEnrollmentForm.scheduledStartDateTime, 'MMM dd, yyyy (EEEE) - HH:mm a')}"></td>
						<td th:text="${#calendars.format(courseEnrollmentForm.scheduledEndDateTime, 'MMM dd, yyyy (EEEE) - HH:mm a')}"></td>
						<td th:text="|${courseEnrollmentForm.duration} hour/s|"></td>
						<td th:text="${courseSchedules.courseScheduleId}"></td>
						<td th:text="${courseSchedules.participantId}"></td>
						<td th:text="${courseSchedules.registrationDate}"></td>
						<td th:text="${courseSchedules.id}"></td>
						<td class="sticky">
							<!--@RequestParam -->
							<a
								th:href="@{/enrollment/mySchedules/{courseParticipantId}/decline
								(courseParticipantId = ${courseSchedules.id})}"
								class="btn btn-danger" name="">
								<i class="fa fa-times"></i> Decline
							</a>

							<button
								th:attr="onclick=|declineUpdate('${courseSchedules.courseId}','${courseSchedules.courseName}','${courseSchedules.courseScheduleId}')|"
								class="btn btn-danger">
								<i class="fa fa-times"></i> Change Schedule
							</button>
						</td>

					</tr>
				</tbody>
			</table>
			<div th:if="${#lists.isEmpty(myCourseSched.courseSchedules)}">
				<div class="alert alert-dismissible alert-danger text-center">
					<strong th:text="${errorMessage}"></strong>
				</div>
			</div>
		</div>
		<!-- Table Data End -->

		<!-- Change Course Schedule Modal -->
		<div class="modal fade" id="changeCourseSchedModal" tabindex="-1"
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
			data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">
							Change Course Schedule (<span id="changeCourseSchedule"></span> )
						</h5>
						<input type="hidden" id="courseScheduleId_replace">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<table class="table table-bordered table-responsive"
							style="width: 100%" id="updateTable">
							<colgroup>
								<col style="width: 30%" />
								<col style="width: 10%" />
								<col style="width: 25%" />
								<col style="width: 25%" />
								<col style="width: 10%" />
							</colgroup>
							<thead class="text-center">
								<tr>
									<th>Instructor</th>
									<th>Venue</th>
									<th>Start Date/Time</th>
									<th>End Date/Time</th>
								</tr>
							</thead>
							<tbody class="text-center" id="change-course-schedule-body">
							</tbody>
						</table>
						<div class="text-center">
					<strong >******* END *******</strong>
				</div>
						<div class="modal-footer">
						<input type="button" class="btn btn-danger" data-dismiss="modal"
							value="Back">
					</div>
					</div>
					
				</div>
			</div>
		</div>
		<!--Change Course Schedule Modal End-->

		<!--Change Course Schedule Confirmation Modal-->
		<div class="modal fade" id="confirmChangeScheduleModal_id"
			tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
			aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to change course schedule? </label>
						</div>
						<div class="modal-footer">
							<form th:action="@{/enrollment/updateSchedule}" method="post" th:object="${courseEnrollmentForm}">
									<input type="hidden" name="id" id="confirmId"> 
									<input type="hidden" name="courseScheduleId" id="confirmCourseScheduleId">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
								<button type="submit" name="submit" value="submit" class="btn btn-success">Yes</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Change Course Schedule Confirmation Modal End -->

		<!--Cancel Registration Modal -->	
		<form class="form-horizontal"
			  id="declineView"
			  th:object="${courseDecline}" 
			  th:method="delete"
			  th:action="@{/enrollment/mySchedules/{courseId}/decline(courseId = *{courseId})}" 
			  th:if="${#strings.contains(#httpServletRequest.requestURI, 'decline')}">
		<div class="modal fade" id="declineModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Course Information</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-3 col-form-label">Course Name:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control border-0 bg-white shadow-none"
									th:field="*{courseName}" id="courseName" readonly>
								<input type="hidden" th:field="*{courseId}"/>
							</div>
							<label class="col-lg-3 col-form-label">Instructor Name:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control border-0 bg-white shadow-none"
									th:field="*{instructorName}" id="courseSchedInstructor" readonly>
							</div>
							<label class="col-lg-3 col-form-label">Course Date:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control border-0 bg-white shadow-none"
									id="courseSchedDate" readonly>
							</div>
							<div class="d-print-none">
								<input type="hidden" name="startDateTime" 
									th:id="${'startDateTime'}"
							  		th:value=
							  			"*{courseScheduleDetailsForm.scheduledStartDateTime}">
							 	<input type="hidden" name="endDateTime" 
							 		th:id="${'endDateTime'}"
							 		th:value=
							 			"*{courseScheduleDetailsForm.scheduledEndDateTime}">
							 	<input type="hidden" name="fieldStartDateTime" 
									th:id="${'fieldStartDateTime'}"
							  		th:field=
							  			"*{courseScheduleDetailsForm.scheduledStartDateTime}">
							 	<input type="hidden" name="fieldEndDateTime" 
							 		th:id="${'fieldEndDateTime'}"
							 		th:field=
							 			"*{courseScheduleDetailsForm.scheduledEndDateTime}">
							 	<input type="hidden" 
							 		th:id="${'detailId'}"
							 		th:value=
							 			"*{courseScheduleDetailsForm.id}" name=id>
							</div>
							<label class="col-lg-3 col-form-label">Time slot:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control border-0 bg-white shadow-none"
									id="courseSchedTime" readonly>
							</div>
							<label class="col-lg-3 col-form-label">Venue Name:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control border-0 bg-white shadow-none"
									id="courseSchedVenue" th:field="*{venueName}" readonly>
							</div>
							<label class="col-lg-3 col-form-label">Participant Name:</label>
							<div class="col-lg-9">
								<input type="hidden" th:field="*{id}">
								<input type="text" class="form-control border-0 bg-white shadow-none"
									id="participantName" th:field="*{participantName}" readonly>
							</div>
							<label class="col-lg-3 col-form-label">Registration Date:</label>
							<div class="col-lg-9">
								<input type="text" class="form-control border-0 bg-white shadow-none"
									id="registrationDate" th:name="*{'registrationDate'}" th:value="*{registrationDate}" readonly>
							</div>
						</div>
						</div>
						<div class="alert alert-danger text-center">
							<h5>This is a REQUIRED training</h5>
						</div>
						<div class="ml-1 form-group row">
							<label class="col-lg-3 col-form-label">Course Description:</label>
							<div class="col-lg-9">
								<div class="col-lg-9">
									<input type="hidden" th:field="*{details}">
									<label class="col-form-label" th:text="*{details}"></label>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-success" onclick="confirmDecline()">
								Cancel Registration
							</button>
						<input type="button" class="btn btn-info" data-dismiss="modal"
							value="Back">
						</div>
					</div>
					
				</div>
			</div>	
		
		
		<!-- Confirm Decline Modal -->
		<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Are you sure you want to cancel your <br/>
						registration for <br/>
						<input type="text" class="confirmDecline" id="mainConfirmCourseName" 
						 th:value="*{courseName}"
						 disabled></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<h4 class="col-lg-12 col-form-label">Please write the reason
								for your cancellation.</h4>
							<p class="text-danger">*This is a required field.</p>
							<div class="col-lg-12">
								<textarea th:field="*{reason}" cols="80" rows="10"></textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-success" name="decline" id="declineBtn">Confirm Cancellation</button>
						<button class="btn btn-info" onclick="backModal()" data-dismiss="modal">Back</button>
					</div>
				</div>
			</div>
		</div>
		</form>	
		
		<!--Decline Modal End-->
		<!-- Confirm Decline Modal End-->							
				
		<!-- Success Modal -->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
						<h5 class="col-lg-20 col-form-label" align= "center" id="successMessage"></h5>
					
					<div class="modal-body" align= "center">
						<button type="button" class="btn btn-primary btn-success" data-dismiss="modal">Okay</button>
				</div>
			</div>
		</div>
		</div>
		<!--Success Modal End -->
		
		<!-- Decline Success Modal -->
		<div class="modal fade" th:if="*{courseDeclineSuccess}" id="declineSuccessModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<h5 class="col-lg-20 col-form-label" align= "center" th:text="*{courseDeclineSuccess}" id="declined"></h5>
					<div class="modal-body" align= "center">
						<button type="button" class="btn btn-primary btn-success" data-dismiss="modal">Okay</button>
				</div>
			</div>
		</div>
		</div>
		<!-- Decline Success Modal End -->

</div>
	<footer th:replace="fragments/general.html :: footer"></footer>
	<script th:inline="javascript">
	
	
		function load(){
			
			if ($("#declineView").length > 0) {
				var declineCourseSchedule =  $("#courseName").val();
				if(declineCourseSchedule !== ""){
					$('#declineModal').modal('show');
				}
				
				var startDateTime = document.getElementById("startDateTime").value;
			    var endDateTime = document.getElementById("endDateTime").value;
			    var registrationDate = document.getElementById("registrationDate").value;
			    
			    var rowStartDate = startDateTime.substring(0, startDateTime.indexOf("T"));
			    var rowEndDate = endDateTime.substring(0, endDateTime.indexOf("T"));
			    var rowRegDate = registrationDate.substring(0, registrationDate.indexOf("T"));
			    
			    var rowStartTime = startDateTime.substring(startDateTime.indexOf("T") + 1, startDateTime.indexOf("T") + 6);
			    var rowEndTime = endDateTime.substring(endDateTime.indexOf("T") + 1, endDateTime.indexOf("T") + 6);
			    var rowRegTime = registrationDate.substring(registrationDate.indexOf("T") + 1, registrationDate.indexOf("T") + 6);
			    
			    document.getElementById("courseSchedDate").value = rowStartDate+ " to " +rowEndDate;
			    
			    document.getElementById("courseSchedTime").value = rowStartTime+ " to " +rowEndTime;
			    

		        var rowStartDateTime = new Date(rowStartDate);
			    var rowEndDateTime = new Date(rowEndDate);
			    
			    rowStartDateTime.setHours(rowStartTime.substring(0, rowStartTime.indexOf(":")));
			    rowStartDateTime.setMinutes(rowStartTime.substring(rowStartTime.indexOf(":") + 1));
			    rowEndDateTime.setHours(rowEndTime.substring(0, rowEndTime.indexOf(":")));
			    rowEndDateTime.setMinutes(rowEndTime.substring(rowEndTime.indexOf(":") + 1));
			    
			    var startDateTime = rowStartDateTime.toISO().toString();
			    var endDateTime = rowEndDateTime.toISO().toString()
			    
			    document.getElementById("fieldStartDateTime").value = startDateTime;
			    document.getElementById("fieldEndDateTime").value = endDateTime;
			    
			}
			
			if($("#declineSuccessModal").length > 0){
				/*<![CDATA[*/
				var declineSuccess = /*[[${courseDeclineSuccess}]]*/ 'default';
				
				var declined = document.getElementById("declined").innerHTML;

				if (declineSuccess == declined) {
					$('#declineSuccessModal').modal('show');
				}
				/*]]>*/
			}		
		}
		

		//FromDateTime is Higher that ToDateTime
		/*<![CDATA[*/
		var errorMessage = /*[[${error}]]*/'default';
		if (errorMessage == "To Date should be greater than or equal to From Date") {
			document.getElementById("toDateTime_error").innerHTML = errorMessage;
		}
		/*]]>*/

		//Back Modal
		function backModal() {
			$('#confirmationModal').modal('hide');
			$('#declineModal').modal('show');
		}

		/*]]>*/

		//Confirm Decline Modal 
		/*<![CDATA[*/
		function confirmModal() {
			$('#confirmationModal').modal('show');
		}
		/*]]>*/

		//Success Modal 
		/*<![CDATA[*/
		function successfullModal() {
			$('#successModal').modal('show');
		}
		/*]]>*/

		//SHOW ZONEDDATETIME IN TIMEDATE-LOCAL
		/*<![CDATA[*/
		function submitDateTime() {
			var toAppend = ":00.000+08:00[Asia/Singapore]";
			var from = document.getElementById('fromDateTime').value;
			var to = document.getElementById('toDateTime').value;
			var fromInput = document.getElementById('inputFromDateTime');
			var toInput = document.getElementById('inputToDateTime');
			fromInput.value = from + toAppend;
			toInput.value = to + toAppend;
		}
		/*]]>*/

		//SHOW ZONEDDATETIME IN TIMEDATE-LOCAL
		/*<![CDATA[*/
		var myCourseSched = /*[[${myCourseSched}]]*/'default';
		var finalFromDateTime = myCourseSched.fromDateTime.slice(0, 16);
		var finalToDateTime = myCourseSched.toDateTime.slice(0, 16);
		var inputFromDateTime = document.getElementById('fromDateTime');
		var inputToDateTime = document.getElementById('toDateTime');

		inputFromDateTime.value = finalFromDateTime;
		inputToDateTime.value = finalToDateTime;
		/*]]>*/

		//FromDateTime is Higher that ToDateTime
		/*<![CDATA[*/
		var error = /*[[${error}]]*/'default';
		if (error == "Invalid Date Input"
				|| error == "You are already enrolled to this course.") {
			document.getElementById("message").innerHTML = error;
			$('#errorModal').modal('show');
		}
		/*]]>*/

		//Successfuly canceled a Course Schedule
		/*<![CDATA[*/
		var successMessage = /*[[${successMessage}]]*/'default';
		if (successMessage == "Successfully Canceled the Course Schedule"
				|| successMessage == "Successfully change schedule") {
			alert(successMessage);
			document.getElementById("successMessage").innerHTML = successMessage;
			$('#successModal').modal('show');
		}
		/*]]>*/
		
		
		//Successfuly canceled a Course Schedule
		/*<![CDATA[*/
		var successMessageChangeSchedule = /*[[${successMessageChangeSchedule}]]*/'default';
		if (successMessageChangeSchedule == "Successfully change schedule") {
			document.getElementById("successMessage").innerHTML = successMessageChangeSchedule;
			$('#successModal').modal('show');
		}
		/*]]>*/
		
		//Format Date Inputs
		Date.prototype.toISO = function() {
			 return this.getUTCFullYear() +
		        '-' + String(this.getUTCMonth() + 1).padStart(2, "0") +
		        '-' + String(this.getUTCDate()).padStart(2, "0") +
		        'T' + String(this.getUTCHours()).padStart(2, "0") +
		        ':' + String(this.getUTCMinutes()).padStart(2, "0") +
		        ':' + String(this.getUTCSeconds()).padStart(2, "0") +
		        '.' + (this.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) +
		        'Z';
		};
	</script>
</body>

</html>