<!-- ================================================================================================== -->
<!-- Project Name : Training Sign Up -->
<!-- System Name  : Enrollment -->
<!-- Name         : viewCourseEnroll.html -->

<!-- <<Modification History>> -->
<!-- Version | Date       | Updated By            | Content -->
<!-- --------+------------+-----------------------+--------------------------------------------------- -->
<!-- 0.01    | ----/--/-- | WS) -		          | Created -->
<!-- 0.02    | 2021/06/02 | WS) l.celoso          | Updated -->
<!-- 0.03    | 2021/06/23 | WS) m.taboada         | Updated -->
<!-- 0.03    | 2021/06/30 | WS) l.celoso          | Updated -->
<!-- ================================================================================================== -->

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>View Course Enroll</title>
	<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
	<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
	<script th:src="@{/js/viewCourseEnroll.js}"></script>
	<script th:src="@{/js/app/moment.min.js}"></script>
	<script th:src="@{/js/app/popper.min.js}"></script>
	<script th:src="@{/js/app/bootstrap.min.js}"></script>
	<style>
	.sticky {
	  position: -webkit-sticky;
	  position: sticky;
	  right: 0;
	  background-color: #F8F8FF;
	}
	.hide {
  display:none;
}
	</style> 
</head>

<body>
	<div th:insert="fragments/general.html :: header"> </div>
	
	<div class="container mt-5">
		<form id="availableCourseForm" class="form-horizontal" action="#" th:action="@{/enrollment/viewCourseEnroll}" method="get">
			<h3><i class="fa fa-calendar-o"></i> Select Training Period</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row">
						<label class="col-lg-2 col-form-label align-middle">From Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" id="fromDateTime">
							<input type="hidden" class="form-control" name="fromDateTime" id="inputFromDateTime">
						</div>
						<label class="col-lg-2 col-form-label align-middle">To Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" id="toDateTime" >
							<div class="text-danger" id="toDateTime_error"></div>
							<input type="hidden" class="form-control" name="toDateTime" id="inputToDateTime">
						</div>
						<div class="float-right">
						<input type="submit" class="btn btn-success" value="Search" onClick="onSubmit()">
						</div>
					</div>
				</div>
				<div class="card-body">
					<button type="button" id="filterBtn" class="collapsible">Advanced Search</button>
					<div id="filterItems" class="content">
						<!-- View By -->
						<div class="form-group row" id="viewbyDiv">
							<label class="col-lg-2 col-form-label">View By</label>
							<div class="col-lg-5">
								<select class="form-control form-select" aria-label="Default select example" 
									id="viewbySel" name= "viewby" onclick="setDateRange()">
									<option th:value="Custom" th:text="Custom"></option>
									<option th:value="Month" th:text="Month"></option>
									<option th:value="Quarter" th:text="Quarter"></option>
								</select>
							</div>
						</div>	  
						<!-- Course Category -->
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">Course Category</label>
							<div class="col-lg-5">
								<input type="text" list="courseCategory" id="courseCategorydetail"
											placeholder="Enter Course Category" 
											class="form-control custom-select custom-select-md"
											onmousedown="courseCategoryOnDown(this.id)"
											onchange="courseCategoryOnChange()">
								<datalist id="courseCategory" >
									<option value="">-</option>
								 	<option th:each="courseCategory : ${categoryList}"
								 			th:attr="data-value = ${courseCategory.id}"
								 			th:value="${courseCategory.category}"
								 			th:selected="${courseCategory.id}"></option>
								</datalist>
								<input type="hidden" class="form-control" th:id="courseCategoryId" name="courseCategoryId" />
							</div>
						</div>
						<!-- Course Name -->
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">Course Name</label>
							<div class="col-lg-5">
								<input type="text" list="courseName" id="courseNamedetail"
											placeholder="Enter Course Name" 
											class="form-control custom-select custom-select-md"
											onmousedown="courseNameOnDown(this.id)"
											onchange="courseNameOnChange()">
								<datalist id="courseName" >
									<option value=""></option>
								 	<option th:each="courseName : ${courseNameList}"
								 			th:attr="data-value = ${courseName.id}"
								 			th:value="${courseName.name}"
								 			th:selected="${courseName.id}"></option>
								</datalist>
								<input type="hidden" class="form-control" id="courseNameId" name="courseNameId" />
							</div>
						</div>
						<!-- Instructor -->
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">Instructor</label>
							<div class="col-lg-5">
								<input type="text" list="instructor" id="instructordetail"
											placeholder="Enter Instructor" 
											class="form-control custom-select custom-select-md"
											onmousedown="instructorOnDown(this.id)"
											onchange="instructorOnChange()">
								<datalist id="instructor" >
									<option value=""></option>
								 	<option th:each="instructor : ${instructorList}"
								 			th:attr="data-value = ${instructor.id}"
								 			th:value="${instructor.name}"
								 			th:selected="${instructor.id}"></option>
								</datalist>
								<input type="hidden" class="form-control" id="instructorId" name="instructorId"  />
							</div>
						</div>
						<!-- Venue -->
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">Venue</label>
							<div class="col-lg-5">
								<input type="text" list="venue" id="venuedetail"
											placeholder="Enter Venue" 
											class="form-control custom-select custom-select-md"
											onmousedown="venueOnDown(this.id)"
											onchange="venueOnChange()">
								<datalist id="venue" >
									<option value=""></option>
								 	<option th:each="venue : ${venueList}"
								 			th:attr="data-value = ${venue.id}"
								 			th:value="${venue.name}"
								 			th:selected="${venue.id}"></option>
								</datalist>
								<input type="hidden" class="form-control" id="venueId" name="venueId"  />
							</div>
						</div>
						<!-- Mandatory -->
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">Mandatory</label>
							<div class="col-lg-5">
								<select class="form-control form-select" aria-label="Default select example" 
									id="mandatorySel" name= "mandatory" onclick="showDeadline()">
									<option>-</option>
									<option th:value="Yes" th:text="Yes"></option>
									<option th:value="No" th:text="No"></option>
								</select>
							</div>
						</div>
						<!-- Deadline -->
						<div class="form-group row" id="deadlineDiv" style="display: none">
							<label class="col-lg-2 col-form-label">Deadline</label>
							<div class="col-lg-5">
								<select class="form-control form-select" aria-label="Default select example" 
									id="deadlineSel" name= "deadline">
									<option>-</option>
									<option th:value="Immediate" th:text="Immediate"></option>
									<option th:value="Monthly" th:text="Monthly"></option>
									<option th:value="Quarterly" th:text="Quarterly"></option>
									<option th:value="Annually" th:text="Annually"></option>
								</select>
							</div>
						</div>
						<!-- Remove filter button -->
						<div class="float-left">
							<button id="removeFilterBtn" type="button" class="btn btn-danger float-right" onClick="clearFilter()">
								Clear
							</button>
						</div>
					</div>
				</div>
			</div>
		
		<div style="overflow-x:auto;display: block; white-space: nowrap" class="mt-5">
			<h3><i class="fa fa-list"></i> List of Available Courses
				<div class="float-right mt-3">
            		<h4><a href="" name="topLearners" data-toggle="modal" data-target="#topLearnersModal"><i class="fa fa-search"></i> View Top Learners...</a></h4>
            	</div>
            </h3>
			<table id="data" class="table table-bordered table-responsive text-center" style="width:100%">
				<colgroup >
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
				</colgroup>
				<thead>
					<tr>
						<th class="align-middle hide">Course ID</th>
						<th sec:authorize="hasAuthority('Member')" class="align-middle">Action</th>
						<th class="align-middle ">Course Category</th>
						<th class="align-middle ">Course Name</th>
						<th class="align-middle ">Instructor</th>
						<th class="align-middle ">Mandatory</th>
						<th class="align-middle ">Deadline</th>
						<th class="align-middle ">Start Date & Time<br><hr> End Date & Time</th>
						<th class="align-middle hide">Start Date Time</th>
						<th class="align-middle hide">End Date Time</th>
						<th class="align-middle ">Duration(Hrs)</th>
						<th class="align-middle ">Venue</th>
						<th class="align-middle hide">Minimum <br> Number of <br> Participants</th>
						<th class="align-middle hide">Maximum <br> Number of <br> Participants</th>
						<th class="align-middle ">Total <br> Number of <br> Participants</th>
					</tr>
				</thead>
				<tbody th:each="courseSchedule : *{paginatedViewCourseEnroll.content}"
						th:with="courseScheduleDetails = ${courseSchedule.getCourseScheduleDetails()}">
						
					<tr class="table-row" th:each=" courseScheduleDetail : ${courseScheduleDetails}" 
							th:with="courseScheduleId = ${courseSchedule.id}"
							th:attr="ondblclick=|showInformation('${courseScheduleId}','${courseSchedule.courseName}','${courseSchedule.instructorName}',${courseSchedule.mandatory},
									'${courseScheduleDetail.scheduledStartDateTime}','${courseScheduleDetail.scheduledEndDateTime}', '${courseSchedule.courseDetails}')|">
									
						<td class="hide" th:text="${courseScheduleId}"/>
						<td class="align-middle" sec:authorize="hasAuthority('Member')">
							<div class="tooltip-a">
								<button th:disabled="${courseSchedule.totalParticipants} == ${courseSchedule.maxAllowed} or
										${courseSchedule.mandatory == 'Yes'} or
										${#dates.format(#calendars.createNow(), 'yyyyMMddHHmm')} > ${#calendars.format(courseScheduleDetail.scheduledStartDateTime, 'yyyyMMddHHmm')}" 
										th:attr="onclick=|registration('${courseScheduleId}','${courseSchedule.courseName}',
										'${courseSchedule.instructorName}','${courseScheduleDetail.scheduledStartDateTime}',
										'${courseScheduleDetail.scheduledEndDateTime}', '${courseScheduleDetail.id}', 
										'${courseSchedule.courseDetails}')|" 
										type="button" class="btn btn-success">Register</button>	
								<span class="tooltiptext-a" th:if="${courseSchedule.mandatory == 'Yes'}">This course is mandatory</span>
								<span class="tooltiptext-a" th:if="${#dates.format(#calendars.createNow(), 'yyyyMMddHHmm')} > ${#calendars.format(courseScheduleDetail.scheduledStartDateTime, 'yyyyMMddHHmm')}">Registration has ended</span>	
								<span class="tooltiptext-a" th:if="${courseSchedule.totalParticipants} == ${courseSchedule.maxAllowed}">Course is full</span>					
					    	</div>
						</td>
						<td class="align-middle" th:text="${courseSchedule.courseCategory}" />
						<td class="align-middle" th:text="${courseSchedule.courseName}" th:with="courseScheduleName = ${courseSchedule.courseName}"/>
						<td class="align-middle" th:text="${courseSchedule.instructorName}" th:with="courseScheduleInstructor = ${courseSchedule.instructorName}"/> 
						<td class="align-middle" th:text="${courseSchedule.mandatory} ? 'Yes' : 'No'"/> 
						<td class="hide" th:text="${courseSchedule.mandatory}"/>
						<td class="align-middle" th:text="${courseSchedule.deadline}"/> 
						<td class="align-middle" th:utext="${#calendars.format(courseScheduleDetail.scheduledStartDateTime, 'MMM dd, yyyy (E)- hh:mm a')} + '&lt;br /&gt; <hr>' + 
						${#calendars.format(courseScheduleDetail.scheduledEndDateTime, 'MMM dd, yyyy (E) - hh:mm a')}"/>
						<td class="hide" th:text="${#calendars.format(courseScheduleDetail.scheduledStartDateTime, 'MMM dd, yyyy (E) hh:mm a')}"/>
						<td class="hide" th:text="${#calendars.format(courseScheduleDetail.scheduledEndDateTime, 'MMM dd, yyyy (E) - hh:mm a')}"/>
						<td class="align-middle" th:text="${courseScheduleDetail.duration}"/>
						<td class="align-middle" th:text="${courseSchedule.venueName}"/>
						<td class="hide" th:text="${courseSchedule.minRequired}"/>
						<td class="hide" th:text="${courseSchedule.maxAllowed}"/>
						<td class="hide" th:text="${courseSchedule.courseDetails}"></td>
						<td class="align-middle" th:text="${courseSchedule.totalParticipants}"/>						
					</tr>
				</tbody>
			</table>
			<nav aria-label="Pagination" th:if="${paginatedViewCourseEnroll.totalPages gt 0} and ${!paginatedViewCourseEnroll.isEmpty()}">
				<ul class="pagination justify-content-center font-weight-bold">
					<li class="page-item" th:classappend="${paginatedViewCourseEnroll.number eq 0} ? 'disabled'">
						<a class="page-link" th:onclick="|onSubmit(); setPage('${paginatedViewCourseEnroll.number lt 2 ? 1 : paginatedViewCourseEnroll.number}'); document.getElementById('availableCourseForm').submit();|"
							aria-label="Previous" title="Previous Page" data-toggle="tooltip">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item" th:classappend="${i eq paginatedViewCourseEnroll.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, paginatedViewCourseEnroll.totalPages, 1)}">
			            <a class="page-link" th:onclick="|onSubmit(); setPage('${i}'); document.getElementById('availableCourseForm').submit();|" th:text="${i}"
			               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
		        	</li>
			        <li class="page-item" th:classappend="${paginatedViewCourseEnroll.number + 1 eq paginatedViewCourseEnroll.totalPages} ? 'disabled'">
			            <a class="page-link" th:onclick="|onSubmit(); setPage('${paginatedViewCourseEnroll.number + 2}'); document.getElementById('availableCourseForm').submit();|"
				               aria-label="Next" title="Next Page" data-toggle="tooltip">
			                <span aria-hidden="true">&raquo;</span>
			            </a>
			        </li>
			    </ul>
			</nav>
			<input type="hidden" class="form-control" id="currentPage" name="currentPage"  />
			
			<div th:if="${paginatedViewCourseEnroll.isEmpty()}">
				<div class="alert alert-dismissible alert-danger text-center">
					<strong th:text="${nullMessage}"></strong> 
				</div>
			</div>			
		</div>
		
		<!--Top Learners Modal-->		
		<div class="modal fade" id="topLearnersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg text-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Top Learners</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                        	<div class="col-lg-6" style="overflow-x:auto;display: block; white-space: nowrap">
                        		<h5><b>Quarter</b></h5>
                            	<table class="table table-bordered">
                            		<thead>
                            			<tr>
                            				<th>#</th>
                            				<th>Employee</th>
                            			</tr>
                            		</thead>
                            		<tbody th:each="topLearnerByQuarter : *{topLearnerByQuarter}">
                            			<tr>
                            				<td th:text="${topLearnerByQuarter.place}"></td>
                            				<td th:text="${topLearnerByQuarter.participantName}"></td>
                            			</tr>
                            		</tbody>
                            	</table>
                            </div>
                            <div class="col-lg-6" style="overflow-x:auto;display: block; white-space: nowrap">
                        		<h5><b>Month</b></h5>
                            	<table class="table table-bordered">
                            		<thead>
                            			<tr>
                            				<th>#</th>
                            				<th>Employee</th>
                            			</tr>
                            		</thead>
                            		<tbody th:each="topLearnerByMonth : *{topLearnerByMonth}">
                            			<tr>
                            				<td th:text="${topLearnerByMonth.place}"></td>
                            				<td th:text="${topLearnerByMonth.participantName}"></td>
                            			</tr>
                            		</tbody>
                            	</table>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div> 
		<!--Top Learners Modal End-->
		</form>

<!-- 		
		<div sec:authorize="hasAuthority('PMO')" style="overflow-x:auto;display: block; white-space: nowrap" class="mt-5">
			<h3><i class="fa fa-list"></i> List of All Available Courses
			<button id="cancelBelowMinimumbtn" class="btn btn-danger float-right" th:disabled="${#lists.isEmpty(activeCourseSchedule)}">
				Cancel Below Minimum 
			</button></h3>
			<table id="data table 2" class="table table-bordered table-responsive text-center" style="width:100%" 
			th:object="${activeCourseSchedule} ">
				<colgroup >
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:10%"/>
					<col style="width:15%"/>
				</colgroup>
				<thead>
					<tr>
						<th class="align-middle hide">Course ID</th>
						<th class="align-middle">Course Category</th>
						<th class="align-middle">Course Name</th>
						<th class="align-middle">Instructor</th>
						<th class="align-middle">Start Date & Time<br><hr> End Date & Time</th>
						<th class="align-middle hide">Start Date Time</th>
						<th class="align-middle hide">End Date Time</th>
						<th class="align-middle hide">Duration(Hrs)</th>
						<th class="align-middle">Venue</th>
						<th class="align-middle">Minimum <br> Number of <br> Participants</th>
						<th class="align-middle">Maximum <br> Number of <br> Participants</th>
						<th class="align-middle">Total <br> Number of <br> Participants</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="courseSchedule:${activeCourseSchedule}"
						th:with="courseScheduleDetail = ${courseSchedule.getCourseScheduleDetails()}">
						
						<td class="hide" th:text="${courseSchedule.getId()}"></td>
						<td class="align-middle" th:text="${courseSchedule.courseCategory}"></td>
						<td class="align-middle" th:text="${courseSchedule.courseName}"></td>
						<td class="align-middle" th:text="${courseSchedule.instructorName}"></td>
						
						<td class="align-middle" th:utext="${#calendars.format(courseScheduleDetail.scheduledStartDateTime, 'MMM dd, yyyy (E)- hh:mm a')} + '&lt;br /&gt; <hr>' + 
						${#calendars.format(courseScheduleDetail.scheduledEndDateTime, 'MMM dd, yyyy (E) - hh:mm a')}"/>
						<td class="hide" th:text="${courseScheduleDetail.scheduledStartDateTime}"></td>
						<td class="hide" th:text="${courseScheduleDetail.scheduledEndDateTime}"></td>
						<td class="hide" th:text="${courseScheduleDetail.duration}"></td>
						
						<td class="align-middle" th:text="${courseSchedule.venueName}"></td>
						<td class="align-middle" th:text="${courseSchedule.minRequired}"></td>
						<td class="align-middle" th:text="${courseSchedule.maxAllowed}"></td>
						<td class="align-middle" th:text="${courseSchedule.totalParticipants}"></td>
					</tr>
				</tbody>
			</table>
 			<div th:if="${#lists.isEmpty(activeCourseSchedule)}">
 				<div class="alert alert-dismissible alert-danger text-center">
 					<strong th:text="${nullMessage}"></strong> 
 				</div>
 			</div>			
		</div>
 -->
 
		<!-- CANCELATION & RESCHEDULE -->
 		<!-- <div sec:authorize="hasAuthority('PMO')" style="overflow-x:auto;display: block; white-space: nowrap" class="mt-5" >
			<h3><i class="fa fa-list"></i> List of Available Courses by <span id="listNames"> Months/Quarter</span>
				<div class="col-lg-2 float-right">
					<select class="form-control"  id="dropDown">
						<option value="month">Month</option>
						<option value="quarter">Quarter</option>
					</select>
				</div>
			</h3>
			<table id="data table3" class="table table-bordered table-responsive text-center" style="width:100%" 
			th:object="${activeCourseSchedule}">
				<colgroup >
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:10%"/>
					<col style="width:15%"/>
				</colgroup>
				<thead>
					<tr>
						<!-- <th class="align-middle ">Action</th> - ->
						<th class="align-middle ">Course Category</th>
						<th class="align-middle ">Course Name</th>
						<th class="align-middle ">Instructor</th>
						<th class="align-middle ">Mandatory</th>
						<th class="align-middle ">Deadline</th>
						<th class="align-middle">Start Date & Time<br><hr> End Date & Time</th>
						<th class="align-middle ">Duration(Hrs)</th>
						<th class="align-middle ">Venue</th>
						<th class="align-middle ">Total <br> Number of <br> Participants</th>
					</tr>
				</thead>
				<tbody id="table-body">
					
				</tbody>
			</table>
 			<div th:if="${#lists.isEmpty(activeCourseSchedule)}">
 				<div class="alert alert-dismissible alert-danger text-center">
 					<strong th:text="${nullMessage}"></strong> 
 				</div>
 			</div>
		</div>	
		 -->
		<!-- CANCELATION & RESCHEDULE END-->
 			
		<!-- Error Modal-->
		<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label" id="message"></label>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!-- Error Modal End -->
		
		
		<!--Confirmation Modal-->
		<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to cancel 
								<strong id="courseName"></strong>?
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"> No</button>
							
							<form   id="form" action="#" 
								th:action="@{/enrollment/schedules/{courseScheduleId}/cancel}"  method="post">
								<input type="hidden" name="courseScheduleId" id="id" />
								<button type="submit" name="submit" value="submit" class="btn btn-primary" >Yes</button>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Confirmation Modal End-->
		
		<!--Success Modal-->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title">Success</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" >
						<div class="form-group">
							<label class="col-lg-12 col-form-label" id="successMessage"> <span id="successCourseName"></span></label>
							<label class="font-weight-bold" id="successCourseName"></label>
							<div class="row">
								<div class="col-sm"></div>
								<div class="col-sm"><button type="submit" class="btn btn-success" data-dismiss="modal" name="okaySuccess" onclick="inviteSent">Okay</button></div>
    							<div class="col-sm"></div>
							</div>
							
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Success Modal End-->
		
		<!--Email Modal-->
		<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title">Enrollment Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body" >
						<div class="form-group">
							<label class="col-lg-12 col-form-label" id="emailMessage"> <span id="participantEmail"></span></label>
							<label class="font-weight-bold" id="participantEmail"></label>
							<div class="row">
								<div class="col-sm"></div>
								<div class="col-sm "><button type="button" class="btn btn-success" data-dismiss="modal">Okay</button></div>
    							<div class="col-sm"></div>
							</div>				
							
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Email Modal End-->

		<!--Cancel Below Minimum Modal data-keyboard="false" data-backdrop="static" add this to the div modal-->
			<div class="modal fade" id="cancelMinimumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Cancel Below Minimum</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
						<form class="table table-bordered table-responsive">
							<input type="hidden" id="cancelBelowMinimumLength" value = 0>
							<table class="table table-bordered table-responsive" style="width:100%">
								<colgroup >
									<col style="width:50%"/>
									<col style="width:25%"/>
									<col style="width:25%"/>
								</colgroup>
								<thead class="text-center">
									<tr>
										<th>Course Details</th>
										<th>Participants</th>
										<th>Minimum Required</th>
									</tr>
								</thead>
								<tbody id="cancel-below-minimum-table-body">
									
								</tbody>
							</table>
							</form>
						</div>
						<div class="modal-footer">
							<button class="btn btn-success" id="cancelBelowMinimumButton">
									Confirm Cancellation
							</button>
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		<!--Cancel Below Minimum Modal End-->
		
		<!--Confirm Cancel Below Minimum Modal-->
		<div class="modal fade" id="cancelModal" tabindex="-1" 
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to Cancel All Course
								Schedule Below Minimum Participants?
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"> No</button>
							
							<form th:action="@{/enrollment/cancelCourseSchedules}" 
							method="post" th:object="${courseEnrollCancelForm}">
									<div class="form-group row" id="div-inputs">
										
									</div>
								<button type="submit" name="submit" value="submit" class="btn btn-primary" >Yes</button>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Confirm Cancel Below Minimum Modal End-->

		<!--Reschedule Modal-->
			<div class="modal fade" id="rescheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="header-modal"></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<input type="hidden" id="rescheduleCourseScheduleDetailId" value="wart" >
								<label class="col-lg-4 col-form-label">Start DateTime:</label>
								<div class="col-lg-6">
									<input type="datetime-local" class="form-control-plaintext" id="rescheduleStartDateTime">
									<input type="hidden" class="form-control-plaintext" id="rescheduleStartDateTime_old">
								</div>
								<label class="col-lg-4 col-form-label">End DateTime:</label>
								<div class="col-lg-6">
									<input type="datetime-local" class="form-control-plaintext" id="rescheduleEndDateTime">
									<input type="hidden" class="form-control-plaintext" id="rescheduleEndDateTime_old">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-success" onclick="confirmReschedule()">
									Reschedule
							</button>
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		<!--Reschedule Modal End-->

		<!--Reschedule Confirmation Modal-->
		<div class="modal fade" id="confirmRescheduleModal" tabindex="-1" 
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to reschedule this course? 
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"> No</button>
							
							<form   id="form" action="#" 
								th:action="@{/enrollment/reschedule}"  method="post" th:object="${courseScheduleDetailForm}">
								<input type="hidden" name="id" id="confirmRescheduleCSDID" />
								<input type="hidden" name="scheduledStartDateTime" id="confirmRescheduleCSDStartDateTime" />
								<input type="hidden" name="scheduledEndDateTime" id="confirmRescheduleCSDEndDateTime" />
								
								<button type="submit" name="submit" value="submit" class="btn btn-primary" >Yes</button>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Reschedule Confirmation Modal End-->

		<!--ENROLL MEMBER-->
			<div class="modal fade" id="registerMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Enroll Member <span id="registerCourse"></span></h5>
							<input type="hidden" id="registerCourseScheduleId">
							<input type="hidden" id="registerCourseScheduleDetailId">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
						
							<div class="md-form active-cyan active-cyan-2 mb-3">
								<input class="form-control" id="searchInput" type="text"  aria-label="Search">
								
							</div>
							<table class="table table-bordered table-responsive" style="width:100%">
								<colgroup >
									<col style="width:50%"/>
									<col style="width:25%"/>
									<col style="width:25%"/>
								</colgroup>
								<thead class="text-center">
									<tr>
										<th>Employee Number</th>
										<th>Employee Name</th>
										<th>Email</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="search-body-table">

								</tbody>
							</table>
							
							<hr>
							<h5 style="font-weight : bold">List of Enrolled Members</h5>
								<table class="table table-bordered table-responsive" style="width:100%">
								<colgroup >
									<col style="width:33%"/>
									<col style="width:33%"/>
									<col style="width:33%"/>
									
									
								</colgroup>
								<thead class="text-center">
									<tr>
										<th>Employee Number</th>
										<th>Employee Name</th>
										<th>Email</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="enrolled-data">

								</tbody>
							</table>
							
						</div>
						<div class="modal-footer">
							<button class="btn btn-success">
									Confirm Cancellation
							</button>
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		<!--ENROLL MEMBER END-->
		
		<!--Enroll Member Confirmation Modal-->
		<div class="modal fade" id="confirmEnrollMemberModal" tabindex="-1" 
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to Enroll <span id="enrollMemberName"></span>
							to <span id="enrollMemberCourseName"></span>?
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"> No</button>
							
							<form id="form" action="#" 
								th:action="@{/enrollment/enrollMember}" th:object="${courseEnrollmentForm}"
									 method="post">
								<input type="hidden" name="id" id="confirmEnrollMemberParticipantId" />
								<input type="hidden" name="courseScheduleId" id="confirmEnrollMemberCourseScheduleId" />
								<input type="hidden" name="courseScheduleDetails.id" id="confirmEnrollMemberCourseScheduleDetailId" />
								<input type="hidden" name="courseScheduleDetails.id" id="confirmEnrollMemberCourseScheduleDetailId" />
								<input type="hidden" name="emailAddress" id="confirmEnrollMemberEmailAddress" />
								
								<button type="submit" name="submit" value="submit" class="btn btn-primary" >Yes</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Enroll Member Confirmation Modal End-->

		<!--Register Modal-->
			<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Course Details</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<input type="hidden" id="courseRegistrationCSDId" disabled>
								<input type="hidden" class="form-control-plaintext" id="courseRegistrationId" name="courseRegistrationId" disabled >
								<label class="col-lg-3 col-form-label">Course Name:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="courseRegistrationName" name="" disabled >
								</div>
								<label class="col-lg-3 col-form-label">Instructor:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="courseRegistrationInstructorName"  disabled >
								</div>
								<label class="col-lg-3 col-form-label">Course Date(s):</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="courseRegistrationDate" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Time slot:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="courseRegistrationTime" disabled>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course Description:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="courseDescription" disabled>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-success" 
									onclick="registrationConfirm()">
									Register
							</button>
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>

		<!--Register Modal End-->
		
		<!--Confirm Modal-->
			<div class="modal fade" id="confirmRegisterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm text-center">
					<div class="modal-content">
						
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-lg-12 col-form-label">Are you sure you would like to register to this training?</label>
							</div>	
						</div>
						<div class="modal-footer">
							<form class="form-horizontal" action="#" 
									th:action="@{/enrollment/schedules/{courseScheduleId}/enroll}" 
									th:object="${courseEnrollmentForm}" method="post">
								<input type="hidden" id="courseScheduleIdHidden" name="courseScheduleId">
								<input type="hidden" id="courseScheduleCourseNameHidden" name="courseName">
								<input type="hidden" id="courseScheduleInstructorNameHidden" name="instructorName">
								<input type="hidden" id="courseScheduleDetailIdHidden" name="courseScheduleDetails.id">
								<input type="hidden" id="courseScheduleDateHidden" name="">
								<input type="hidden" id="courseScheduleTimeHidden" name="">
								<input type="hidden" id="courseScheduleDescriptionHidden" name="">
								<button type="submit" name="submit" value="submit" class="btn btn-success" id="confirmRegistration">Yes</button>
							</form>
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="No">
						</div>
					</div>
				</div>
			</div>
		<!--Confirm Modal End-->

		<!--Information Modal-->
		<form class="form-horizontal">
			<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Course Details</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course ID:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoId"  disabled >
								</div>
								<label class="col-lg-3 col-form-label">Course Name:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoCourseName" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Instructor:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoInstructorName" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Course Date(s):</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoDate" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Time slot:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoTime" disabled>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course Description:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoCourseDesc" disabled>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" name="message" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--Information Modal End-->
	</div>
	
	<footer th:replace="fragments/general.html :: footer"></footer>
	
<script th:inline="javascript">
	//SUBMIT FROM/TO DATE TIME
	function onSubmit(){
		var toAppend = ":00.000+08:00[Asia/Singapore]";
		var fromDateTime = document.getElementById('fromDateTime').value;
		var toDateTime = document.getElementById('toDateTime').value;
		
		var inpFromDateTime = document.getElementById('inputFromDateTime');
		var inpToDateTime = document.getElementById('inputToDateTime');
		
		var finalFromDateTime = fromDateTime+toAppend;
		var finalToDateTime = toDateTime+toAppend;
	
		inpFromDateTime.value = finalFromDateTime;
		inpToDateTime.value = finalToDateTime;

		var mandatoryChk = document.getElementById('mandatorySel');
		var deadlineSel = document.getElementById('deadlineSel');
		
		if (mandatoryChk.value != "Yes") {
			deadlineSel.value = "-";
		}
	
		if (document.getElementById('filterBtn').className == "collapsible") {
			localStorage.setItem("showFilter", "false");
		} else {
			localStorage.setItem("showFilter", "true");
		}
		
		localStorage.setItem("courseCategory", document.getElementById('courseCategorydetail').value);
		localStorage.setItem("courseCategoryId", document.getElementById('courseCategoryId').value);
		localStorage.setItem("courseName", document.getElementById('courseNamedetail').value);
		localStorage.setItem("courseNameId", document.getElementById('courseNameId').value);
		localStorage.setItem("instructor", document.getElementById('instructordetail').value);
		localStorage.setItem("instructorId", document.getElementById('instructorId').value);
		localStorage.setItem("venue", document.getElementById('venuedetail').value);
		localStorage.setItem("venueId", document.getElementById('venueId').value);
		localStorage.setItem("mandatory", document.getElementById('mandatorySel').value);
		localStorage.setItem("deadline", document.getElementById('deadlineSel').value);
		localStorage.setItem("viewBy", document.getElementById('viewbySel').value);
	}
	
	if(localStorage.getItem("courseCategory") != null) {
		document.getElementById('courseCategorydetail').value = localStorage.getItem("courseCategory");
		document.getElementById('courseCategoryId').value = localStorage.getItem("courseCategoryId");
		document.getElementById('courseNamedetail').value = localStorage.getItem("courseName");
		document.getElementById('courseNameId').value = localStorage.getItem("courseNameId");
		document.getElementById('instructordetail').value = localStorage.getItem("instructor");
		document.getElementById('instructorId').value = localStorage.getItem("instructorId");
		document.getElementById('venuedetail').value = localStorage.getItem("venue");
		document.getElementById('venueId').value = localStorage.getItem("venueId");
		document.getElementById('mandatorySel').value = localStorage.getItem("mandatory");
		document.getElementById('deadlineSel').value = localStorage.getItem("deadline");
		document.getElementById('viewbySel').value = localStorage.getItem("viewBy");

		var deadline = document.getElementById("deadlineDiv");
		var mandatory = document.getElementById('mandatorySel');
		var filterArea = document.getElementsByClassName("collapsible");
		
		if(localStorage.getItem("mandatory") != 'Yes') {
			deadline.style.display = "none";	
		} else {
			deadline.style.display = "flex";
		}
		
		if(localStorage.getItem("showFilter") != "true") {
			document.getElementById('filterItems').style.display = "none";
			document.getElementById('filterBtn').className = "collapsible";
		} else {
			document.getElementById('filterItems').style.display = "block";
			document.getElementById('filterBtn').classList.add("collapsible");
			document.getElementById('filterBtn').classList.add("active");
		}
		
		if(localStorage.getItem("viewBy") != 'Custom'){
			document.getElementById('fromDateTime').disabled = true;
			document.getElementById('toDateTime').disabled = true;
		}
		
		localStorage.clear();
	}

// 	<!--Message alert End-->

	//Information Modal
	function showInformation(id, courseName, instructorName, mandatory, scheduleStartDateTime, scheduleEndDateTime, courseDetails){

		var startDate = scheduleStartDateTime.slice(0,10);
		var startTime = moment.utc(scheduleStartDateTime, 'YYYY-MM-DD hh:mm').format(
		'hh:mm A');
		var endDate = scheduleEndDateTime.slice(0,10);
		var endTime = moment.utc(scheduleEndDateTime, 'YYYY-MM-DD hh:mm').format(
		'hh:mm A');

		var idInput = document.getElementById('infoId');
		idInput.value = id;
		
		document.getElementById('infoCourseDesc').value = courseDetails;
		
		var courseNameInput = document.getElementById('infoCourseName');
		courseNameInput.value = courseName;
		
		var instructorNameInput = document.getElementById('infoInstructorName');
		instructorNameInput.value = instructorName;
		
		var dateInput = document.getElementById('infoDate');
		dateInput.value = startDate;
		
		var timeInput = document.getElementById('infoTime');
		timeInput.value = startTime+" to "+endTime
		$('#infoModal').modal('show');
	}
	//Information Modal End

	//SHOW REGISTRATION POP UP
	function registration(courseScheduleId, courseScheduleName, courseScheduleInstructorName, startDateTime, 
			endDateTime, courseScheduleDetailId, courseDetails){
		var startDate = startDateTime.slice(0,10);
		var startTime = moment.utc(startDateTime, 'YYYY-MM-DD hh:mm').format(
		'hh:mm A');
		var endDate = endDateTime.slice(0,10);
		var endTime = moment.utc(endDateTime, 'YYYY-MM-DD hh:mm').format(
		'hh:mm A');
		
		document.getElementById('courseRegistrationCSDId').value = courseScheduleDetailId;
		
		document.getElementById('courseDescription').value = courseDetails;
		
		var idInput = document.getElementById('courseRegistrationId');
		idInput.value = courseScheduleId;
		
		var courseNameInput = document.getElementById('courseRegistrationName');
		courseNameInput.value = courseScheduleName;
		
		var courseInstructorNameInput = document.getElementById('courseRegistrationInstructorName');
		courseInstructorNameInput.value = courseScheduleInstructorName;
		
		var courseDateInput = document.getElementById('courseRegistrationDate');
		courseDateInput.value = startDate
		
		var courseTimeInput = document.getElementById('courseRegistrationTime');
		courseTimeInput.value = startTime + " to " + endTime;
		
		$('#registerModal').modal('show');
	}
	//SHOW REGISTRATION POP UP
	
	//SHOW REGISTRATION CONFIRMATION POP UP
	function registrationConfirm(){
		var csdId = document.getElementById('courseRegistrationCSDId').value;
		document.getElementById('courseScheduleDetailIdHidden').value=csdId;
		
		var id = document.getElementById('courseRegistrationId').value;
		var courseScheduleIdHidden = document.getElementById('courseScheduleIdHidden');
		courseScheduleIdHidden.value = id;
		
		var courseName = document.getElementById('courseRegistrationName').value;
		var courseScheduleCourseNameHidden = document.getElementById('courseScheduleCourseNameHidden');
		courseScheduleCourseNameHidden.value = courseName;
		
		var courseInstructor = document.getElementById('courseRegistrationInstructorName').value;
		var courseScheduleInstructorNameHidden = document.getElementById('courseScheduleInstructorNameHidden');
		courseScheduleInstructorNameHidden.value = courseInstructor;
		
		var courseDate = document.getElementById('courseRegistrationDate').value;
		var courseScheduleDateHidden = document.getElementById('courseScheduleDateHidden');
		courseScheduleDateHidden.value = courseDate;
		
		var courseTime = document.getElementById('courseRegistrationTime').value;
		var courseScheduleTimeHidden = document.getElementById('courseScheduleTimeHidden');
		courseScheduleTimeHidden.value = courseTime;
		
		$('#confirmRegisterModal').modal('show');		
	}
	//SHOW REGISTRATION CONFIRMATION POP UP
		
	//Successfuly canceled a Course Schedule
	/*<![CDATA[*/
	var courseEnrollmentForm = /*[[${courseEnrollmentForm}]]*/ 'default';
	var courseParticipant = /*[[${courseParticipant}]]*/ 'default';
	var successMessage = /*[[${successMessage}]]*/ 'default';
	var emailMessage = /*[[${emailMessage}]]*/ 'default';
	if(successMessage == "Successfully Canceled the Course Schedule" 
			|| successMessage == "Successfully Enrolled a Course!!!"
			|| successMessage == "Successfully cancelled all course schedule below minimum participant."){
		document.getElementById("successMessage").innerHTML = successMessage;
		
		var courseName = courseEnrollmentForm.courseName;
		var successCourseNameInput = document.getElementById('successCourseName');
		successCourseNameInput.innerHTML = courseName;
		
		$('#successModal').modal('show');
		
		if(emailMessage == "A calendar invite has been sent to your email:"){
			document.getElementById("emailMessage").innerHTML = emailMessage;
			
			var emailAddress = courseParticipant.email;
			var emailAddressInput = document.getElementById('participantEmail');
			emailAddressInput.innerHTML = emailAddress;
			
			$('button[name="okaySuccess"]').on('click', function() {
				$('#emailModal').modal('show');
		 	});
		}
 	}
	
	/*]]>*/
	
	//No Record Found
// 	/*<![CDATA[*/
// 	var nullMessage = /*[[${nullMessage}]]*/ 'default';
// 	if(nullMessage == "No schedules found"){
// 		document.getElementById("message").innerHTML = nullMessage;
// 		$('#errorModal').modal('show');
// 	}
// 	/*]]>*/
	
	//DUPLICATE ENROLL
	/*<![CDATA[*/
	var duplicateMessage = /*[[${duplicateMessage}]]*/ 'default';
	if(duplicateMessage == "You are already enrolled in this course."
			|| duplicateMessage == "Can't communicate with the mail server. Please try again later."){
// 		alert(duplicateMessage);
		document.getElementById("message").innerHTML = duplicateMessage;
		$('#errorModal').modal('show');
	}
	/*]]>*/
	//DUPLICATE ENROLL END
	
	//SHOW ZONEDDATETIME IN TIMEDATE-LOCAL
	/*<![CDATA[*/
	var viewCourseEnroll = /*[[${viewCourseEnroll}]]*/ 'default';
	var finalFromDateTime = viewCourseEnroll.fromDateTime.slice(0,16);
	var finalToDateTime = viewCourseEnroll.toDateTime.slice(0,16);
	var inputFromDateTime = document.getElementById('fromDateTime');
	var inputToDateTime = document.getElementById('toDateTime');
	
	inputFromDateTime.value = finalFromDateTime;
	inputToDateTime.value = finalToDateTime;
	/*]]>*/
	
	//REGISTRATION START
	//SUCCESS ENROLL SHOW INFO MODAL
	/*<![CDATA[*/
	var successMsg = /*[[${successMsg}]]*/ 'default';
	if(successMsg == "Successfully Enrolled a Course!!!"){
		var courseId = courseEnrollmentForm.courseScheduleId;
		var courseName = courseEnrollmentForm.courseName;
		var instructorName = courseEnrollmentForm.instructorName;
		document.getElementById("successMessage").innerHTML = successMsg;
		var courseIdInput = document.getElementById('infoId');
		var courseNameInput = document.getElementById('infoCourseName');
		var courseInstructorNameInput = document.getElementById('infoInstructorName');

		courseIdInput.value = courseId;
		courseNameInput.value = courseName;
		courseInstructorNameInput.value = instructorName;
		
		$('#infoModal').modal('show');
		$('#successModal').modal('show');
		$('#emailModal').modal('show');
	}
	/*]]>*/
	
	//ERROR ENROLL
	/*<![CDATA[*/
	var errorMsg = /*[[${errorMsg}]]*/ 'default';
	if(errorMsg == "Failed to enroll a course!!!"){
		document.getElementById("message").innerHTML = errorMsg;
		$('#errorModal').modal('show');
	}
	
	/*]]>*/
	//REGISTRATION END
	

	$('a[name="topLearners"]').on('click', function() {
		$('#topLearnersModal').modal('show');
	});

	
	//FromDateTime is Higher that ToDateTime
	/*<![CDATA[*/
	var errorMessage = /*[[${error}]]*/'default';
	if (errorMessage == "Invalid Date") {
		document.getElementById("toDateTime_error").innerHTML = "To Date should be greater than From Date";
		//document.getElementById("fromDateTime_error").innerHTML = "To Date should be greater than or equal to From Date";
	}
	/*]]>*/
	
	//ERROR ENROLL
	/*<![CDATA[*/
	var errorMessageReschedule = /*[[${errorMessageReschedule}]]*/ 'default';
	if(errorMessageReschedule == "Hours Count must stay the same!"){
		document.getElementById("message").innerHTML = errorMessageReschedule;
		$('#errorModal').modal('show');
	}
	
	//DISABLE CANCEL BELOW MINIMUM BUTTON
	$(function(){
    var rowCount = $('#data table 2 tbody tr').length;
    if(rowCount < 1){
        $('#cancelBelowMinimumbtn').attr('disabled','disabled');
    } else {
        $('#cancelBelowMinimumbtn').removeAttr('disabled');
    }
    
	});
	
	//FILTER COLLAPSIBLE SCRIPT
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
	
	// show deadline if course is mandatory
	function showDeadline(){
		var mandatory = document.getElementById("mandatorySel");
		var deadlineDiv = document.getElementById("deadlineDiv");
		var deadlineSel = document.getElementById("deadlineSel");
		if(mandatory.value == "Yes"){
			deadlineDiv.style.display = "flex";
		} else {
			deadlineDiv.style.display = "none";
			deadlineSel.value = "-";
		}
	}
	
	//CLEAR SELECTED FILTERS
	function clearFilter(){
		document.getElementById("courseCategorydetail").placeholder = "Enter Course Category";
		document.getElementById("courseCategorydetail").value = "";
		document.getElementById("courseCategoryId").value = "";
		
		document.getElementById("courseNamedetail").placeholder = "Enter Course Name";
		document.getElementById("courseNamedetail").value = "";
		document.getElementById("courseNameId").value = "";
		
		document.getElementById("instructordetail").placeholder = "Enter Instructor";
		document.getElementById("instructordetail").value = "";
		document.getElementById("instructorId").value = "";
		
		document.getElementById("venuedetail").placeholder = "Enter Venue";
		document.getElementById("venuedetail").value = "";
		document.getElementById("venueId").value = "";
		
		document.getElementById("mandatorySel").value = "-";
		document.getElementById("deadlineSel").value = "-";
		document.getElementById("deadlineDiv").style.display = "none";
		
		document.getElementById("viewbySel").value = "Custom";
		document.getElementById("fromDateTime").disabled = false;
		document.getElementById("toDateTime").disabled = false;
		
	}
	
	function setPage(currPage){
		document.getElementById("currentPage").value = currPage;
	}
	
	$("#confirmRegisterModal").on('hidden.bs.modal', function () {
		$('body').addClass('modal-open');
	});

	function setDateRange(){
		var mandatory = document.getElementById("viewbySel");
		var fromDate = document.getElementById("fromDateTime");
		var toDate = document.getElementById("toDateTime");
		
		var date = new Date();
		var year = date.getFullYear();
		
		if(mandatory.value == "Custom"){
			fromDate.disabled = false;
			toDate.disabled = false;
			
		} else if (mandatory.value == "Month"){
			fromDate.disabled = true;
			toDate.disabled = true;
			
			var month = '' + (date.getMonth() + 1)
			var lastDayOfMonth = new Date(date.getFullYear(), date.getMonth() + 1, 0);
			
			fromDate.value = year + '-' + filterZero(month) + '-01T00:00';
			toDate.value = year + '-' + filterZero(month) + '-' + lastDayOfMonth.getDate() + 'T23:59';
			
		} else if (mandatory.value == "Quarter"){
			fromDate.disabled = true;
			toDate.disabled = true;
			
			var quarter = Math.floor((date.getMonth() / 3));
			var firstDate = new Date(date.getFullYear(), quarter * 3, 1);
			var endDate = new Date(firstDate.getFullYear(), firstDate.getMonth() + 3, 0);
			
			var firstMonth = '' + (firstDate.getMonth() + 1);
			var endMonth = '' + (endDate.getMonth() + 1);
			
			fromDate.value = year + '-' + filterZero(firstMonth) + '-01T00:00';
			toDate.value = year + '-' + filterZero(endMonth) + '-' + endDate.getDate() + 'T23:59';
			
		}
	}
	
	function filterZero(month){
		
		if (month.length < 2) { 
    		month = '0' + month;
		}
		
		return month;
	}
	
</script>
</body>
</html>