<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Enroll Member Course</title>
	<link rel="stylesheet" type="text/css" href="../css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- 	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script> -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script th:src="@{/js/viewMemberCourse.js}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	<style>
	.sticky {
	  position: -webkit-sticky;
	  position: sticky;
	  right: 0;
	  background-color: white;
	}
	</style> 
</head>

<body>
	<div th:insert="fragments/general.html :: header"> </div>
	
	<div class="container mt-5">
		<form class="form-horizontal" action="#" th:action="@{/enrollment/viewMemberCourse}" th:object="${viewMemberCourse}" method="get">
			<h3><i class="fa fa-calendar-o"></i> Select Training Period</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">From Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" id="fromDateTime">
							<input type="hidden" class="form-control" name="fromDateTime" id="inputFromDateTime">
						</div>
						<label class="col-lg-2 col-form-label">To Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" id="toDateTime" >
							<input type="hidden" class="form-control" name="toDateTime" id="inputToDateTime">
						</div>
						<div class="float-right">
						<input type="submit" class="btn btn-success" value="Submit" onClick="onSubmit()">
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--Error Modal-->
		<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label" id="message"></label>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Error Modal End-->
		
		<!--Success Modal-->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title">Success</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label" id="successMessage"> <span id="cancelledCourseName"></span></label>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Success Modal End-->

		<!--ENROLL MEMBER-->
			<div class="modal fade" id="registerMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Enroll Member <span id="registerCourse"></span></h5>
							<input type="hidden" id="registerCourseScheduleId">
							<input type="hidden" id="registerCourseScheduleDetailId">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
						
							<div class="md-form active-cyan active-cyan-2 mb-3">
								<input class="form-control" id="searchInput" type="text" aria-label="Search">
								
							</div>
							<table class="table table-bordered table-responsive" style="width:100%">
								<colgroup >
									<col style="width:50%"/>
									<col style="width:25%"/>
									<col style="width:25%"/>
								</colgroup>
								<thead class="text-center">
									<tr>
										<th>Employee Number</th>
										<th>Employee Name</th>
										<th>Email</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="search-body-table">

								</tbody>
							</table>
							
							<hr>
							<h5 style="font-weight : bold">List of Enrolled Members</h5>
								<table class="table table-bordered table-responsive" style="width:100%">
								<colgroup >
									<col style="width:33%"/>
									<col style="width:33%"/>
									<col style="width:33%"/>
									
									
								</colgroup>
								<thead class="text-center">
									<tr>
										<th>Employee Number</th>
										<th>Employee Name</th>
										<th>Email</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="enrolled-data">

								</tbody>
							</table>
							
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		<!--ENROLL MEMBER END-->
		
		<!--Enroll Member Confirmation Modal-->
		<div class="modal fade" id="confirmEnrollMemberModal" tabindex="-1" 
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to Enroll <span id="enrollMemberName"></span>
							to <span id="enrollMemberCourseName"></span>?
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"> No</button>
							
							<form id="form" action="#" 
								th:action="@{/enrollment/enrollMember}" th:object="${courseEnrollmentForm}"
									 method="post">
								<input type="hidden" name="id" id="confirmEnrollMemberParticipantId" />
								<input type="hidden" name="courseScheduleId" id="confirmEnrollMemberCourseScheduleId" />
								<input type="hidden" name="courseScheduleDetails.id" id="confirmEnrollMemberCourseScheduleDetailId" />
								<input type="hidden" name="courseScheduleDetails.id" id="confirmEnrollMemberCourseScheduleDetailId" />
								<input type="hidden" name="emailAddress" id="confirmEnrollMemberEmailAddress" />
								
								<button type="submit" name="submit" value="submit" class="btn btn-primary" >Yes</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Enroll Member Confirmation Modal End-->

		<!--Information Modal-->
		<form class="form-horizontal">
			<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Course Details</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course ID:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoId"  disabled >
								</div>
								<label class="col-lg-3 col-form-label">Course Name:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoCourseName" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Instructor:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoInstructorName" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Course Date(s):</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoDate" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Time slot:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoTime" disabled>
								</div>
							</div>	
							<div class="">
								<h5 style="color:red">This is a required training</h5>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course Description:</label>
								<div class="col-lg-9">
									<label class="col-form-label">Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World</label>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" name="message" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--Information Modal End-->

		<div style="overflow-x:auto;display: block; white-space: nowrap" class="mt-5">
			<h3><i class="fa fa-list"></i> List of Available Courses</h3>
			<table id="data" class="table table-bordered table-responsive text-center" style="width:100%" 
					th:object="${viewCourseEnroll}">
				<colgroup >
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:10%"/>
					<col style="width:15%"/>
				</colgroup>
				<thead>
					<tr>
						<th>Course ID</th>
						<th>Course Name</th>
						<th>Instructor</th>
						<th>Start Date Time</th>
						<th>End Date Time</th>
						<th>Duration(Hrs)</th>
						<th>Venue</th>
						<th>Minimum Number of Participants</th>
						<th>Maximum Number of Participants</th>
						<th>Total Number of Participants</th>
						<th  class="sticky"></th>
					
					</tr>
				</thead>
				<tbody th:each="courseSchedule : *{courseSchedules}"
						th:with="courseScheduleDetails = ${courseSchedule.getCourseScheduleDetails()}">
						
					<tr class="table-row" th:each=" courseScheduleDetail : ${courseScheduleDetails}" 
							th:with="courseScheduleId = ${courseSchedule.id}"
							th:attr="ondblclick=|showInformation('${courseScheduleId}','${courseSchedule.courseName}','${courseSchedule.instructorName}',
									'${courseScheduleDetail.scheduledStartDateTime}','${courseScheduleDetail.scheduledEndDateTime}')|">
									
						<td th:text="${courseScheduleId}"/>
						<td th:text="${courseScheduleDetail.id}" th:with="courseScheduleName = ${courseSchedule.courseName}"/>
						<td th:text="${courseSchedule.instructorName}" th:with="courseScheduleInstructor = ${courseSchedule.instructorName}"/> 
						<td th:text="${courseScheduleDetail.scheduledStartDateTime}" />
						<td th:text="${courseScheduleDetail.scheduledEndDateTime}"/>
						<td th:text="${courseScheduleDetail.duration}"/>

						<td th:text="${courseSchedule.venueName}"/>
						<td th:text="${courseSchedule.minRequired}"/>
						<td th:text="${courseSchedule.maxAllowed}"/>
						<td th:text="${courseSchedule.totalParticipants}"/>

<!-- 						<td sec:authorize="hasAuthority('PMO')" class="sticky"> -->
<!-- 							<button class="btn btn-danger" name="" th:attr="onclick=|cancellation('${courseScheduleId}','${courseSchedule.courseName}')|"> -->
<!-- 								<i class="fa fa-times"></i> Cancel -->
<!-- 							</button> -->
<!-- 						</td> -->

						<td sec:authorize="hasAuthority('PMO')">
							<button th:if="${courseSchedule.totalParticipants} < ${courseSchedule.maxAllowed}"
									th:attr="onclick=|enrollMember('${courseScheduleId}','${courseSchedule.courseName}', '${courseScheduleDetail.id}')|" 
									type="button" class="btn btn-success" id="enrollMemberButton">Register Member</button>
									
							<button th:if="${courseSchedule.totalParticipants} > ${courseSchedule.maxAllowed}" 
							type="button" class="btn btn-success" 
							title="Participants in this schedule is already full" disabled>Register</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:if="${#lists.isEmpty(viewCourseEnroll.courseSchedules)}">
				<div class="alert alert-dismissible alert-danger text-center">
					<strong th:text="${nullMessage}"></strong> 
				</div>
			</div>
			
		</div>
	</div>
	
	<footer th:replace="fragments/general.html :: footer"></footer>
	
<script th:inline="javascript">

	//EnrollMember
	function enrollMember(courseScheduleId, courseName, courseScheduleDetailId){
		findEnrolledMemberByCourseScheduleId(courseScheduleId);
		findMemberNotEnrolledByCourseScheduleId(courseScheduleId);
		document.getElementById('registerCourseScheduleDetailId').value = courseScheduleDetailId;
		document.getElementById('registerCourseScheduleId').value = courseScheduleId;
		document.getElementById('registerCourse').textContent = "(" + courseScheduleId + " " + courseName + ")";
		$('#registerMemberModal').modal('show');
	}
	//EnrollMember END

	//SUBMIT FROM/TO DATE TIME
	function onSubmit(){
		var toAppend = ":00.000+08:00[Asia/Singapore]";
		var fromDateTime = document.getElementById('fromDateTime').value;
		var toDateTime = document.getElementById('toDateTime').value;
		
		var inpFromDateTime = document.getElementById('inputFromDateTime');
		var inpToDateTime = document.getElementById('inputToDateTime');
		
		var finalFromDateTime = fromDateTime+toAppend;
		var finalToDateTime = toDateTime+toAppend;
	
		inpFromDateTime.value = finalFromDateTime;
		inpToDateTime.value = finalToDateTime;
	}

	//Information Modal
	function showInformation(id, courseName, instructorName, scheduleStartDateTime, scheduleEndDateTime){
// 		alert(id + courseName + instructorName + scheduleStartDateTime + " | " + scheduleEndDateTime);

		var startDate = scheduleStartDateTime.slice(0,10);
		var startTime = scheduleStartDateTime.slice(11,22);
		var endDate = scheduleEndDateTime.slice(0,10);
		var endTime = scheduleEndDateTime.slice(11,22);

		var idInput = document.getElementById('infoId');
		idInput.value = id;
		
		var courseNameInput = document.getElementById('infoCourseName');
		courseNameInput.value = courseName;
		
		var instructorNameInput = document.getElementById('infoInstructorName');
		instructorNameInput.value = instructorName;
		
		var dateInput = document.getElementById('infoDate');
		dateInput.value = startDate;
		
		var timeInput = document.getElementById('infoTime');
		timeInput.value = startTime+" to "+endTime
		$('#infoModal').modal('show');
	}
	//Information Modal End
	
	//FromDateTime is Higher that ToDateTime
	/*<![CDATA[*/
	var errorMessage = /*[[${error}]]*/ 'default';
	if(errorMessage ==  "To Date should be greater than or equal to From Date"){
		document.getElementById("message").innerHTML = errorMessage;
		$('#errorModal').modal('show');
	}
	/*]]>*/
	
	//DUPLICATE ENROLL
	/*<![CDATA[*/
	var duplicateMessage = /*[[${duplicateMessage}]]*/ 'default';
	if(duplicateMessage == "You are already enrolled in this course."){
		document.getElementById("message").innerHTML = duplicateMessage;
		$('#errorModal').modal('show');
	}
	/*]]>*/
	//DUPLICATE ENROLL END
	
	//SHOW ZONEDDATETIME IN TIMEDATE-LOCAL
	/*<![CDATA[*/
	var viewCourseEnroll = /*[[${viewCourseEnroll}]]*/ 'default';
		
		var finalFromDateTime = viewCourseEnroll.fromDateTime.slice(0,16);
		var finalToDateTime = viewCourseEnroll.toDateTime.slice(0,16);
		
		var inputFromDateTime = document.getElementById('fromDateTime');
		var inputToDateTime = document.getElementById('toDateTime');
		
		inputFromDateTime.value = finalFromDateTime;
		inputToDateTime.value = finalToDateTime;
	/*]]>*/
	
	//REGISTRATION START
	//SUCCESS ENROLL SHOW INFO MODAL
	/*<![CDATA[*/
	var successMsg = /*[[${successMsg}]]*/ 'default';

	var courseEnrollmentForm = /*[[${courseEnrollmentForm}]]*/ 'default';
	if(successMsg == "Successfully Enrolled a Course!!!"){
		var courseId = courseEnrollmentForm.courseScheduleId;
		var courseName = courseEnrollmentForm.courseName;
		var instructorName = courseEnrollmentForm.instructorName;
// 		alert("Course ID: " + courseId + " Course Name: " + courseName + " Instructor Name:" + instructorName);
		document.getElementById("successMessage").innerHTML = successMsg;
		var courseIdInput = document.getElementById('infoId');
		var courseNameInput = document.getElementById('infoCourseName');
		var courseInstructorNameInput = document.getElementById('infoInstructorName');

		courseIdInput.value = courseId;
		courseNameInput.value = courseName;
		courseInstructorNameInput.value = instructorName;

		$('#infoModal').modal('show');
		$('#successModal').modal('show');
		
	}
	/*]]>*/
	
	//ERROR ENROLL
	/*<![CDATA[*/
	var errorMsg = /*[[${errorMsg}]]*/ 'default';
	if(errorMsg == "Failed to enroll a course!!!"){
		document.getElementById("message").innerHTML = errorMsg;
		$('#errorModal').modal('show');
	}
	
	/*]]>*/
	//REGISTRATION END
	
	
</script>
</body>
</html>