<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>View Course Enroll</title>
	<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
	<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
	<script th:src="@{/js/viewCourseEnroll.js}"></script>
	<script th:src="@{/js/app/moment.min.js}"></script>
	<script th:src="@{/js/app/popper.min.js}"></script>
	<script th:src="@{/js/app/bootstrap.min.js}"></script>
	<style>
	.sticky {
	  position: -webkit-sticky;
	  position: sticky;
	  right: 0;
	  background-color: #F8F8FF;
	}
	.hide {
  display:none;
}
	</style> 
</head>

<body>
	<div th:insert="fragments/general.html :: header"> </div>
	
	<div class="container mt-5">
		<form class="form-horizontal" action="#" th:action="@{/enrollment/viewCourseEnroll}" th:object="${viewCourseEnroll}" method="get">
			<h3><i class="fa fa-calendar-o"></i> Select Training Period</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">From Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" id="fromDateTime">
							<input type="hidden" class="form-control" name="fromDateTime" id="inputFromDateTime">
						</div>
						<label class="col-lg-2 col-form-label">To Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" id="toDateTime" >
							<div class="text-danger" id="toDateTime_error"></div>
							<input type="hidden" class="form-control" name="toDateTime" id="inputToDateTime">
						</div>
						<div class="float-right">
						<input type="submit" class="btn btn-success" value="Submit" onClick="onSubmit()">
						</div>
					</div>
				</div>
			</div>
		
		<div style="overflow-x:auto;display: block; white-space: nowrap" class="mt-5">
			<h3><i class="fa fa-list"></i> List of Available Courses
			<div class="float-right mt-3">
            <h4><a href="" name="topLearners" data-toggle="modal" data-target="#topLearnersModal"><i class="fa fa-search"></i> View Top Learners...</a></h4>
            </div></h3>
			<table id="data" class="table table-bordered table-responsive text-center" style="width:100%" 
					th:object="${viewCourseEnroll}">
				<colgroup >
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:10%"/>
					<col style="width:15%"/>
				</colgroup>
				<thead>
					<tr>
						<th class="align-middle hide">Course ID</th>
						<th class="align-middle">Course Name</th>
						<th class="align-middle">Instructor</th>
						<th class="align-middle">Start Date/Time<br><hr> End Date/Time</th>
						<th class="align-middle hide">Start Date Time</th>
						<th class="align-middle hide">End Date Time</th>
						<th class="align-middle">Duration(Hrs)</th>
						<th class="align-middle">Venue</th>
						<th class="align-middle hide">Minimum <br> Number of <br> Participants</th>
						<th class="align-middle hide">Maximum <br> Number of <br> Participants</th>
						<th class="align-middle">Total <br> Number of <br> Participants</th>
						<th class="sticky"></th>
					
					</tr>
				</thead>
				<tbody th:each="courseSchedule : *{courseSchedules}"
						th:with="courseScheduleDetails = ${courseSchedule.getCourseScheduleDetails()}">
						
					<tr class="table-row" th:each=" courseScheduleDetail : ${courseScheduleDetails}" 
							th:with="courseScheduleId = ${courseSchedule.id}"
							th:attr="ondblclick=|showInformation('${courseScheduleId}','${courseSchedule.courseName}','${courseSchedule.instructorName}',
									'${courseScheduleDetail.scheduledStartDateTime}','${courseScheduleDetail.scheduledEndDateTime}')|">
									
						<td class="hide" th:text="${courseScheduleId}"/>
						<td class="align-middle" th:text="${courseSchedule.courseName}" th:with="courseScheduleName = ${courseSchedule.courseName}"/>
						<td class="align-middle" th:text="${courseSchedule.instructorName}" th:with="courseScheduleInstructor = ${courseSchedule.instructorName}"/> 
						<td class="align-middle" th:utext="${#calendars.format(courseScheduleDetail.scheduledStartDateTime, 'MMM dd, yyyy (E)- HH:mm a')} + '&lt;br /&gt; <hr>' + 
						${#calendars.format(courseScheduleDetail.scheduledEndDateTime, 'MMM dd, yyyy (E) - HH:mm a')}"/>
						
						
						<td class="hide" th:text="${#calendars.format(courseScheduleDetail.scheduledStartDateTime, 'MMM dd, yyyy (E) HH:mm a')}"/>
						<td class="hide" th:text="${#calendars.format(courseScheduleDetail.scheduledEndDateTime, 'MMM dd, yyyy (E) - HH:mm a')}"/>
						<td class="align-middle" th:text="${courseScheduleDetail.duration}"/>

						<td class="align-middle" th:text="${courseSchedule.venueName}"/>
						<td class="hide" th:text="${courseSchedule.minRequired}"/>
						<td class="hide" th:text="${courseSchedule.maxAllowed}"/>
						<td class="align-middle" th:text="${courseSchedule.totalParticipants}"/>

<!-- 						<td sec:authorize="hasAuthority('PMO')" class="sticky"> -->
<!-- 							<button class="btn btn-danger" name="" th:attr="onclick=|cancellation('${courseScheduleId}','${courseSchedule.courseName}')|"> -->
<!-- 								<i class="fa fa-times"></i> Cancel -->
<!-- 							</button> -->
<!-- 						</td> -->

						<td class="sticky" sec:authorize="hasAuthority('Member')">
							<button th:if="${courseSchedule.totalParticipants} < ${courseSchedule.maxAllowed}"
									th:attr="onclick=|registration('${courseScheduleId}','${courseSchedule.courseName}',
									'${courseSchedule.instructorName}','${courseScheduleDetail.scheduledStartDateTime}',
									'${courseScheduleDetail.scheduledEndDateTime}', '${courseScheduleDetail.id}')|" 
									type="button" class="btn btn-success">Register</button>
									
							<button th:if="${courseSchedule.totalParticipants} > ${courseSchedule.maxAllowed}" 
							type="button" class="btn btn-success" 
							title="Participants in this schedule is already full" disabled>Register</button>
						</td>
					</tr>
				</tbody>
			</table>
			<div th:if="${#lists.isEmpty(viewCourseEnroll.courseSchedules)}">
				<div class="alert alert-dismissible alert-danger text-center">
					<strong th:text="${nullMessage}"></strong> 
				</div>
			</div>			
		</div>
		
		<!--Top Learners Modal-->		
		<div class="modal fade" id="topLearnersModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg text-center">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Top Learners</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                        	<div class="col-lg-6" style="overflow-x:auto;display: block; white-space: nowrap">
                        		<h5><b>Quarter</b></h5>
                            	<table class="table table-bordered">
                            		<thead>
                            			<tr>
                            				<th>#</th>
                            				<th>Employee</th>
                            			</tr>
                            		</thead>
                            		<tbody th:each="topLearnerByQuarter : *{topLearnerByQuarter}">
                            			<tr>
                            				<td th:text="${topLearnerByQuarter.place}"></td>
                            				<td th:text="${topLearnerByQuarter.participantName}"></td>
                            			</tr>
                            		</tbody>
                            	</table>
                            </div>
                            <div class="col-lg-6" style="overflow-x:auto;display: block; white-space: nowrap">
                        		<h5><b>Month</b></h5>
                            	<table class="table table-bordered">
                            		<thead>
                            			<tr>
                            				<th>#</th>
                            				<th>Employee</th>
                            			</tr>
                            		</thead>
                            		<tbody th:each="topLearnerByMonth : *{topLearnerByMonth}">
                            			<tr>
                            				<td th:text="${topLearnerByMonth.place}"></td>
                            				<td th:text="${topLearnerByMonth.participantName}"></td>
                            			</tr>
                            		</tbody>
                            	</table>
                            </div>
                        </div>  
                    </div>
                </div>
            </div>
        </div> 
		<!--Top Learners Modal End-->
		</form>
		
		<div sec:authorize="hasAuthority('PMO')" style="overflow-x:auto;display: block; white-space: nowrap" class="mt-5">
			<h3><i class="fa fa-list"></i> List of All Available Course
			<button id="cancelBelowMinimumbtn" class="btn btn-danger float-right"  >
				Cancel Below Minimum 
			</button></h3>
			<table id="data" class="table table-bordered table-responsive text-center" style="width:100%" 
			th:object="${activeCourseSchedule} ">
				<colgroup >
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:10%"/>
					<col style="width:15%"/>
				</colgroup>
				<thead>
					<tr>
						<th class="align-middle hide">Course ID</th>
						<th class="align-middle">Course Name</th>
						<th class="align-middle">Instructor</th>
						<th class="align-middle hide">Start Date Time</th>
						<th class="align-middle hide">End Date Time</th>
						<th class="align-middle">Duration(Hrs)</th>
						<th class="align-middle">Venue</th>
						<th class="align-middle">Minimum <br> Number of <br> Participants</th>
						<th class="align-middle">Maximum <br> Number of <br> Participants</th>
						<th class="align-middle">Total <br> Number of <br> Participants</th>
						
					
					</tr>
				</thead>
				<tbody>
					<tr th:each="courseSchedule:${activeCourseSchedule}"
						th:with="courseScheduleDetail = ${courseSchedule.getCourseScheduleDetails()}">
						
						<td class="hide" th:text="${courseSchedule.getId()}"></td>
						<td th:text="${courseSchedule.courseName}"></td>
						<td th:text="${courseSchedule.instructorName}"></td>
						
						<td class="hide" th:text="${courseScheduleDetail.scheduledStartDateTime}"></td>
						<td class="hide" th:text="${courseScheduleDetail.scheduledEndDateTime}"></td>
						<td th:text="${courseScheduleDetail.duration}"></td>
						
						<td th:text="${courseSchedule.venueName}"></td>
						<td th:text="${courseSchedule.minRequired}"></td>
						<td th:text="${courseSchedule.maxAllowed}"></td>
						<td th:text="${courseSchedule.totalParticipants}"></td>
					</tr>
				</tbody>
			</table>
<!-- 			<div th:if="${#lists.isEmpty(viewCourseEnroll.courseSchedules)}"> -->
<!-- 				<div class="alert alert-dismissible alert-danger text-center"> -->
<!-- 					<strong th:text="${nullMessage}"></strong>  -->
<!-- 				</div> -->
<!-- 			</div> -->
			
		</div>
		
		<!-- CANCELATION & RESCHEDULE -->
		<div sec:authorize="hasAuthority('PMO')" style="overflow-x:auto;display: block; white-space: nowrap" class="mt-5" >
			<h3><i class="fa fa-list"></i>List of Available Course by <span id="listNames"> Months/Quarter</span>
			<div class="col-lg-2 float-right">
				<select class="form-control"  id="dropDown">
					<option value="month">Month</option>
					<option value="quarter">Quarter</option>
				</select>
			</div></h3>
			<table id="data table3" class="table table-bordered table-responsive text-center" style="width:100%" 
			th:object="${activeCourseSchedule}">
				<colgroup >
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:10%"/>
					<col style="width:15%"/>
				</colgroup>
				<thead>
					<tr>
						<th class="align-middle">Course ID</th>
						<th class="align-middle">Course Name</th>
						<th class="align-middle">Instructor</th>
						<th class="align-middle">Start Date Time</th>
						<th class="align-middle">End Date Time</th>
						<th class="align-middle">Duration(Hrs)</th>
						<th class="align-middle">Venue</th>
						<th class="align-middle">Minimum <br> Number of <br> Participants</th>
						<th class="align-middle">Maximum <br> Number of <br> Participants</th>
						<th class="align-middle">Total <br> Number of <br> Participants</th>
						<th></th>
						<td></td>
					</tr>
				</thead>
				<tbody id="table-body">
					
				</tbody>
			</table>
<!-- 			<div th:if="${#lists.isEmpty(viewCourseEnroll.courseSchedules)}"> -->
<!-- 				<div class="alert alert-dismissible alert-danger text-center"> -->
<!-- 					<strong th:text="${nullMessage}"></strong>  -->
<!-- 				</div> -->
<!-- 			</div> -->
		</div>
		<!-- CANCELATION & RESCHEDULE END-->
			
		<!-- Error Modal-->
		<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label" id="message"></label>
						</div>	
					</div>
				</div>
			</div>
		</div>
	<!-- Error Modal End -->
		
		
		<!--Confirmation Modal-->
		<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to cancel 
								<strong id="courseName"></strong>?
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"> No</button>
							
							<form   id="form" action="#" 
								th:action="@{/enrollment/schedules/{courseScheduleId}/cancel}"  method="post">
								<input type="hidden" name="courseScheduleId" id="id" />
								<button type="submit" name="submit" value="submit" class="btn btn-primary" >Yes</button>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Confirmation Modal End-->
		
		<!--Success Modal-->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title">Success</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label" id="successMessage"> <span id="cancelledCourseName"></span></label>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Success Modal End-->

		<!--Cancel Below Minimum Modal data-keyboard="false" data-backdrop="static" add this to the div modal-->
			<div class="modal fade" id="cancelMinimumModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Cancel Below Minimum</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
						<form class="table table-bordered table-responsive">
							<input type="hidden" id="cancelBelowMinimumLength" value = 0>
							<table class="table table-bordered table-responsive" style="width:100%">
								<colgroup >
									<col style="width:50%"/>
									<col style="width:25%"/>
									<col style="width:25%"/>
								</colgroup>
								<thead class="text-center">
									<tr>
										<th>Course Details</th>
										<th>Participants</th>
										<th>Minimum Required</th>
									</tr>
								</thead>
								<tbody id="cancel-below-minimum-table-body">
									
								</tbody>
							</table>
							</form>
						</div>
						<div class="modal-footer">
							<button class="btn btn-success" id="cancelBelowMinimumButton">
									Confirm Cancellation
							</button>
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		<!--Cancel Below Minimum Modal End-->
		
		<!--Confirm Cancel Below Minimum Modal-->
		<div class="modal fade" id="cancelModal" tabindex="-1" 
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to Cancel All Course
								Schedule Below Minimum Participants?
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"> No</button>
							
							<form th:action="@{/enrollment/cancelCourseSchedules}" 
							method="post" th:object="${courseEnrollCancelForm}">
									<div class="form-group row" id="div-inputs">
										
									</div>
								<button type="submit" name="submit" value="submit" class="btn btn-primary" >Yes</button>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Confirm Cancel Below Minimum Modal End-->

		<!--Reschedule Modal-->
			<div class="modal fade" id="rescheduleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="header-modal"></h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<input type="hidden" id="rescheduleCourseScheduleDetailId" value="wart" >
								<label class="col-lg-4 col-form-label">Start DateTime:</label>
								<div class="col-lg-6">
									<input type="datetime-local" class="form-control-plaintext" id="rescheduleStartDateTime">
									<input type="hidden" class="form-control-plaintext" id="rescheduleStartDateTime_old">
								</div>
								<label class="col-lg-4 col-form-label">End DateTime:</label>
								<div class="col-lg-6">
									<input type="datetime-local" class="form-control-plaintext" id="rescheduleEndDateTime">
									<input type="hidden" class="form-control-plaintext" id="rescheduleEndDateTime_old">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-success" onclick="confirmReschedule()">
									Reschedule
							</button>
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		<!--Reschedule Modal End-->

		<!--Reschedule Confirmation Modal-->
		<div class="modal fade" id="confirmRescheduleModal" tabindex="-1" 
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to reschedule this course? 
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"> No</button>
							
							<form   id="form" action="#" 
								th:action="@{/enrollment/reschedule}"  method="post" th:object="${courseScheduleDetailForm}">
								<input type="hidden" name="id" id="confirmRescheduleCSDID" />
								<input type="hidden" name="scheduledStartDateTime" id="confirmRescheduleCSDStartDateTime" />
								<input type="hidden" name="scheduledEndDateTime" id="confirmRescheduleCSDEndDateTime" />
								
								<button type="submit" name="submit" value="submit" class="btn btn-primary" >Yes</button>
							</form>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Reschedule Confirmation Modal End-->

		<!--ENROLL MEMBER-->
			<div class="modal fade" id="registerMemberModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Enroll Member <span id="registerCourse"></span></h5>
							<input type="hidden" id="registerCourseScheduleId">
							<input type="hidden" id="registerCourseScheduleDetailId">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
						
							<div class="md-form active-cyan active-cyan-2 mb-3">
								<input class="form-control" id="searchInput" type="text"  aria-label="Search">
								
							</div>
							<table class="table table-bordered table-responsive" style="width:100%">
								<colgroup >
									<col style="width:50%"/>
									<col style="width:25%"/>
									<col style="width:25%"/>
								</colgroup>
								<thead class="text-center">
									<tr>
										<th>Employee Number</th>
										<th>Employee Name</th>
										<th>Email</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="search-body-table">

								</tbody>
							</table>
							
							<hr>
							<h5 style="font-weight : bold">List of Enrolled Members</h5>
								<table class="table table-bordered table-responsive" style="width:100%">
								<colgroup >
									<col style="width:33%"/>
									<col style="width:33%"/>
									<col style="width:33%"/>
									
									
								</colgroup>
								<thead class="text-center">
									<tr>
										<th>Employee Number</th>
										<th>Employee Name</th>
										<th>Email</th>
										<th></th>
									</tr>
								</thead>
								<tbody id="enrolled-data">

								</tbody>
							</table>
							
						</div>
						<div class="modal-footer">
							<button class="btn btn-success">
									Confirm Cancellation
							</button>
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		<!--ENROLL MEMBER END-->
		
		<!--Enroll Member Confirmation Modal-->
		<div class="modal fade" id="confirmEnrollMemberModal" tabindex="-1" 
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title">Confirmation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to Enroll <span id="enrollMemberName"></span>
							to <span id="enrollMemberCourseName"></span>?
							</label>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal"> No</button>
							
							<form id="form" action="#" 
								th:action="@{/enrollment/enrollMember}" th:object="${courseEnrollmentForm}"
									 method="post">
								<input type="hidden" name="id" id="confirmEnrollMemberParticipantId" />
								<input type="hidden" name="courseScheduleId" id="confirmEnrollMemberCourseScheduleId" />
								<input type="hidden" name="courseScheduleDetails.id" id="confirmEnrollMemberCourseScheduleDetailId" />
								<input type="hidden" name="courseScheduleDetails.id" id="confirmEnrollMemberCourseScheduleDetailId" />
								<input type="hidden" name="emailAddress" id="confirmEnrollMemberEmailAddress" />
								
								<button type="submit" name="submit" value="submit" class="btn btn-primary" >Yes</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Enroll Member Confirmation Modal End-->

		<!--Register Modal-->
			<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Course Details</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
									<input type="hidden" id="courseRegistrationCSDId" disabled>
								<label class="col-lg-3 col-form-label">Course Schedule ID:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="courseRegistrationId" name="courseRegistrationId" disabled >
								</div>
								<label class="col-lg-3 col-form-label">Course Name:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="courseRegistrationName" name="" disabled >
								</div>
								<label class="col-lg-3 col-form-label">Instructor:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="courseRegistrationInstructorName"  disabled >
								</div>
								<label class="col-lg-3 col-form-label">Course Date(s):</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="courseRegistrationDate" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Time slot:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="courseRegistrationTime" disabled>
								</div>
							</div>
							<div class="">
								<h5 style="color:red">This is a required training</h5>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course Description:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="courseDescription" 
											value="Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World"  disabled>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-success" 
									onclick="registrationConfirm()">
									Register
							</button>
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>

		<!--Register Modal End-->
		
		<!--Confirm Modal-->
			<div class="modal fade" id="confirmRegisterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-sm text-center">
					<div class="modal-content">
						
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-lg-12 col-form-label">Are you sure you would like to register to this training?</label>
							</div>	
						</div>
						<div class="modal-footer">
							<form class="form-horizontal" action="#" 
									th:action="@{/enrollment/schedules/{courseScheduleId}/enroll}" 
									th:object="${courseEnrollmentForm}" method="post">
								<input type="hidden" id="courseScheduleIdHidden" name="courseScheduleId">
								<input type="hidden" id="courseScheduleCourseNameHidden" name="courseName">
								<input type="hidden" id="courseScheduleInstructorNameHidden" name="instructorName">
								<input type="hidden" id="courseScheduleDetailIdHidden" name="courseScheduleDetails.id">
								<input type="hidden" id="courseScheduleDateHidden" name="">
								<input type="hidden" id="courseScheduleTimeHidden" name="">
								<input type="hidden" id="courseScheduleDescriptionHidden" name="">
								<button type="submit" name="submit" value="submit" class="btn btn-success">Yes</button>
							</form>
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="No">
						</div>
					</div>
				</div>
			</div>
		<!--Confirm Modal End-->

		<!--Information Modal-->
		<form class="form-horizontal">
			<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Course Details</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course ID:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoId"  disabled >
								</div>
								<label class="col-lg-3 col-form-label">Course Name:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoCourseName" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Instructor:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoInstructorName" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Course Date(s):</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoDate" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Time slot:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoTime" disabled>
								</div>
							</div>	
							<div class="">
								<h5 style="color:red">This is a required training</h5>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course Description:</label>
								<div class="col-lg-9">
									<label class="col-form-label">Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World</label>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" name="message" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--Information Modal End-->
		
		
		
	</div>
	
	<footer th:replace="fragments/general.html :: footer"></footer>
	
<script th:inline="javascript">
	//SUBMIT FROM/TO DATE TIME
	function onSubmit(){
		var toAppend = ":00.000+08:00[Asia/Singapore]";
		var fromDateTime = document.getElementById('fromDateTime').value;
		var toDateTime = document.getElementById('toDateTime').value;
		
		var inpFromDateTime = document.getElementById('inputFromDateTime');
		var inpToDateTime = document.getElementById('inputToDateTime');
		
		var finalFromDateTime = fromDateTime+toAppend;
		var finalToDateTime = toDateTime+toAppend;
	
		inpFromDateTime.value = finalFromDateTime;
		inpToDateTime.value = finalToDateTime;
	}

	//SUBMIT FROM/TO DATE TIME END
// 	$("#fromDateTime").focus(function (){
// 		$(this).prop('type', 'date')
// 	});
	
// 	$("#fromDateTime").blur(function () {
// 		var formDate = document.getElementById("fromDateTime").value;
// 		var newDate = new Date(formDate);
// 		var dateConcat = newDate.toISO().toString();
// 		if (formDate == "") {
// 			$(this).prop('type', 'text')
// 			$(this).prop('value', null);
// 		} else {
// 			$(this).prop('type', 'text')
// 			$(this).prop('value', dateConcat);
// 		}
// 	}); 
	
// 	$("#toDateTime").focus(function (){
// 		$(this).prop('type', 'date')
// 	});
	
// 	$("#toDateTime").blur(function () {
// 		var formDate = document.getElementById("toDateTime").value;
// 		var newDate = new Date(formDate);
// 		var dateConcat = newDate.toISO().toString(); 
// 		if (formDate == "") {
// 			$(this).prop('type', 'text')
// 			$(this).prop('value', null);
// 		} else {
// 			$(this).prop('type', 'text')
// 			$(this).prop('value', dateConcat);
// 		}
// 	}); 
	
// 	//Format Date Inputs
// 	Date.prototype.toISO = function() {
// 		 return this.getUTCFullYear() +
// 	        '-' + String(this.getUTCMonth() + 1).padStart(2, "0") +
// 	        '-' + String(this.getUTCDate()).padStart(2, "0") +
// 	        'T' + String(this.getUTCHours()).padStart(2, "0") +
// 	        ':' + String(this.getUTCMinutes()).padStart(2, "0") +
// 	        ':' + String(this.getUTCSeconds()).padStart(2, "0") +
// 	        '.' + (this.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) +
// 	        'Z';
// 	}; 
	
// 	<!--Message alert-->
// 	$('tbody').on('dblclick', function() {
// 		$('#infoModal').modal('show');
// 		var a = ${this}.
// 	});
	
//	var action 
	//add if statement for the success/fail messages
// 	$('input[name="error"]').on('click', function() {
// 		$('#errorModal').modal('show');
// 	});
	
// 	$('input[name="success"]').on('click', function() {
// 		$('#successModal').modal('show');
// 	});
	
	
// 	$('button[name="cancellation"]').on('click', function() {
// 		$('#confirmModal').modal('show');
// 	});
	
// 	<!--Message alert End-->

	//Information Modal
	function showInformation(id, courseName, instructorName, scheduleStartDateTime, scheduleEndDateTime){
// 		alert(id + courseName + instructorName + scheduleStartDateTime + " | " + scheduleEndDateTime);

		var startDate = scheduleStartDateTime.slice(0,10);
		var startTime = moment.utc(scheduleStartDateTime, 'YYYY-MM-DD HH:mm').format(
		'HH:mm A');
		var endDate = scheduleEndDateTime.slice(0,10);
		var endTime = moment.utc(scheduleEndDateTime, 'YYYY-MM-DD HH:mm').format(
		'HH:mm A');

		var idInput = document.getElementById('infoId');
		idInput.value = id;
		
		var courseNameInput = document.getElementById('infoCourseName');
		courseNameInput.value = courseName;
		
		var instructorNameInput = document.getElementById('infoInstructorName');
		instructorNameInput.value = instructorName;
		
		var dateInput = document.getElementById('infoDate');
		dateInput.value = startDate;
		
		var timeInput = document.getElementById('infoTime');
		timeInput.value = startTime+" to "+endTime
		$('#infoModal').modal('show');
	}
	//Information Modal End
	
	//Confirmation
// 	function cancellation(courseId,courseName){
// 		$('#confirmModal').modal('show');
// 		document.getElementById("courseName").innerHTML = courseName ;
// 		var input = document.getElementById("id");
// 		input.value=courseId
// 	}

	//SHOW REGISTRATION POP UP
	function registration(courseScheduleId, courseScheduleName, courseScheduleInstructorName, startDateTime, endDateTime, courseScheduleDetailId){
		var startDate = startDateTime.slice(0,10);
		var startTime = startDateTime.slice(11,22);
		var endDate = endDateTime.slice(0,10);
		var endTime = endDateTime.slice(11,22);
		
		document.getElementById('courseRegistrationCSDId').value = courseScheduleDetailId;
		
		var idInput = document.getElementById('courseRegistrationId');
		idInput.value = courseScheduleId;
		
		var courseNameInput = document.getElementById('courseRegistrationName');
		courseNameInput.value = courseScheduleName;
		
		var courseInstructorNameInput = document.getElementById('courseRegistrationInstructorName');
		courseInstructorNameInput.value = courseScheduleInstructorName;
		
		var courseDateInput = document.getElementById('courseRegistrationDate');
		courseDateInput.value = startDate
		
		var courseTimeInput = document.getElementById('courseRegistrationTime');
		courseTimeInput.value = startTime + " to " + endTime;
		
		$('#registerModal').modal('show');
	}
	//SHOW REGISTRATION POP UP
	
	//SHOW REGISTRATION CONFIRMATION POP UP
	function registrationConfirm(){
// 		alert(id);
		var csdId = document.getElementById('courseRegistrationCSDId').value;
		document.getElementById('courseScheduleDetailIdHidden').value=csdId;
		
		var id = document.getElementById('courseRegistrationId').value;
		var courseScheduleIdHidden = document.getElementById('courseScheduleIdHidden');
		courseScheduleIdHidden.value = id;
		
		var courseName = document.getElementById('courseRegistrationName').value;
		var courseScheduleCourseNameHidden = document.getElementById('courseScheduleCourseNameHidden');
		courseScheduleCourseNameHidden.value = courseName;
		
		var courseInstructor = document.getElementById('courseRegistrationInstructorName').value;
		var courseScheduleInstructorNameHidden = document.getElementById('courseScheduleInstructorNameHidden');
		courseScheduleInstructorNameHidden.value = courseInstructor;
		
		var courseDate = document.getElementById('courseRegistrationDate').value;
		var courseScheduleDateHidden = document.getElementById('courseScheduleDateHidden');
		courseScheduleDateHidden.value = courseDate;
		
		var courseTime = document.getElementById('courseRegistrationTime').value;
		var courseScheduleTimeHidden = document.getElementById('courseScheduleTimeHidden');
		courseScheduleTimeHidden.value = courseTime;
		
// 		var courseDescription = document.getElementById('Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World Hello World').value;
// 		var courseScheduleDescriptionHidden = document.getElementById('courseScheduleDescriptionHidden');
// 		courseScheduleDescriptionHidden.value = courseDescription;
		
		$('#confirmRegisterModal').modal('show');
		
	}
	//SHOW REGISTRATION CONFIRMATION POP UP
		
	//Successfuly canceled a Course Schedule
	/*<![CDATA[*/
	var successMessage = /*[[${successMessage}]]*/ 'default';
	if(successMessage == "Successfully Canceled the Course Schedule" 
			|| successMessage == "Successfully Enrolled a Course!!!"
			|| successMessage == "Successfully cancelled all course schedule below minimum participant."){
		document.getElementById("successMessage").innerHTML = successMessage;
		$('#successModal').modal('show');
	}
	/*]]>*/
	
	//No Record Found
// 	/*<![CDATA[*/
// 	var nullMessage = /*[[${nullMessage}]]*/ 'default';
// 	if(nullMessage == "No schedules found"){
// 		document.getElementById("message").innerHTML = nullMessage;
// 		$('#errorModal').modal('show');
// 	}
// 	/*]]>*/
	
	//DUPLICATE ENROLL
	/*<![CDATA[*/
	var duplicateMessage = /*[[${duplicateMessage}]]*/ 'default';
	if(duplicateMessage == "You are already enrolled in this course."){
// 		alert(duplicateMessage);
		document.getElementById("message").innerHTML = duplicateMessage;
		$('#errorModal').modal('show');
	}
	/*]]>*/
	//DUPLICATE ENROLL END
	
	//SHOW ZONEDDATETIME IN TIMEDATE-LOCAL
	/*<![CDATA[*/
	var viewCourseEnroll = /*[[${viewCourseEnroll}]]*/ 'default';
		
		var finalFromDateTime = viewCourseEnroll.fromDateTime.slice(0,16);
		var finalToDateTime = viewCourseEnroll.toDateTime.slice(0,16);
		
		var inputFromDateTime = document.getElementById('fromDateTime');
		var inputToDateTime = document.getElementById('toDateTime');
		
		inputFromDateTime.value = finalFromDateTime;
		inputToDateTime.value = finalToDateTime;
	/*]]>*/
	
	//REGISTRATION START
	//SUCCESS ENROLL SHOW INFO MODAL
	/*<![CDATA[*/
	var successMsg = /*[[${successMsg}]]*/ 'default';

	var courseEnrollmentForm = /*[[${courseEnrollmentForm}]]*/ 'default';
	if(successMsg == "Successfully Enrolled a Course!!!"){

		var courseId = courseEnrollmentForm.courseScheduleId;
		var courseName = courseEnrollmentForm.courseName;
		var instructorName = courseEnrollmentForm.instructorName;
// 		alert("Course ID: " + courseId + " Course Name: " + courseName + " Instructor Name:" + instructorName);
		document.getElementById("successMessage").innerHTML = successMsg;
		var courseIdInput = document.getElementById('infoId');
		var courseNameInput = document.getElementById('infoCourseName');
		var courseInstructorNameInput = document.getElementById('infoInstructorName');

		courseIdInput.value = courseId;
		courseNameInput.value = courseName;
		courseInstructorNameInput.value = instructorName;

		$('#infoModal').modal('show');
		$('#successModal').modal('show');
		
	}
	/*]]>*/
	
	//ERROR ENROLL
	/*<![CDATA[*/
	var errorMsg = /*[[${errorMsg}]]*/ 'default';
	if(errorMsg == "Failed to enroll a course!!!"){
		document.getElementById("message").innerHTML = errorMsg;
		$('#errorModal').modal('show');
	}
	
	/*]]>*/
	//REGISTRATION END
	

	$('a[name="topLearners"]').on('click', function() {
		$('#topLearnersModal').modal('show');
	});

	
	//FromDateTime is Higher that ToDateTime
	/*<![CDATA[*/
	var errorMessage = /*[[${error}]]*/'default';
	if (errorMessage == "To Date should be greater than From Date") {
		document.getElementById("toDateTime_error").innerHTML = errorMessage;
	}
	/*]]>*/
	
	//ERROR ENROLL
	/*<![CDATA[*/
	var errorMessageReschedule = /*[[${errorMessageReschedule}]]*/ 'default';
	if(errorMessageReschedule == "Hours Count must stay the same!"){
		document.getElementById("message").innerHTML = errorMessageReschedule;
		$('#errorModal').modal('show');
	}
	
	
	
	
</script>
</body>
</html>