<!-- ================================================================================================== -->
<!-- Project Name : Training Sign Up -->
<!-- System Name  : Enrollment -->
<!-- Name         : viewMemberCourse.html -->

<!-- <<Modification History>> -->
<!-- Version | Date       | Updated By            | Content -->
<!-- --------+------------+-----------------------+--------------------------------------------------- -->
<!-- 0.01    | ----/--/-- | WS) -		          | Created -->
<!-- 0.02    | 2021/06/02 | WS) l.celoso          | Updated -->
<!-- ================================================================================================== -->
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Enroll Member Course</title>
	<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
	<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
	<script th:src="@{/js/viewMemberCourse.js}"></script>
	<script th:src="@{/js/app/moment.min.js}"></script>
	<script th:src="@{/js/app/popper.min.js}"></script>
	<script th:src="@{/js/app/bootstrap.min.js}"></script>
	<style>
	.sticky {
	  position: -webkit-sticky;
	  position: sticky;
	  right: 0;
	  background-color: #F8F8FF;
	}
	</style> 
</head>

<body>
	<div th:insert="fragments/general.html :: header"> </div>
	
	<div class="container mt-5">
		<form id="availableCourseForm" class="form-horizontal" action="#" th:action="@{/enrollment/viewMemberCourse}" method="get">
			<h3><i class="fa fa-calendar-o"></i> Select Training Period</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row">
						<label class="col-lg-2 col-form-label">From Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" id="fromDateTime">
							<input type="hidden" class="form-control" name="fromDateTime" id="inputFromDateTime">
						</div>
						<label class="col-lg-2 col-form-label">To Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" id="toDateTime" >
							<div class="text-danger" id="toDateTime_error"></div>
							<input type="hidden" class="form-control" name="toDateTime" id="inputToDateTime">
						</div>
						<div class="float-right">
						<input type="submit" class="btn btn-success" value="Search" onClick="onSubmit()">
						</div>
					</div>
				</div>
				
				<div class="card-body">
					<button type="button" id="filterBtn" class="collapsible">Advanced Search</button>
					<div id="filterItems" class="content">	  
						<!-- Course Category -->
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">Course Category</label>
							<div class="col-lg-5">
								<input type="text" list="courseCategory" id="courseCategorydetail"
											placeholder="Enter Course Category" 
											class="form-control custom-select custom-select-md"
											onmousedown="courseCategoryOnDown(this.id)"
											onchange="courseCategoryOnChange()">
								<datalist id="courseCategory" >
									<option value="">-</option>
								 	<option th:each="courseCategory : ${categoryList}"
								 			th:attr="data-value = ${courseCategory.id}"
								 			th:value="${courseCategory.category}"
								 			th:selected="${courseCategory.id}"></option>
								</datalist>
								<input type="hidden" class="form-control" th:id="courseCategoryId" name="courseCategoryId"
										th:value="${viewCourseEnroll.courseCategoryId}" />
							</div>
						</div>
						<!-- Course Name -->
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">Course Name</label>
							<div class="col-lg-5">
								<input type="text" list="courseName" id="courseNamedetail"
											placeholder="Enter Course Name" 
											class="form-control custom-select custom-select-md"
											onmousedown="courseNameOnDown(this.id)"
											onchange="courseNameOnChange()">
								<datalist id="courseName" >
									<option value=""></option>
								 	<option th:each="courseName : ${courseNameList}"
								 			th:attr="data-value = ${courseName.id}"
								 			th:value="${courseName.name}"
								 			th:selected="${courseName.id}"></option>
								</datalist>
								<input type="hidden" class="form-control" id="courseNameId" name="courseNameId"  
										th:value="${viewCourseEnroll.courseNameId}"  />
							</div>
						</div>
						<!-- Instructor -->
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">Instructor</label>
							<div class="col-lg-5">
								<input type="text" list="instructor" id="instructordetail"
											placeholder="Enter Instructor" 
											class="form-control custom-select custom-select-md"
											onmousedown="instructorOnDown(this.id)"
											onchange="instructorOnChange()">
								<datalist id="instructor" >
									<option value=""></option>
								 	<option th:each="instructor : ${instructorList}"
								 			th:attr="data-value = ${instructor.id}"
								 			th:value="${instructor.name}"
								 			th:selected="${instructor.id}"></option>
								</datalist>
								<input type="hidden" class="form-control" id="instructorId" name="instructorId" 
										th:value="${viewCourseEnroll.instructorId}" />
							</div>
						</div>
						<!-- Venue -->
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">Venue</label>
							<div class="col-lg-5">
								<input type="text" list="venue" id="venuedetail"
											placeholder="Enter Venue" 
											class="form-control custom-select custom-select-md"
											onmousedown="venueOnDown(this.id)"
											onchange="venueOnChange()">
								<datalist id="venue" >
									<option value=""></option>
								 	<option th:each="venue : ${venueList}"
								 			th:attr="data-value = ${venue.id}"
								 			th:value="${venue.name}"
								 			th:selected="${venue.id}"></option>
								</datalist>
								<input type="hidden" class="form-control" id="venueId" name="venueId" 
										th:value="${viewCourseEnroll.venueId}" />
							</div>
						</div>
						<!-- Mandatory -->
						<div class="form-group row">
							<label class="col-lg-2 col-form-label">Mandatory</label>
							<div class="col-lg-5">
								<select class="form-control form-select" aria-label="Default select example" 
									id="mandatorySel" name= "mandatory" onclick="showDeadline()">
									<option>-</option>
									<option th:value="Yes" th:text="Yes"></option>
									<option th:value="No" th:text="No"></option>
								</select>
							</div>
						</div>
						<!-- Deadline -->
						<div class="form-group row" id="deadlineDiv" style="display: none">
							<label class="col-lg-2 col-form-label">Deadline</label>
							<div class="col-lg-5">
								<select class="form-control form-select" aria-label="Default select example" 
									id="deadlineSel" name= "deadline">
									<option>-</option>
									<option th:value="Immediate" th:text="Immediate"></option>
									<option th:value="Monthly" th:text="Monthly"></option>
									<option th:value="Quarterly" th:text="Quarterly"></option>
									<option th:value="Annually" th:text="Annually"></option>
								</select>
							</div>
						</div>
						<!-- Remove filter button -->
						<div class="float-left">
							<button id="removeFilterBtn" type="button" class="btn btn-danger float-right" onClick="clearFilter()">
								Clear
							</button>
						</div>
					</div>
				</div>
			</div>
			<input type="hidden" class="form-control" id="currentPage" name="currentPage"  />
		</form>
		
		<!--Success Modal-->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title">Success</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label" id="successMessage"> <span id="cancelledCourseName"></span></label>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Success Modal End-->

		<!--ENROLL MEMBER-->
			<div class="modal fade" id="registerMemberModal" tabindex="-2" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Enroll Member <span id="registerCourse"></span></h5>
							<input type="hidden" id="registerCourseScheduleId">
							<input type="hidden" id="registerCourseScheduleDetailId">
							<input type="hidden" id="maxCourseParticipants">
							<input type="hidden" id="curCourseParticipants">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
						
							<div class="md-form active-cyan active-cyan-2 mb-3">
								<input class="form-control" id="searchInput" type="text" aria-label="Search">
								
							</div>
							<table class="table table-bordered table-responsive text-center" style="width:100%">
								<colgroup >
									<col style="width:5%"/>
									<col style="width:15%"/>
									<col style="width:15%"/>
									<col style="width:15%"/>
								</colgroup>
								<thead class="text-center">
									<tr>
										<th>Action</th>
										<th>Employee Number</th>
										<th>Employee Name</th>
										<th>Email</th>
									</tr>
								</thead>
								<tbody id="search-body-table">

								</tbody>
							</table>
							<div id="enrollMemberMsg" class="alert alert-dismissible alert-danger text-center">
			 					<strong id="enrollErrMsg"></strong> 
			 				</div>
							<div class="modal-footer">
								<input id="enrollBtn" type="button" class="btn btn-success" value="Enroll" onClick="showEnrollModal()">
							</div>
								
							<hr>
							<h5 style="font-weight : bold">List of Enrolled Members</h5>
								<table class="table table-bordered table-responsive text-center" style="width:100%">
								<colgroup >
									<col style="width:5%"/>
									<col style="width:15%"/>
									<col style="width:15%"/>
									<col style="width:15%"/>
								</colgroup>
								<thead class="text-center">
									<tr>
										<th>Action</th>
										<th>Employee Number</th>
										<th>Employee Name</th>
										<th>Email</th>
									</tr>
								</thead>
								<tbody id="enrolled-data">

								</tbody>
							</table>
			 				<div id="removeMemberMsg" class="alert alert-dismissible alert-danger text-center">
			 					<strong>No members are enrolled yet.</strong> 
			 				</div>
							<div class="modal-footer">
								<input id="removeBtn" type="button" class="btn btn-danger" value="Remove" onClick="showRemoveModal()">
							</div>								
						</div>
						<div class="modal-footer">
							<input type="button" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		<!--ENROLL MEMBER END-->
		
		<!--Enroll Member Confirmation Modal-->
		<div class="modal fade" id="confirmEnrollMemberModal" tabindex="-1" 
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-warning">
						<h5 class="modal-title"><i class="fa fa-warning"></i></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to enroll the selected member(s) from the course schedule ?
							</label>
						</div>
						<div class="modal-footer">
							<form id="form" action="#" 
								th:action="@{/enrollment/enrollBatchMembers}" th:object="${courseEnrollmentForm}"
									 method="post">
								<input type="hidden" id="enrollBatchIds" name="batchId" />
								<input type="hidden" id="enrollCourseId" name="courseId" />
								<button type="submit" name="submit" value="submit" class="btn btn-success" >Yes, Enroll</button>
							</form>
							<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Enroll Member Confirmation Modal End-->
		
		<!--Remove Member Confirmation Modal-->
		<div class="modal fade" id="removeEnrollMemberModal" tabindex="-1" 
			role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-warning">
						<h5 class="modal-title"><i class="fa fa-warning"></i></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">Are you sure you want to remove the selected member(s) from the course schedule ?
							</label>
						</div>
						<div class="modal-footer">
							<!-- <input id="removeMembers" type="button" class="btn btn-success" data-dismiss="modal" value="Remove" onClick="removeEnrolledMember()">
							 -->
							<form id="form" action="#" 
								th:action="@{/enrollment/removeEnrolledMember}" th:object="${courseEnrollmentForm}"
									 method="post">
								<input type="hidden" id="batchIds" name="batchId" />
								<input type="hidden" id="courseId" name="courseId" />
								<button type="submit" name="submit" value="submit" class="btn btn-success" >Yes, Remove</button>
							</form>
							
							<button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Remove Member Confirmation Modal End-->
		
		<!--Error Modal-->
		<div class="modal fade" id="errorModal" tabindex="1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label" id="message"></label>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!--Error Modal End-->

		<!--Information Modal-->
		<form class="form-horizontal">
			<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Course Details</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course ID:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoId"  disabled >
								</div>
								<label class="col-lg-3 col-form-label">Course Name:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoCourseName" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Instructor:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoInstructorName" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Course Date(s):</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoDate" disabled>
								</div>
								<label class="col-lg-3 col-form-label">Time slot:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoTime" disabled>
								</div>
							</div>	
							<div class="" id="showRequired">
								<h5 style="color:red" >This is a required training</h5>
							</div>
							<div class="form-group row">
								<label class="col-lg-3 col-form-label">Course Description:</label>
								<div class="col-lg-9">
									<input type="text" class="form-control-plaintext" id="infoCourseDesc" disabled>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<input type="button" name="message" class="btn btn-danger" data-dismiss="modal" value="Back">
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--Information Modal End-->

		<div style="overflow-x:auto;display: block; white-space: nowrap" class="mt-5">
			<h3><i class="fa fa-list"></i> List of Available Courses</h3>
			<table id="data" class="table table-bordered table-responsive text-center" style="width:100%" 
					th:object="${viewCourseEnroll}">
				<colgroup >
					<col style="width:20%"/>
					<col style="width:30%"/>
					<col style="width:30%"/>
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:20%"/>
					<col style="width:20%"/>
				</colgroup>
				<thead>
					<tr>
						<th class="align-middle">Action</th>
						<th class="align-middle">Course Category</th>
						<th class="align-middle">Course Name</th>
						<th class="align-middle">Instructor</th>
						<th class="align-middle">Mandatory</th>
						<th class="align-middle">Deadline</th>
						<th class="align-middle ">Start Date & Time<br><hr> End Date & Time</th>
						<th class="align-middle">Duration(Hrs)</th>
						<th class="align-middle">Venue</th>
						<th class="align-middle">Minimum <br> Number of <br> Participants</th>
						<th class="align-middle">Maximum <br> Number of <br> Participants</th>
						<th class="align-middle">Total <br> Number of <br> Participants</th>
					</tr>
				</thead>
				<tbody th:each="courseSchedule : *{courseSchedules}"
						th:with="courseScheduleDetails = ${courseSchedule.getCourseScheduleDetails()}">
						
					<tr class="table-row" th:each=" courseScheduleDetail : ${courseScheduleDetails}" 
							th:with="courseScheduleId = ${courseSchedule.id}"
							th:attr="ondblclick=|showInformation('${courseScheduleId}','${courseSchedule.courseName}','${courseSchedule.instructorName}',${courseSchedule.mandatory},
									'${courseScheduleDetail.scheduledStartDateTime}','${courseScheduleDetail.scheduledEndDateTime}', '${courseSchedule.courseDetails}')|">
										
						<td th:hidden="${courseScheduleId}"/>
						<td class="align-middle" sec:authorize="hasAuthority('PMO')">
							<div class="tooltip-a">
								<button th:disabled="${#dates.format(#calendars.createNow(), 'yyyyMMddHHmm')} > ${#calendars.format(courseScheduleDetail.scheduledStartDateTime, 'yyyyMMddHHmm')}" 
										th:attr="onclick=|enrollMember('${courseScheduleId}','${courseSchedule.courseName}', '${courseScheduleDetail.id}', '${courseSchedule.maxAllowed}', '${courseSchedule.totalParticipants}')|" 
										type="button" class="btn btn-success" id="enrollMemberButton">Register</button>
								<span class="tooltiptext-a" th:if="${#dates.format(#calendars.createNow(), 'yyyyMMddHHmm')} > ${#calendars.format(courseScheduleDetail.scheduledStartDateTime, 'yyyyMMddHHmm')}">Registration has ended</span>	
							</div>		
						</td>
						<td class="align-middle" th:text="${courseSchedule.courseCategory}"/>
						<td class="align-middle" th:text="${courseSchedule.courseName}" th:with="courseScheduleName = ${courseSchedule.courseName}"/>
						<td class="align-middle" th:text="${courseSchedule.instructorName}" th:with="courseScheduleInstructor = ${courseSchedule.instructorName}"/>
						<td class="align-middle" th:text="${courseSchedule.mandatory} ? 'Yes' : 'No'"/> 
						<td class="align-middle" th:text="${courseSchedule.deadline}"/>  
						<td class="align-middle" th:utext="${#calendars.format(courseScheduleDetail.scheduledStartDateTime, 'MMM dd, yyyy (E)- hh:mm a')} + '&lt;br /&gt; <hr>' + 
						${#calendars.format(courseScheduleDetail.scheduledEndDateTime, 'MMM dd, yyyy (E) - hh:mm a')}"/>
						<td class="align-middle" th:text="${courseScheduleDetail.duration}"/>

						<td class="align-middle" th:text="${courseSchedule.venueName}"/>
						<td class="align-middle" th:text="${courseSchedule.minRequired}"/>
						<td class="align-middle" th:text="${courseSchedule.maxAllowed}"/>
						<td class="align-middle" th:text="${courseSchedule.totalParticipants}"/>

<!-- 						<td sec:authorize="hasAuthority('PMO')" class="sticky"> -->
<!-- 							<button class="btn btn-danger" name="" th:attr="onclick=|cancellation('${courseScheduleId}','${courseSchedule.courseName}')|"> -->
<!-- 								<i class="fa fa-times"></i> Cancel -->
<!-- 							</button> -->
<!-- 						</td> -->

					</tr>
				</tbody>
			</table>
			<nav aria-label="Pagination" th:if="${paginatedViewMemberCourse.totalPages gt 0} and ${!paginatedViewMemberCourse.isEmpty()}">
				<ul class="pagination justify-content-center font-weight-bold">
					<li class="page-item" th:classappend="${paginatedViewMemberCourse.number eq 0} ? 'disabled'">
						<a class="page-link" th:onclick="|onSubmit(); setPage('${paginatedViewMemberCourse.number lt 2 ? 1 : paginatedViewMemberCourse.number}'); document.getElementById('availableCourseForm').submit();|"
							aria-label="Previous" title="Previous Page" data-toggle="tooltip">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li class="page-item" th:classappend="${i eq paginatedViewMemberCourse.number + 1} ? 'active'" th:each="i : ${#numbers.sequence( 1, paginatedViewMemberCourse.totalPages, 1)}">
			            <a class="page-link" th:onclick="|onSubmit(); setPage('${i}'); document.getElementById('availableCourseForm').submit();|" th:text="${i}"
			               th:title="${'Page '+ i}" data-toggle="tooltip"></a>
		        	</li>
			        <li class="page-item" th:classappend="${paginatedViewMemberCourse.number + 1 eq paginatedViewMemberCourse.totalPages} ? 'disabled'">
			            <a class="page-link" th:onclick="|onSubmit(); setPage('${paginatedViewMemberCourse.number + 2}'); document.getElementById('availableCourseForm').submit();|"
				               aria-label="Next" title="Next Page" data-toggle="tooltip">
			                <span aria-hidden="true">&raquo;</span>
			            </a>
			        </li>
			    </ul>
			</nav>
			<div th:if="${#lists.isEmpty(viewCourseEnroll.courseSchedules)}">
				<div class="alert alert-dismissible alert-danger text-center">
					<strong th:text="${nullMessage}"></strong> 
				</div>
			</div>
			
		</div>
	</div>
	
	<footer th:replace="fragments/general.html :: footer"></footer>
	
<script th:inline="javascript">

	//EnrollMember
	function enrollMember(courseScheduleId, courseName, courseScheduleDetailId, maxParticipants, curParticipants){
		
		findEnrolledMemberByCourseScheduleId(courseScheduleId);
		findMemberNotEnrolledByCourseScheduleId(courseScheduleId);
		document.getElementById('registerCourseScheduleDetailId').value = courseScheduleDetailId;
		document.getElementById('registerCourseScheduleId').value = courseScheduleId;
		document.getElementById('registerCourse').textContent = "(" + courseName + ")";
		document.getElementById('maxCourseParticipants').value = maxParticipants;
		document.getElementById('curCourseParticipants').value = curParticipants;
		$('#registerMemberModal').modal('show');
	}
	//EnrollMember END

	//SUBMIT FROM/TO DATE TIME
	function onSubmit(){
		var toAppend = ":00.000+08:00[Asia/Singapore]";
		var fromDateTime = document.getElementById('fromDateTime').value;
		var toDateTime = document.getElementById('toDateTime').value;
		
		var inpFromDateTime = document.getElementById('inputFromDateTime');
		var inpToDateTime = document.getElementById('inputToDateTime');
		
		var finalFromDateTime = fromDateTime+toAppend;
		var finalToDateTime = toDateTime+toAppend;
	
		inpFromDateTime.value = finalFromDateTime;
		inpToDateTime.value = finalToDateTime;
		
		var mandatoryChk = document.getElementById('mandatorySel');
		var deadlineSel = document.getElementById('deadlineSel');
		
		if (mandatoryChk.value != "Yes") {
			deadlineSel.value = "-";
		}
	
		if (document.getElementById('filterBtn').className == "collapsible") {
			localStorage.setItem("showFilter", "false");
		} else {
			localStorage.setItem("showFilter", "true");
		}
		
		localStorage.setItem("courseCategory", document.getElementById('courseCategorydetail').value);
		localStorage.setItem("courseName", document.getElementById('courseNamedetail').value);
		localStorage.setItem("instructor", document.getElementById('instructordetail').value);
		localStorage.setItem("venue", document.getElementById('venuedetail').value);
		localStorage.setItem("mandatory", document.getElementById('mandatorySel').value);
		localStorage.setItem("deadline", document.getElementById('deadlineSel').value);
	}
	
	if(localStorage.getItem("courseCategory") != null) {
		document.getElementById('courseCategorydetail').value = localStorage.getItem("courseCategory");
		document.getElementById('courseNamedetail').value = localStorage.getItem("courseName");
		document.getElementById('instructordetail').value = localStorage.getItem("instructor");
		document.getElementById('venuedetail').value = localStorage.getItem("venue");
		document.getElementById('mandatorySel').value = localStorage.getItem("mandatory");

		var deadline = document.getElementById("deadlineDiv");
		var mandatory = document.getElementById('mandatorySel');
		var filterArea = document.getElementsByClassName("collapsible");
		
		if(localStorage.getItem("mandatory") != 'Yes') {
			deadline.style.display = "none";	
		} else {
			deadline.style.display = "flex";
		}
		
		if(localStorage.getItem("showFilter") != "true") {
			document.getElementById('filterItems').style.display = "none";
			document.getElementById('filterBtn').className = "collapsible";
		} else {
			document.getElementById('filterItems').style.display = "block";
			document.getElementById('filterBtn').classList.add("collapsible");
			document.getElementById('filterBtn').classList.add("active");
		}
		
		localStorage.clear();
	}
	
	//Information Modal
	function showInformation(id, courseName, instructorName, mandatory, scheduleStartDateTime, scheduleEndDateTime, courseDetails){
// 		alert(id + courseName + instructorName + scheduleStartDateTime + " | " + scheduleEndDateTime);
		var startDate = scheduleStartDateTime.slice(0,10);
		var startTime = moment.utc(scheduleStartDateTime, 'YYYY-MM-DD hh:mm').format(
		'hh:mm A');
		var endDate = scheduleEndDateTime.slice(0,10);
		var endTime = moment.utc(scheduleEndDateTime, 'YYYY-MM-DD hh:mm').format(
		'hh:mm A');

		var idInput = document.getElementById('infoId');
		idInput.value = id;
		
		document.getElementById('infoCourseDesc').value = courseDetails;
		
		var courseNameInput = document.getElementById('infoCourseName');
		courseNameInput.value = courseName;
		
		var instructorNameInput = document.getElementById('infoInstructorName');
		instructorNameInput.value = instructorName;
		
		
		if(mandatory == true){
			$('[id$=showRequired]').show();
		}
		else{
			$('[id$=showRequired]').hide();
		}
			
		var dateInput = document.getElementById('infoDate');
		dateInput.value = startDate;
		
		var timeInput = document.getElementById('infoTime');
		timeInput.value = startTime+" to "+endTime
		$('#infoModal').modal('show');
	}
	//Information Modal End
	
	//FromDateTime is Higher that ToDateTime
	/*<![CDATA[*/
	var errorMessage = /*[[${error}]]*/'default';
	if (errorMessage == "Invalid Date") {
		document.getElementById("toDateTime_error").innerHTML = "To Date should be greater than From Date";
	}
	/*]]>*/
	
	//DUPLICATE ENROLL
	/*<![CDATA[*/
	var duplicateMessage = /*[[${duplicateMessage}]]*/ 'default';
	if(duplicateMessage == "You are already enrolled in this course."){
		document.getElementById("message").innerHTML = duplicateMessage;
		$('#errorModal').modal('show');
	}
	/*]]>*/
	//DUPLICATE ENROLL END
	
	//SHOW ZONEDDATETIME IN TIMEDATE-LOCAL
	/*<![CDATA[*/
	var viewCourseEnroll = /*[[${viewCourseEnroll}]]*/ 'default';
		
		var finalFromDateTime = viewCourseEnroll.fromDateTime.slice(0,16);
		var finalToDateTime = viewCourseEnroll.toDateTime.slice(0,16);
		
		var inputFromDateTime = document.getElementById('fromDateTime');
		var inputToDateTime = document.getElementById('toDateTime');
		
		inputFromDateTime.value = finalFromDateTime;
		inputToDateTime.value = finalToDateTime;
	/*]]>*/
	
	//REGISTRATION START
	//SUCCESS ENROLL SHOW INFO MODAL
	/*<![CDATA[*/
	var successMsg = /*[[${successMsg}]]*/ 'default';

	if(successMsg === "Successfully enrolled the selected member(s)."){

		document.getElementById("successMessage").innerHTML = successMsg;
		$('#successModal').modal('show');
		
	} else if(successMsg === "Successfully removed the selected member(s).") {
		
		document.getElementById("successMessage").innerHTML = successMsg;
		$('#successModal').modal('show');
		
	}
	/*]]>*/
	
	//ERROR ENROLL
	/*<![CDATA[*/
	var errorMsg = /*[[${errorMsg}]]*/ 'default';
	if(errorMsg == "Failed to enroll a course!!!"){
		document.getElementById("message").innerHTML = errorMsg;
		$('#errorModal').modal('show');
	}
	
	/*]]>*/
	//REGISTRATION END
	
	
	//FILTER COLLAPSIBLE SCRIPT
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    }
	
	// show deadline if course is mandatory
	function showDeadline(){
		var mandatory = document.getElementById("mandatorySel");
		var deadlineDiv = document.getElementById("deadlineDiv");
		if(mandatory.value == "Yes"){
			deadlineDiv.style.display = "flex";
		} else {
			deadlineDiv.style.display = "none";
		}
	}

	//CLEAR SELECTED FILTERS
	function clearFilter(){
		document.getElementById("courseCategorydetail").placeholder = "Enter Course Category";
		document.getElementById("courseCategorydetail").value = "";
		document.getElementById("courseCategoryId").value = "";
		
		document.getElementById("courseNamedetail").placeholder = "Enter Course Name";
		document.getElementById("courseNamedetail").value = "";
		document.getElementById("courseNameId").value = "";
		
		document.getElementById("instructordetail").placeholder = "Enter Instructor";
		document.getElementById("instructordetail").value = "";
		document.getElementById("instructorId").value = "";
		
		document.getElementById("venuedetail").placeholder = "Enter Venue";
		document.getElementById("venuedetail").value = "";
		document.getElementById("venueId").value = "";
		
		document.getElementById("mandatorySel").value = "-";
		document.getElementById("deadlineSel").value = "-";
		document.getElementById("deadlineDiv").style.display = "none";
	}

	function removeMembers(){

		var courseId = document.getElementById("registerCourseScheduleId").value
		var chk=document.getElementsByName('removeChk');  
        var ids = "";
    
        for(var i=0; i<chk.length; i++){  
            if(chk[i].checked == true)  {
            	ids += chk[i].value + ",";
            }
        } 
        
        document.getElementById("batchIds").value = ids;
        document.getElementById("courseId").value = courseId;
        if(ids == "") {
        	document.getElementById("removeBtn").disabled = true;
        } else {
        	document.getElementById("removeBtn").disabled = false;
        }
        
	}        
	
	function enrollMembers(){

		var courseId = document.getElementById("registerCourseScheduleId").value
		var chk=document.getElementsByName('enrollChk');  
		var curParticipants = parseInt(document.getElementById("curCourseParticipants").value);
		var maxParticipants = parseInt(document.getElementById("maxCourseParticipants").value);
		var addedParticipants = 0;
        var ids = "";
    
        for(var i=0; i<chk.length; i++){  
            if(chk[i].checked == true)  {
            	ids += chk[i].value + ",";
            	addedParticipants += 1;
            }
        } 
        
        document.getElementById("enrollBatchIds").value = ids;
        document.getElementById("enrollCourseId").value = courseId;
        if(ids == "") {
        	document.getElementById("enrollBtn").disabled = true;
    		document.getElementById("enrollMemberMsg").style.display = "none";
        } else if(curParticipants + addedParticipants > maxParticipants) {
        	document.getElementById("enrollBtn").disabled = true;
    		document.getElementById("enrollMemberMsg").style.display = "block";
        } else {
        	document.getElementById("enrollBtn").disabled = false;
    		document.getElementById("enrollMemberMsg").style.display = "none";
        }
	}     
	
	function setPage(currPage){
		document.getElementById("currentPage").value = currPage;
	}
</script>
</body>
</html>