<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Attend Course List</title>
<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
<script th:src="@{/js/app/popper.min.js}"></script>
<script th:src="@{/js/app/bootstrap.min.js}"></script>
<script type="text/javascript" src="/js/lib/attend.js"></script>
</head>
<body>
	<div th:insert="fragments/general.html :: header"></div>
	<div class="container mt-5" style="min-height: calc(100vh - 180px)">
		<form class="form-horizontal" th:object="${attendCourseList}"
			method="get">
			<h3>
				<i class="fa fa-calendar-o"></i> Select Training Period
			</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row">
						<label class="col-lg-2 col-form-label" style="margin-left: 5%">From
							Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control"
								id="fromDateTime" required>
							<div class="text-danger" id="fromDateTime_error"></div>
							<input type="hidden" class="form-control" name="fromDateTime"
								id="inputFromDateTime">
						</div>
						<label class="col-lg-2 col-form-label">To Date</label>
						<div class="col-lg-3">
							<input type="datetime-local" class="form-control" id="toDateTime"
								required>
							<div class="text-danger" id="toDateTime_error"></div>
							<input type="hidden" class="form-control" name="toDateTime"
								id="inputToDateTime">
						</div>
						<div class="float-right">
							<input type="submit" class="btn btn-success" value="Submit"
								th:attr="onclick=|onSubmit()|">
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--Error Modal-->
		<div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label" id="message"></label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Error Modal End-->
		<div style="overflow-x: auto; display: block; white-space: nowrap"
			class="mt-5">
			<h3>
				<i class="fa fa-list"></i> List of Available Trainings
			</h3>
			<table id="data"
				class="table table-bordered table-responsive text-center"
				style="width: 100%">
				<colgroup>
					<col style="width: 20%" />
					<col style="width: 20%" />
					<col style="width: 30%" />
					<col style="width: 30%" />
					<col style="width: 10%" />
				</colgroup>
				<thead>
					<tr>
						<th>Course Name</th>
						<th>Instructor</th>
						<th>Start Date/Time</th>
						<th>End Date/Time</th>
						<th>Duration (in HRS)</th>
					</tr>
				</thead>
				<tbody
					th:each="setCourseScheduleForm : *{attendCourseList.courseSchedules}">
					<tr
						th:each="courseScheduleDetailForm : *{setCourseScheduleForm.courseScheduleDetails}"
						style="cursor: pointer;"
						onMouseOver="this.style.background='#DADADA'"
						onMouseOut="this.style.background='white'">
						<td th:text="${courseScheduleDetailForm.getId()}" id="id"
							style="display: none"></td>
						<td th:text="${setCourseScheduleForm.getCourseName()}"></td>
						<td th:text="${setCourseScheduleForm.getInstructorName()}"></td>
						<td
							th:text="${#temporals.format(courseScheduleDetailForm.getScheduledStartDateTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td
							th:text="${#temporals.format(courseScheduleDetailForm.getScheduledEndDateTime(), 'yyyy-MM-dd HH:mm:ss')}"></td>
						<td th:text="${courseScheduleDetailForm.getDuration()}"></td>
					</tr>
				</tbody>
			</table>
			<div th:if="${#lists.isEmpty(attendCourseList.courseSchedules)}">
				<div class="alert alert-dismissible alert-danger text-center">
					<strong th:text="${nullMessage}"></strong>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="fragments/general.html :: footer"></footer>
	<script th:inline="javascript">
        //FromDateTime is Higher that ToDateTime
        /*<![CDATA[*/
        var errorMessage = /*[[${error}]]*/'default';
        if (errorMessage == "To Date should be greater than or equal to From Date") {
            document.getElementById("toDateTime_error").innerHTML = errorMessage;
            //         $('#errorModal').modal('show');
        }
        /*]]>*/
        //SUBMIT FROM/TO DATE TIME END
        //SHOW ZONEDDATETIME IN TIMEDATE-LOCAL
        /*<![CDATA[*/
        var attendCourseList = /*[[${attendCourseList}]]*/'default';
        var finalFromDateTime = attendCourseList.fromDateTime.slice(0, 16);
        var finalToDateTime = attendCourseList.toDateTime.slice(0, 16);
        var inputFromDateTime = document.getElementById('fromDateTime');
        var inputToDateTime = document.getElementById('toDateTime');
        inputFromDateTime.value = finalFromDateTime;
        inputToDateTime.value = finalToDateTime;
        /*]]>*/
    </script>
</body>
</html>