<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Attend</title>
<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
<script th:src="@{/js/app/popper.min.js}"></script>
<script th:src="@{/js/app/bootstrap.min.js}"></script>
<style type="text/css">
div.text-danger {
    font-size: 20px;
}
</style>
</head>
<body>
	<div th:insert="fragments/general.html :: header"></div>
	<div class="container mt-5" style="min-height: calc(100vh - 180px)">
		<form class="form-horizontal" action="#"
			th:action="@{/attendance/signin/{courseScheduleDetailId} (courseScheduleDetailId= ${courseScheduleDetailId})}"
			th:object="${courseAttendance}" method="post">
			<div class="modal fade" th:if="${message}" id="successMessage"
				tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
				aria-hidden="true"></div>
			<h3>
				<i class="fa fa-info-circle"></i> Course Information
			</h3>
			<hr>
			<div class="card">
				<div class="card-body">
					<div class="form-group row">
						<label class="col-lg-3 col-form-label">Course Name:</label>
						<div class="col-lg-9">
							<label class="col-lg-3 col-form-label" th:text="*{courseName}"
								id="coursesName" /></label>
						</div>
						<label class="col-lg-3 col-form-label">Instructor:</label>
						<div class="col-lg-9">
							<label class="col-lg-3 col-form-label"
								th:text="*{instructorName}" /></label>
						</div>
						<label class="col-lg-3 col-form-label">Course Date:</label>
						<div class="col-lg-7">
							<label class="col-lg-3 col-form-label"
								th:text="*{#temporals.format(scheduledStartDateTime, 'yyyy-MM-dd')}" /></label>
						</div>
						<label class="col-lg-3 col-form-label">Timeslot:</label>
						<div class="col-lg-7">
							<label class="col-lg-3 col-form-label"
								th:text="*{#temporals.format(scheduledStartDateTime, ' HH:mm:ss a')}" /></label>
							<label class="col-lg-1 col-form-label"> - </label> <label
								class="col-lg-3 col-form-label"
								th:text="*{#temporals.format(scheduledEndDateTime, 'HH:mm:ss a')}" /></label>
						</div>
						<label class="col-lg-3 col-form-label">Venue:</label>
						<div class="col-lg-9">
							<label class="col-lg-3 col-form-label" th:text="*{venueName}" /></label>
						</div>
						<label class="col-lg-3 col-form-label">Course Description:</label>
						<div class="col-lg-9">
							<label class="col-lg-3 col-form-label"
								th:text="*{courseDescription}" /></label>
						</div>
					</div>
					<div class="text-center">
						<div class = "text-danger"
							th:if="not *{#temporals.createNow() le scheduledStartDateTime.plusMinutes(15).toLocalDateTime()}">
							The Course is Ongoing. If you still want to Sign In, Please Request for Change Attendance</div>
							<div class = "text-danger"
							th:if="not *{#temporals.createNow() ge scheduledStartDateTime.minusMinutes(30).toLocalDateTime()}">
							The Course has not yet started.</div>
						<div th:if="*{logoutDateTime} == null">
							<div th:if="*{loginDateTime} == null">
								<input type="submit" name="signin" id="buttonIn" 
								th:if="*{#temporals.createNow() le scheduledStartDateTime.plusMinutes(15).toLocalDateTime()
								&& #temporals.createNow() ge scheduledStartDateTime.minusMinutes(30).toLocalDateTime()}"							
									class="btn btn-success mr-2" value="Sign In"> <input
									type="button" onclick="Back()" name="back" id="bt"
									class="btn btn-secondary" value="Back">
							</div>
							<div th:if="*{loginDateTime} != null">
								<input type="submit" name="signout" id="buttonOut"
									class="btn btn-success mr-2" value="Sign Out"> <input
									type="button" onclick="Back()" name="back" id="bt"
									class="btn btn-secondary" value="Back">
							</div>
						</div>
						<div th:if="*{logoutDateTime} != null">
							<input type="button" onclick="Back()" name="back" id="bt"
								class="btn btn-secondary" value="Back">
						</div>
					</div>
				</div>
			</div>
		</form>
		<!--Signin Success Modal-->
		<div class="modal fade" id="successModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true"
			data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-success">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row"></div>
					</div>
				</div>
			</div>
		</div>
		<!--Signin Success Modal End-->
		<!--Signout Success Modal-->
		<div class="modal fade" id="signoutModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true"
			data-backdrop="static" data-keyboard="false">
			<div class="modal-dialog modal-sm text-center">
				<div class="modal-content">
					<div class="modal-header alert-danger">
						<h5 class="modal-title"></h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group row">
							<label class="col-lg-12 col-form-label">You have signed
								out to this {course}</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Signout Success Modal End-->
	</div>
	<footer th:replace="fragments/general.html :: footer"></footer>
	<script th:inline="javascript">
		/*<![CDATA[*/
		var message = /*[[${message}]]*/'default';
		var courseName = $('#coursesName').text();
		var message = 'You have ' + message + ' in to this ' + courseName;
	</script>
	<script type="text/javascript" src="/js/lib/attend.js"></script>
</body>
</html>