<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>Change Attendance Status</title>
<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
<script th:src="@{/js/app/popper.min.js}"></script>
<script th:src="@{/js/app/bootstrap.min.js}"></script>
<script th:src="@{/js/app/moment.min.js}"></script>
<script type="text/javascript" src="/js/lib/changeStatus.js"></script>
<style type="text/css">
div.text-danger {
    font-size: 12px;
    text-align: left;
}
</style>
</head>
<body>
    <div th:insert="fragments/general.html :: header"></div>
    <div class="container mt-5" style="min-height: calc(100vh - 180px)">
        <form class="form-horizontal" method="get">

            <h3>
                <i class="fa fa-check-square-o"></i> Change Attendance Status
            </h3>
            <hr>
            <div class="card">
                <div class="card-body">
                    <div class="form-group row justify-content-center">
                        <label class="col-lg-1">Course</label>
                        <div class="col-lg-6">
                            <select class="form-control courseSelect" id="id"
                                name='courseSelect' required onchange="ValidateDropDown(this)"
                                th:each="attendanceStatus : ${changeStatusForm}">
                                <option value=""></option>
                                <option th:each="courses : ${changeStatusForm.courses}"
                                    th:value="${courses.id}"
                                    th:selected="${courses.id eq lastSelected}"
                                    th:text="${courses.courseName}"></option>
                            </select>
                        </div>
                        <div class="col-lg-1">
                            <div
                                th:if="${#lists.isEmpty(changeStatusForm.participants)}">
                                <input type="button" onclick="choices()"
                                    class="btn btn-large btn-success disabled" value="Generate"
                                    name="button" id="button"></input>
                            </div>
                            <div
                                 th:if="${not #lists.isEmpty(changeStatusForm.participants)}">
                                <input type="button" onclick="choices()"
                                    class="btn btn-large btn-success" value="Generate"
                                    name="button" id="button"></input>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal fade" th:if="${message}" id="successMessage"
            tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true"></div>
        <div class="card mt-5"
            th:if="${not #lists.isEmpty(changeStatusForm.participants)}">
            <form class="form-horizontal" id="form" action="#"
                th:object="${changeStatusForm}"
                th:action="@{/attendance/{courseScheduleDetailId}/participants}"
                method="post">
                <div class="card-body">
                    <div class="col-lg-12"
                        style="overflow-x: auto; display: block; white-space: nowrap">

                        <table class="table table-responsive table-borderless data" 
                            id="data">
                            <colgroup>
                                <col style="width: 5%" />
                                <col style="width: 5%" />
                                <col style="width: 10%" />
                                <col style="width: 10%" />
                                <col style="width: 5%" />
                                <col style="width: 5%" />
                            </colgroup>
                            <thead>
                                <tr>
                                    <td style="display: none;"><label
                                        class="col-lg-5 col-form-label text-center"> Course
                                            Attendance ID</label></td>
                                    <td style="display: none;"><label
                                        class="col-lg-5 col-form-label text-center">
                                            Participant ID</label></td>
                                    <td><label class="col-lg-10 col-form-label text-center">
                                            Participant Name</label></td>
                                    <td><label class="col-lg-12 col-form-label text-center">
                                            Attendance Status</label></td>
                                    <td><label class="col-lg-11 col-form-label text-center">
                                            Time In</label></td>
                                    <td><label class="col-lg-11 col-form-label text-center">
                                            Time Out</label></td>
                                </tr>
                            </thead>
                            <tbody th:id="participantDetails">
                                <tr th:each="participants, stat : *{participants}"
                                    id="courseParticipants">

                                    <td style="display: none;">
                                        <div class="col-lg-10">
                                            <input type="button"
                                                th:attr="onclick=|momentofDate('${stat.index + 1}')|"
                                                style="display: none;"
                                                class="btn btn-large btn-success auto" value="Generate"
                                                name="button" id="auto">
                                        </div>
                                    </td>

                                    <td style="display: none;">
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control"
                                                th:field="*{participants[__${stat.index}__].courseAttendanceId}">
                                        </div>
                                    </td>

                                    <td style="display: none;">
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control"
                                                th:field="*{participants[__${stat.index}__].courseAttendanceId}">
                                        </div>
                                    </td>

                                    <td style="display: none;">
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control"
                                                th:field="*{participants[__${stat.index}__].participantId}">
                                        </div>
                                    </td>

                                    <td style="display: none;">
                                        <div class="col-lg-10">
                                            <input type="text" class="form-control"
                                                th:field="*{participants[__${stat.index}__].email}">
                                        </div>
                                    </td>

                                    <td style="display: none;">
                                        <div class="col-lg-15">
                                            <input type="text" class="form-control"
                                                th:field="*{participants[__${stat.index}__].name}">
                                        </div>
                                    </td>

                                    <td th:attr="onclick=|momentofDate('${stat.index + 1}')|">
                                        <label class="col-lg-10 col-form-label justify-content-center"
                                        th:text="*{participants[__${stat.index}__].name}"> </label>

                                    </td>
                                    <td>
                                        <div class="col-lg-15">
                                            <select class="form-control"
                                                th:id="${'statusDropDown' + (stat.index + 1)}"
                                                name="statusDropDown" id="statusDropDown"
                                                th:attr="onchange=|myFunction('${stat.index +1}')|">
                                                <option value="P"
                                                    th:field="*{participants[__${stat.index}__].status}">Present</option>
                                                <option value="A"
                                                    th:field="*{participants[__${stat.index}__].status}">Absent</option>
                                            </select> <input type="hidden"
                                                th:field="*{participants[__${stat.index}__].status}"
                                                id="status" th:id="${'status' + (stat.index + 1)}"
                                                name="status" />
                                            <div class="text-danger text-wrap" id="statusDropDown_error"></div>
                                        </div>
                                    </td>
                                    <td class="form-group">
                                        <div class="col-lg-15">
                                            <input type="time" class="form-control"
                                                th:attr="onchange=|momentofTime('${stat.index + 1}')|"
                                                th:id="${'startTime' + (stat.index + 1)}" id="startTime"
                                                name="startTime" /></div>

                                            <div class="text-danger text-wrap"
                                                th:id="${'startTime' + (stat.index + 1) + '_error'}">
                                            </div>

                                            <input type="hidden" name="startDateTime" id="startDateTime"
                                                th:id="${'startDateTime' + (stat.index + 1)}"
                                                th:field="*{participants[__${stat.index}__].loginDateTime}">

                                            <input type="hidden" name="startDateTimeBackUp" value="null"
                                                placeholder="null"
                                                th:id="${'startDateTimeBackUp' + (stat.index + 1)}">

                                            <input type="hidden" name="momentTime"
                                                th:id="${'momentTime' + (stat.index + 1)}"> <input
                                                type="hidden" name="momentDate"
                                                th:id="${'momentDate' + (stat.index + 1)}"> <input
                                                type="hidden" id="scheduledTime" class="form-control"
                                                th:id="${'scheduledTime' + (stat.index + 1)}" /> <input
                                                type="hidden" id="getDate"
                                                th:id="${'getDate' + (stat.index + 1)}" /> <input
                                                type="hidden" id="getTime"
                                                th:id="${'getTime' + (stat.index + 1)}" /> <input
                                                type="hidden" name="momentTimeAbsent"
                                                th:id="${'momentTimeAbsent' + (stat.index + 1)}">
                                        
                                    </td>

                                    <td class="form-group">
                                        <div class="col-lg-15">
                                            <input type="time" class="form-control"
                                                th:attr="onchange=|momentofTime('${stat.index + 1}')|"
                                                th:id="${'endTime' + (stat.index + 1)}" id="endTime"
                                                name="endTime" />

                                            <div class="text-danger text-wrap"
                                                th:id="${'endTime' + (stat.index + 1) + '_error'}"></div>

                                            <input type="hidden" name="endDateTime"
                                                th:id="${'endDateTime' + (stat.index + 1)}"
                                                th:field="*{participants[__${stat.index}__].logoutDateTime}">

                                            <input type="hidden" name="endDateTimeBackUp" value="null"
                                                placeholder="null"
                                                th:id="${'endDateTimeBackUp' + (stat.index + 1)}"> <input
                                                type="hidden" name="momentEndTime"
                                                th:id="${'momentEndTime' + (stat.index + 1)}"> <input
                                                type="hidden" name="momentEndDate"
                                                th:id="${'momentEndDate' + (stat.index + 1)}"> <input
                                                type="hidden" id="scheduledEndTime" class="form-control"
                                                th:id="${'scheduledEndTime' + (stat.index + 1)}" /> <input
                                                type="hidden" id="getEndDate"
                                                th:id="${'getEndDate' + (stat.index + 1)}" /> <input
                                                type="hidden" id="getEndTime"
                                                th:id="${'getEndTime' + (stat.index + 1)}" /> <input
                                                type="hidden" name="momentEndTimeAbsent"
                                                th:id="${'momentEndTimeAbsent' + (stat.index + 1)}">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div>
                            <div class="float-right">
                                <input type="hidden" name="id" id="id"
                                    th:value="${changeStatusForm.id}"> <input type="button"
                                    class="btn btn-success mr-2" th:attr="onclick=|validations()|"
                                    value="Submit"> <input type="button" onclick="goBack()"
                                    class="btn btn-secondary" value="Back">
                            </div>
                        </div>
                    </div>

                    <!--Confirmation Modal-->
                    <div class="modal fade" id="confirmModal" tabindex="-1"
                        role="dialog" aria-labelledby="exampleModalLabel"
                        aria-hidden="true" data-backdrop="static" data-keyboard="false">
                        <div class="modal-dialog modal-sm text-center">
                            <div class="modal-content">
                                <div class="modal-header alert-warning">
                                    <h5 class="modal-title">Confirmation</h5>
                                    <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label class="col-lg-12 col-form-label">Are you sure
                                            you want to submit this form? </label>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">No</button>
                                        <input type="hidden" name="id" id="id" />
                                        <button type="submit" name="submit" value="submit"
                                            class="btn btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Confirmation Modal End-->

                </div>
            </form>
        </div>

        <!--Success Modal  style="display: none"-->
        <div class="modal fade" id="successModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true"
            data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm text-center">
                <div class="modal-content">
                    <div class="modal-header alert-success">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-lg-12 col-form-label">You have
                                successfully changed the status of the member</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Success Modal End-->

        <!--Error Modal-->
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel" aria-hidden="true"
            data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog modal-sm text-center">
                <div class="modal-content">
                    <div class="modal-header alert-danger">
                        <h5 class="modal-title">Error</h5>
                        <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div id="error" style="color: red"></div>
                            <label class="col-lg-12 col-form-label"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Error Modal End-->

    </div>
    <footer th:replace="fragments/general.html :: footer"></footer>
    <script th:inline="javascript">
        //Success Modal Validation
        /*<![CDATA[*/
        var successMessage = /*[[${message}]]*/'default';
    </script>
</body>

</html>