<!DOCTYPE html>
<!-- ================================================================================================== -->
<!-- Project Name : Training Sign Up -->
<!-- System Name  : Attendance -->
<!-- Name         : attend.html -->

<!-- <<Modification History>> -->
<!-- Version | Date       | Updated By            | Content -->
<!-- --------+------------+-----------------------+--------------------------------------------------- -->
<!-- 0.01    | ----/--/-- | WS) -		          | Created -->
<!-- 0.02    | 2021/06/08 | WS) m.padaca          | Updated -->
<!-- 0.03    | 2021/06/08 | WS) rl.naval          | Updated -->
<!-- 0.04    | 2021/06/16 | WS) rl.naval          | Updated -->
<!-- ================================================================================================== -->

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
	<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
	<script th:src="@{/js/app/popper.min.js}"></script>
	<script th:src="@{/js/app/bootstrap.min.js}"></script>

</head>

<body>
	<div th:insert="fragments/general.html :: header"> </div>
	
	<div class="container mt-5" style="min-height: calc(100vh - 180px)">
	<th:block sec:authorize="isAuthenticated()">
		<h1>Hello, <th:block th:text="${name}"></th:block>!</h1>
		<hr>
	</th:block>
		<!--Member-->
		<!--<div sec:authorize="hasAuthority('Member')">-->
		<div th:if="${#authorization.expression('hasAuthority(''Member'')') and not#authorization.expression('hasAuthority(''Instructor'')') and not#authorization.expression('hasAuthority(''PMO'')')}">
		<div class="row h-100">
			<div class="card mb-5 col-lg-4 bg-danger text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have</h4>
						<h2 th:text="${memberTrainingsToday}"></h2>
						<h4>training/s to attend today</h3>
					</div>
				</div>
			</div>
			<div class="card mb-5 col-lg-4 bg-success text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have enrolled to</h4>
						<h2 th:text="${memberActiveCourses}"></h2>
						<h4>active course/s</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-5">
			<div class="card-header">
				<h3><i class="fa fa-exclamation-circle"></i> Enroll now!</h3>
			</div>
			<div class="card-body">
				<div style="overflow-x:auto;display: block; white-space: nowrap;">
					<table class="table table-bordered text-center">
						<thead>
							<th class="align-middle">Course Name</th>
							<th class="align-middle">Instructor</th>
							<th class="align-middle">Start Date & Time <hr> End Date & Time</th>
							<th class="align-middle">Venue</th>
						</thead>
						<tbody>
							<tr th:if ="${memberCourse.getStatus() == 'A' || memberCourse.getStatus() == 'O'}" 
							    th:each="memberCourse : *{memberCourses}">
								<td class="align-middle" th:text="${memberCourse.getCourseName()}"></td>
								<td class="align-middle" th:text="${memberCourse.getInstructorName()}"></td>
								<td class="align-middle" th:utext="${#temporals.format(memberCourse.getStartDateTime(), 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(memberCourse.getEndDateTime(), 'MMM dd, yyyy (E) - hh:mm a')}"></td>
								<td class="align-middle" th:text="${memberCourse.getVenueName()}"></td>
							</tr>							
						</tbody>
					</table>
					
					<div th:if="${#lists.isEmpty(memberCourses)}">
						<div class="alert alert-dismissible alert-danger text-center" >
  							<strong th:text="${error}"></strong> 
						</div>
					</div>
				</div>
				
				<div class="float-right">
						<a th:href="@{/enrollment/viewCourseEnroll}">View More <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		</div>
		<!--Member end-->
		<!--Instructor-->
		<div th:if="${#authorization.expression('hasAuthority(''Instructor'')') and not#authorization.expression('hasAuthority(''Member'')') and not#authorization.expression('hasAuthority(''PMO'')')}">
		<div class="row h-100">
			<div class="card mb-5 col-lg-4 bg-danger text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have</h4>
						<h2 th:text="${instructorCoursesToday}"></h2>
						<h4>training/s to teach today</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-5">
			<div class="card-header">
				<h3><i class="fa fa-list"></i> Your Courses</h3>
			</div>
			<div class="card-body">
				<div style="overflow-x:auto;">
					<table class="table table-bordered text-center">
						<thead>
							<th class="align-middle">Course Name</th>
							<th class="align-middle">Start Date & Time <hr> End Date & Time</th>
							<th class="align-middle">Venue</th>
						</thead>
						<tbody>
							<tr th:each="instructorCourse : *{instructorCourses}">
								<td class="align-middle" th:text="${instructorCourse.getCourseName()}"></td>
								<td class="align-middle" th:utext="${#temporals.format(instructorCourse.getStartDateTime(), 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(instructorCourse.getEndDateTime(), 'MMM dd, yyyy (E) - hh:mm a')}"></td>
								<td class="align-middle" th:text="${instructorCourse.getVenueName()}"></td>
							</tr>
							
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(instructorCourses)}">
						<div class="alert alert-dismissible alert-danger text-center">
  							<strong th:text="${error}"></strong> 
						</div>
					</div>
				</div>
				<div class="float-right">
						<a th:href="@{/schedules/view}">View More <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		</div>
		<!--Instructor end-->
		
		<!--PMO-->
		<div th:if="${#authorization.expression('hasAuthority(''PMO'')') and not#authorization.expression('hasAuthority(''Member'')') and not#authorization.expression('hasAuthority(''Instructor'')')}">
		<div class="card mb-5">
			<div class="card-header">
				<h3><i class="fa fa-exclamation-triangle"></i> Courses to Cancel</h3>
			</div>
			<div class="card-body">
				<div style="overflow-x:auto;display: block; white-space: nowrap;">
					<table class="table table-bordered text-center">
						<thead>
							<th class="align-middle">Course Name</th>
							<th class="align-middle">Instructor</th>
							<th class="align-middle">Start Date & Time <hr> End Date & Time</th>
							<th class="align-middle">Minimum <br> Number of <br> Participants</th>
							<th class="align-middle">Maximum <br> Number of <br> Participants</th>
							<th class="align-middle">Total <br> Number of <br> Participants</th>
						</thead>
						<tbody>
							<tr th:each="pmoCourse : *{pmoCourses}">
								<td class="align-middle" th:text="${pmoCourse.getCourseName()}"></td>
								<td class="align-middle" th:text="${pmoCourse.getInstructorName()}"></td>
								<td class="align-middle" th:utext="${#temporals.format(pmoCourse.getStartDateTime(), 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(pmoCourse.getEndDateTime(), 'MMM dd, yyyy (E) - hh:mm a')}"></td>
								<td class="align-middle" th:text="${pmoCourse.getMinRequired()}"></td>
								<td class="align-middle" th:text="${pmoCourse.getMaxAllowed()}"></td>
								<td class="align-middle" th:text="${pmoCourse.getEnrolled()}"></td>
							</tr>
							
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(pmoCourses)}">
						<div class="alert alert-dismissible alert-danger text-center">
  							<strong th:text="${error}"></strong> 
						</div>
					</div>
				</div>
				
				<div class="float-right">
						<a th:href="@{/enrollment/viewCourseEnroll}">View More <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		</div>
		<!--PMO end-->
		<!--Member/Instructor-->
		<div th:if="${#authorization.expression('hasAuthority(''Member'')') and #authorization.expression('hasAuthority(''Instructor'')') and not#authorization.expression('hasAuthority(''PMO'')')}">
		<div class="row h-100">
			<div class="card mb-5 col-lg-3 bg-danger text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have</h4>
						<h2 th:text="${memberTrainingsToday}"></h2>
						<h4>training/s to attend today</h3>
					</div>
				</div>
			</div>
			<div class="card mb-5 col-lg-3 bg-success text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have enrolled to</h4>
						<h2 th:text="${memberActiveCourses}"></h2>
						<h4>active course/s</h3>
					</div>
				</div>
			</div>
			<div class="card mb-5 col-lg-3 bg-warning text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have</h4>
						<h2 th:text="${instructorCoursesToday}"></h2>
						<h4>training/s to teach today</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-5">
			<div class="card-header">
				<h3><i class="fa fa-exclamation-circle"></i> Enroll now!</h3>
			</div>
			<div class="card-body">
				<div style="overflow-x:auto;display: block; white-space: nowrap;">
					<table class="table table-bordered text-center">
						<thead>
							<th class="align-middle">Course Name</th>
							<th class="align-middle">Instructor</th>
							<th class="align-middle">Start Date & Time <hr> End Date & Time</th>
							<th class="align-middle">Venue</th>
						</thead>
						<tbody>
							<tr th:each="memberCourse : *{memberCourses}">
								<td class="align-middle" th:text="${memberCourse.getCourseName()}"></td>
								<td class="align-middle" th:text="${memberCourse.getInstructorName()}"></td>
								<td class="align-middle" th:utext="${#temporals.format(memberCourse.getStartDateTime(), 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(memberCourse.getEndDateTime(), 'MMM dd, yyyy (E) - hh:mm a')}"></td>
								<td class="align-middle" th:text="${memberCourse.getVenueName()}"></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(memberCourses)}">
						<div class="alert alert-dismissible alert-danger text-center" >
  							<strong th:text="${errorMember1}"></strong> 
						</div>
					</div>
				</div>
				<div class="float-right">
						<a th:href="@{/enrollment/viewCourseEnroll}">View More <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		<div class="card mb-5">
			<div class="card-header">
				<h3><i class="fa fa-list"></i> Your Courses</h3>
			</div>
			<div class="card-body">
				<div style="overflow-x:auto;">
					<table class="table table-bordered text-center">
						<thead>
							<th class="align-middle">Course Name</th>
							<th class="align-middle">Start Date & Time <hr> End Date & Time</th>
							<th class="align-middle">Venue</th>
						</thead>
						<tbody>
							<tr th:each="instructorCourse : *{instructorCourses}">
								<td class="align-middle" th:text="${instructorCourse.getCourseName()}"></td>
								<td class="align-middle" th:utext="${#temporals.format(instructorCourse.getStartDateTime(), 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(instructorCourse.getEndDateTime(), 'MMM dd, yyyy (E) - hh:mm a')}"></td>
								<td class="align-middle" th:text="${instructorCourse.getVenueName()}"></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(instructorCourses)}">
						<div class="alert alert-dismissible alert-danger text-center">
  							<strong th:text="${errorInstructor1}"></strong> 
						</div>
					</div>
				</div>
				<div class="float-right">
						<a th:href="@{/schedules/view}">View More <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		</div>
		<!--Member/Instructor end-->
		<!--Instructor/PMO-->
		<div th:if="${#authorization.expression('hasAuthority(''Instructor'')') and #authorization.expression('hasAuthority(''PMO'')') and not#authorization.expression('hasAuthority(''Member'')')}">
		<div class="row h-100">
			<div class="card mb-5 col-lg-4 bg-danger text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have</h4>
						<h2 th:text="${instructorCoursesToday}"></h2>
						<h4>training/s to teach today</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-5">
			<div class="card-header">
				<h3><i class="fa fa-list"></i> Your Courses</h3>
			</div>
			<div class="card-body">
				<div style="overflow-x:auto;">
					<table class="table table-bordered text-center">
						<thead>
							<th class="align-middle">Course Name</th>
							<th class="align-middle">Start Date & Time <hr> End Date & Time </th>
							<th class="align-middle">Venue</th>
						</thead>
						<tbody>
							<tr th:each="instructorCourse : *{instructorCourses}">
								<td class="align-middle" th:text="${instructorCourse.getCourseName()}"></td>
								<td class="align-middle" th:utext="${#temporals.format(instructorCourse.getStartDateTime(), 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(instructorCourse.getEndDateTime(), 'MMM dd, yyyy (E) - hh:mm a')}"></td>
								<td class="align-middle" th:text="${instructorCourse.getVenueName()}"></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(instructorCourses)}">
						<div class="alert alert-dismissible alert-danger text-center">
  							<strong th:text="${errorInstructor2}"></strong> 
						</div>
					</div>
				</div>
				<div class="float-right">
						<a th:href="@{/schedules/view}">View More <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		<div class="card mb-5">
			<div class="card-header">
				<h3><i class="fa fa-exclamation-triangle"></i> Courses to Cancel</h3>
			</div>
			<div class="card-body">
				<div style="overflow-x:auto;display: block; white-space: nowrap;">
					<table class="table table-bordered text-center">
						<thead>
							<th class="align-middle">Course Name</th>
							<th class="align-middle">Instructor</th>
							<th class="align-middle">Start Date & Time <hr> End Date & Time</th>
							<th class="align-middle">Minimum <br> Number of <br> Participants</th>
							<th class="align-middle">Maximum <br> Number of <br> Participants</th>
							<th class="align-middle">Total <br> Number of <br> Participants </th>
						</thead>
						<tbody>
							<tr th:each="pmoCourse : *{pmoCourses}">
								<td class="align-middle" th:text="${pmoCourse.getCourseName()}"></td>
								<td class="align-middle" th:text="${pmoCourse.getInstructorName()}"></td>
								<td class="align-middle" th:utext="${#temporals.format(pmoCourse.getStartDateTime(), 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(pmoCourse.getEndDateTime(), 'MMM dd, yyyy (E) - hh:mm a')}"></td>
								<td class="align-middle" th:text="${pmoCourse.getMinRequired()}"></td>
								<td class="align-middle" th:text="${pmoCourse.getMaxAllowed()}"></td>
								<td class="align-middle" th:text="${pmoCourse.getEnrolled()}"></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(pmoCourses)}">
						<div class="alert alert-dismissible alert-danger text-center">
  							<strong th:text="${errorPmo2}"></strong> 
						</div>
					</div>
				</div>
				<div class="float-right">
						<a th:href="@{/enrollment/viewCourseEnroll}">View More <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		</div>
		<!--Instructor/PMO end-->
		<!--Member/PMO-->
		<div th:if="${#authorization.expression('hasAuthority(''PMO'')') and #authorization.expression('hasAuthority(''Member'')') and not#authorization.expression('hasAuthority(''Instructor'')')}">
		<div class="row h-100">
			<div class="card mb-5 col-lg-4 bg-danger text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have</h4>
						<h2 th:text="${memberTrainingsToday}"></h2>
						<h4>training/s to attend today</h3>
					</div>
				</div>
			</div>
			<div class="card mb-5 col-lg-4 bg-success text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have enrolled to</h4>
						<h2 th:text="${memberActiveCourses}"></h2>
						<h4>active course/s</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-5">
			<div class="card-header">
				<h3><i class="fa fa-exclamation-circle"></i> Enroll now!</h3> 
			</div>
			<div class="card-body">
				<div style="overflow-x:auto;display: block; white-space: nowrap;">
					<table class="table table-bordered text-center">
						<thead>
							<th class="align-middle">Course Name</th>
							<th class="align-middle">Instructor</th>
							<th class="align-middle">Start Date & Time <hr> End Date/Time</th>
							<th class="align-middle">Venue</th>
						</thead>
						<tbody>
							<tr th:each="memberCourse : *{memberCourses}">
								<td class="align-middle" th:text="${memberCourse.getCourseName()}"></td>
								<td class="align-middle" th:text="${memberCourse.getInstructorName()}"></td>
								<td class="align-middle" th:utext="${#temporals.format(memberCourse.getStartDateTime(), 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(memberCourse.getEndDateTime(), 'MMM dd, yyyy (E) - hh:mm a')}"></td>
								<td class="align-middle" th:text="${memberCourse.getVenueName()}"></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(memberCourses)}">
						<div class="alert alert-dismissible alert-danger text-center" >
  							<strong th:text="${errorMember2}"></strong> 
						</div>
					</div>
				</div>
				<div class="float-right">
						<a th:href="@{/enrollment/viewCourseEnroll}">View More <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		<div class="card mb-5">
			<div class="card-header">
				<h3><i class="fa fa-exclamation-triangle"></i> Courses to Cancel</h3>
			</div>
			<div class="card-body">
				<div style="overflow-x:auto;display: block; white-space: nowrap;">
					<table class="table table-bordered text-center">
						<thead>
							<th class="align-middle">Course Name</th>
							<th class="align-middle">Instructor</th>
							<th class="align-middle">Start Date & Time <hr> End Date & Time</th>
							<th class="align-middle">Minimum <br> Number of <br> Participants</th>
							<th class="align-middle">Maximum <br> Number of <br> Participants</th>
							<th class="align-middle">Total <br> Number of <br> Participants </th>
						</thead>
						<tbody>
							<tr th:each="pmoCourse : *{pmoCourses}">
								<td class="align-middle" th:text="${pmoCourse.getCourseName()}"></td>
								<td class="align-middle" th:text="${pmoCourse.getInstructorName()}"></td>
								<td class="align-middle" th:utext="${#temporals.format(pmoCourse.getStartDateTime(), 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(pmoCourse.getEndDateTime(), 'MMM dd, yyyy (E) - hh:mm a')}"></td>
								<td class="align-middle" th:text="${pmoCourse.getMinRequired()}"></td>
								<td class="align-middle" th:text="${pmoCourse.getMaxAllowed()}"></td>
								<td class="align-middle" th:text="${pmoCourse.getEnrolled()}"></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(pmoCourses)}">
						<div class="alert alert-dismissible alert-danger text-center">
  							<strong th:text="${errorPmo1}"></strong> 
						</div>
					</div>
				</div>
				<div class="float-right">
						<a th:href="@{/enrollment/viewCourseEnroll}">View More <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		</div>
		<!--Member/PMO end-->
		<!--Member/Instructor/PMO-->
		<div th:if="${#authorization.expression('hasAuthority(''Member'')') and #authorization.expression('hasAuthority(''Instructor'')') and #authorization.expression('hasAuthority(''PMO'')')}">
		<div class="row h-100">
			<div class="card mb-5 col-lg-3 bg-danger text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have</h4>
						<h2 th:text="${memberTrainingsToday}"></h2>
						<h4>training/s to attend today</h3>
					</div>
				</div>
			</div>
			<div class="card mb-5 col-lg-3 bg-success text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have enrolled to</h4>
						<h2 th:text="${memberActiveCourses}"></h2>
						<h4>active course/s</h3>
					</div>
				</div>
			</div>
			<div class="card mb-5 col-lg-3 bg-warning text-white mx-auto">
				<div class="card-body text-center align-items-center d-flex justify-content-center">
					<div style="overflow-x:auto;">
						<h4>You have</h4>
						<h2 th:text="${instructorCoursesToday}"></h2>
						<h4>training/s to teach today</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-5">
			<div class="card-header">
				<h3><i class="fa fa-exclamation-circle"></i> Enroll now!</h3> 
			</div>
			<div class="card-body">
				<div style="overflow-x:auto;display: block; white-space: nowrap;">
					<table class="table table-bordered text-center">
						<thead>
							<th class="align-middle">Course Name</th>
							<th class="align-middle">Instructor</th>
							<th class="align-middle">Start Date & Time <hr> End Date/Time</th>
							<th class="align-middle">Venue</th>
						</thead>
						<tbody>
							<tr th:each="memberCourse : *{memberCourses}">
								<td class="align-middle" th:text="${memberCourse.getCourseName()}"></td>
								<td class="align-middle" th:text="${memberCourse.getInstructorName()}"></td>
								<td class="align-middle" th:utext="${#temporals.format(memberCourse.getStartDateTime(), 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(memberCourse.getEndDateTime(), 'MMM dd, yyyy (E) - hh:mm a')}"></td>
								<td class="align-middle" th:text="${memberCourse.getVenueName()}"></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(memberCourses)}">
						<div class="alert alert-dismissible alert-danger text-center" >
  							<strong th:text="${errorMember3}"></strong> 
						</div>
					</div>
				</div>
				<div class="float-right">
						<a th:href="@{/enrollment/viewCourseEnroll}">View More <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		<div class="card mb-5">
			<div class="card-header">
				<h3><i class="fa fa-list"></i> Your Courses</h3>
			</div>
			<div class="card-body">
				<div style="overflow-x:auto;">
					<table class="table table-bordered text-center">
						<thead>
							<th class="align-middle">Course Name</th>
							<th class="align-middle">Start Date & Time <hr> End Date & Time</th>
							<th class="align-middle">Venue</th>
						</thead>
						<tbody>
							<tr th:each="instructorCourse : *{instructorCourses}">
								<td class="align-middle" th:text="${instructorCourse.getCourseName()}"></td>
								<td class="align-middle" th:utext="${#temporals.format(instructorCourse.getStartDateTime(), 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(instructorCourse.getEndDateTime(), 'MMM dd, yyyy (E) - hh:mm a')}"></td>
								<td class="align-middle" th:text="${instructorCourse.getVenueName()}"></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(instructorCourses)}">
						<div class="alert alert-dismissible alert-danger text-center">
  							<strong th:text="${errorInstructor3}"></strong> 
						</div>
					</div>
				</div>
				<div class="float-right">
						<a th:href="@{/schedules/view}">View More <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		<div class="card mb-5">
			<div class="card-header">
				<h3><i class="fa fa-exclamation-triangle"></i> Courses to Cancel</h3>
			</div>
			<div class="card-body">
				<div style="overflow-x:auto;display: block; white-space: nowrap;">
					<table class="table table-bordered text-center">
						<thead>
							<th class="align-middle">Course Name</th>
							<th class="align-middle">Instructor</th>
							<th class="align-middle">Start Date & Time <hr> End Date & Time</th>
							<th class="align-middle">Minimum <br> Number of <br> Participants</th>
							<th class="align-middle">Maximum <br> Number of <br> Participants</th>
							<th class="align-middle">Total <br> Number of <br> Participants</th>
						</thead>
						<tbody>
							<tr th:each="pmoCourse : *{pmoCourses}">
								<td class="align-middle" th:text="${pmoCourse.getCourseName()}"></td>
								<td class="align-middle" th:text="${pmoCourse.getInstructorName()}"></td>
								<td class="align-middle" th:utext="${#temporals.format(pmoCourse.getStartDateTime(), 'MMM dd, yyyy (E) - hh:mm a')} + '<hr>' + ${#temporals.format(pmoCourse.getEndDateTime(), 'MMM dd, yyyy (E) - hh:mm a')}"></td>
								<td class="align-middle" th:text="${pmoCourse.getMinRequired()}"></td>
								<td class="align-middle" th:text="${pmoCourse.getMaxAllowed()}"></td>
								<td class="align-middle" th:text="${pmoCourse.getEnrolled()}"></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${#lists.isEmpty(pmoCourses)}">
						<div class="alert alert-dismissible alert-danger text-center">
  							<strong th:text="${errorPmo3}"></strong> 
						</div>
					</div>
				</div>
				<div class="float-right">
						<a th:href="@{/enrollment/viewCourseEnroll}">View More <i class="fa fa-arrow-circle-right"></i></a>
				</div>
			</div>
		</div>
		</div>
		<!--Member/Instructor/PMO end-->
	
		<footer th:replace="fragments/general.html :: footer"></footer>
	</div>

</body>

</html>