<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 
//	Author: Jimenez, John Carlo
//  Last Modified: 06/02/2020
 -->
<head>
<meta charset="UTF-8">
<title>Update Venue</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<h1 class="mb-5 mt-5">Update Venue</h1>
	
	<form action="#" th:action="@{/venues/update}" th:object="${venueUpdate}" method="post">
	
	<div class="w-50 mb-5">
	  <ul class="list-unstyled text-danger">
	    <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
	        <span th:text="${e.global}? '*' : ${e.fieldName}">The field name</span> |
	        <span th:text="${e.message}">The error message</span>
	    </li>
	  </ul>
  	</div>
  	
	<div class="form-group" th:each="Id : *{Id}">
		<label for="Id">Venue ID</label>
		<input type="text" name="Id" placeholder="Id" class="form-control" th:value="${Id}" readonly/>
	</div>
	<div class="form-group mb-5" th:each="Venue: *{venue}">
		<label class="mt-4" for="Venue">Update Venue Name</label>
	  	<input type="text" name="Venue" placeholder="Name" class="form-control" th:value="${Venue}"/>
	</div>
	<div>
		<a href="#" onclick="history.go(-1);" class="float-sm-left  btn btn-primary">Back</a>
		<button type="submit" name="submitUpdate" value="submitUpdate" class="float-sm-right  btn btn-primary"><i class="fa fa-pencil"></i> Update</button>
	</div>
	</form>
</div>

</body>
</html>