<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Venue</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
	<h1 class="mb-5 mt-5">Update Venue</h1>
	<form action="#" th:action="@{/venues/update/}" th:object="${venueUpdate}" method="post">
	<div class="form-group mb-5" th:each="VN : *{VNs}">
		<label for="venueId">Update Venue ID</label>
		<input type="text" name="venueId" placeholder="Id" class="form-control" th:value="${VN.id}"/>
		<label class="mt-4" for="venueName">Update Venue Name</label>
	  	<input type="text" name="venueName" placeholder="Name" class="form-control" th:value="${VN.name}"/>
	</div>
	<button type="submit" name="update" value="update" class="float-sm-right  btn btn-primary"> <i class="fa fa-pencil"></i>Update</button>
	</form>
</div>

</body>
</html>