<!DOCTYPE html>
<!--Iwarat, Jhon Harvey A-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Update</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<link
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"
	rel="stylesheet">
<body>
	<div class="container">
		<div>
			<H1 style="text-align: center">Employee Account Update</H1>
		</div>
		<div style="width: 80%">
			<form action="#" th:object="${updating}"
				th:action="@{/employee/Update}" method="post">
				<div>
					<ul>
						<li th:each="e : ${#fields.detailedErrors()}"
							th:class="${e.global}? globalerr : fielderr">
							<!--  <span
							th:text="${e.global}? '*' : ${e.fieldName}">The field name</span>-->
							| <span th:text="${e.message}">The error message</span></li>
					</ul>
				</div>
				<br> <br>
				<table style="width: 100%">
					<thead>
						<tr>
							<th>Employee Number</th>
							<td><input type="text" class="form-control" name="number"
								th:value="*{number}" /></td>
						</tr>
						<tr>
							<th>Last Name</th>
							<td><input class="form-control" type="text" name="lastName"
								th:value="*{lastName}" /></td>
						</tr>
						<tr>
							<th>First Name</th>
							<td><input class="form-control" type="text" name="firstName"
								th:value="*{firstName}" /></td>
						</tr>
						<tr>
							<th>Email Address</th>
							<td><input class="form-control" type="text"
								name="emailAddress" th:value="*{emailAddress}" /></td>
						</tr>
						<tr>
							<th>Username</</th>
							<td><input class="form-control" type="text" name="username"
								th:value="*{username}" /></td>
						</tr>
					</thead>
				</table>
				<br> <br>
				<button class="btn btn-primary" type="submit" name="submit"
					value="submit">Update</button>
			</form>
		</div>
	</div>
</body>
</html>
