<!-- Author : Macabugao, Janella Marie  -->
<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--   Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> 

	<title>Employee Directory</title>
</head>
<body>
 <div class="container"> 

	<h3>Employee View Directory</h3>
	<hr>
	<form action="#" th:action="@{/employees/view}" th:object=${employeeView} method="post">
					<ul>
						<li th:each="e : ${#fields.detailedErrors()}"
							th:class="${e.global}? globalerr : fielderr"><span
							th:text="${e.global}? '*' : ${e.fieldName}">The field name</span>
							<span th:text="${e.message}">The error message</span></li>
					</ul> 
      <div class="container my-3">
           <div class="row">
                <div class="col-md-8 mx-auto">
                   <div class="form-row">
                     <div class="col-md-6 form-group">
                         <label>Enter the ID you want to View </label>
                        <input type="text" class="form-control" th:field="*{id}" name="id" /> 
                      <label th:errorclass="fieldError" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">ID error </label>  
                    </div>   
      <table class="table table-bordered table-striped">
		     <thead class="thead-dark">
			    <tr>
				    <th>First Name</th>
				    <th>Last Name</th>
				  	<th>Email Address</th>
				    <th>User Name</th>
			  </tr>
		     </thead>
		   <tbody>
			      <tr>	
			         <tr th:each="employee : ${employeeView}">
			         <td th:text="*{firstName}" />	
				     <td th:text="*{lastName}" />	
				     <td th:text="*{emailAddress}" />	
				     <td th:text="*{userName}" />	
			     </tr>
		    </tbody>
      </table>
	        <button type="submit" class="btn btn-primary">View</button>
         </div>
      </div>
  </div>           
</div>       
</form>               
</div> 	
</body>
</html>

