<!-- ================================================================================================== -->
<!-- Project Name : Training Sign Up -->
<!-- System Name  : Venue Management -->
<!-- Name         : jduView.html -->

<!-- <<Modification History>> -->
<!-- Version | Date       | Updated By            | Content -->
<!-- --------+------------+-----------------------+--------------------------------------------------- -->
<!-- 0.01    | 28/06/2021 | WS) dw.cardenas       | Created -->
<!-- ================================================================================================== -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="" />
<meta name="author" content="" />
<title>JDU</title>
<link rel="stylesheet" type="text/css" href="/css/app/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/app/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/app/scheduling/scheduling.common.css">
<link rel="stylesheet" type="text/css" href="/css/app/roletype/roletype.common.css">
<script th:src="@{/js/app/jquery-3.5.1.js}"></script>
<script th:src="@{/js/app/popper.min.js}"></script>
<script th:src="@{/js/app/bootstrap.min.js}"></script>
</head>

<body>
	<div th:insert="fragments/general.html :: header"></div>

	<!-- Update Modal -->
	<div class="modal fade" id="updateModal" tabindex="-1" role="dialog"
		data-backdrop="static" data-keyboard="false"
		aria-labelledbye="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header alert-info">
					<h5 class="modal-title">Update Department</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="jduUpdateForm" th:action="@{/jdu/update}" method="POST">
					<div class="modal-body">
						<div class="form-group row">
							<input type="hidden" id="jduUpdateId" name="id"/>
							<div class="col-lg-3">
								<label class="col-form-label">JDU:</label>
							</div>
							<div class="col-lg-9">
								<input type="text" placeholder="Enter jdu name" id="jduUpdateName"
									class="form-control" maxlength="100" name="name" onkeyup="validateUpdateInput()"/>
								<span id="nameErrorMsg" style="color: red;"></span>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" id="updateButton" class="btn btn-success">Update</button>
						<button type="button" class="btn btn-primary" onclick="resetUpdateForm()" data-dismiss="modal">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Update Modal End -->

	<!-- Delete Modal -->
	<div class="modal fade" id="deleteInfoModal" tabindex="-1" role="dialog"
		data-backdrop="static" data-keyboard="false"
		aria-labelledbye="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header alert-info">
					<h5 class="modal-title">Delete jdu</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label class="col-lg-12 col-form-label">Are you sure you
							want to delete this JDU? In doing so, the action cannot be undone.</label>
						<label class="col-lg-3 col-form-label"> JDU Name:</label>
						<div class="col-lg-9">
							<label class="col-lg-12 col-form-label" id="jduName"
								name="jduName"></label>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<form id="jduDeleteForm" method="POST">
						<button type="submit" class="btn btn-danger">Yes, delete it.</button>
						<button class="btn btn-primary"
							data-dismiss="modal">No, keep it.</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- Delete Modal End -->

	<!-- Success Modal -->
	<div class="modal fade" id="successModal" tabindex="-1" role="dialog"
		data-backdrop="static" data-keyboard="false"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-sm text-center">
			<div class="modal-content">
				<div class="modal-header alert-success">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label class="col-lg-12 col-form-label" th:text="${message}"></label>
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-primary" data-dismiss="modal"
						value="Okay" onclick="refreshPage()">
				</div>
			</div>
		</div>
	</div>
	<!-- Success Modal End -->

	<div class="container mt-5">
		<h3>
			<i class="fa fa-calendar-o"></i> Manage JDU
		</h3>
		<hr>
		<div class="card">
			<div class="card-body">
				<form class="form-horizontal" th:action="@{/jdu/search}" method="GET">
					<div class="form-group row justify-content-center">
						<label class="col-lg-1 col-form-label">Search:</label>
						<div class="col-lg-8">
							<input type="Text" class="form-control" id="searchJduName"
								name="searchKeyName" maxlength="100" tabindex="1"/>
						</div>
						<div class="float-right">
							<input type="submit" class="btn btn-success" tabindex="2" value="Submit">
						</div>
					</div>
				</form>
			</div>
		</div>

		<div class="card mb-5">
			<div class="card-header">
				<h3>
					<i class="fa fa-cogs"></i> JDU List
				</h3>
			</div>
			<div class="card-body">
				<div style="overflow-x: auto; display:block">
					<a class="btn btn-info pull-right" th:href="@{/jdu/create}">Add New JDU</a><br><br>
					<table class="table table-bordered text-center">
						<thead>
							<tr>
								<th style = "width: 20%"> Action </th>
								<th style = "width: 80%"> JDU </th>
							</tr>
						</thead>
						<tbody th:each = "jdu : *{jduList}">
							<tr>
								<td style = "width: 20%">
									<input type="submit" value="Edit" class="btn btn-success"
										th:attr="onclick=|showUpdateModal('${jdu.id}', '${jdu.jduName}')|"/>
									<input type="submit" value="Delete" class="btn btn-danger"
										th:attr="onclick=|showDeleteModal('${jdu.id}', '${jdu.jduName}')|"/>
								</td>
								<td th:text = "${jdu.jduName}"\>
							</tr>
						</tbody>
					</table>

					<div th:if = "${#lists.isEmpty(jduList)}">
						<div class="alert alert-dismissible alert-danger text-center">
							<strong>No jdu available</strong>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		var venueList = /*[[${jduList}]]*/ [];
	</script>
	<script type="text/javascript" src="/js/lib/jduView.js"></script>
	<footer th:replace="fragments/general.html :: footer"></footer>
</body>
</html>
